@model prjCatChaOnlineShop.Models.ViewModels.CproductsTotal

@{
    ViewData["Title"] = "商城商品管理";
    Layout = "~/Areas/AdminCMS/Views/Shared/CMS_Layout.cshtml";
}


@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <style>
        /* 原始圖片的視窗 */
        .image-popup {
            display: none;
            position: absolute;
            top: 0;
            left: 150px;
            /* 將視窗放在圖片右側 */
            /* max-width: 100%; */
            /* 視窗寬度 */
            background-color: #aaa;
            padding: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            z-index: 1;
        }

            .image-popup img {
                width: 300px;
            }

        /* 縮略圖片的樣式 */
        .thumbnail-image {
            /* position: relative; */
            cursor: pointer;
            /* 將鼠標指針設置為手型以指示圖片可懸停 */
        }

        .test {
            position: relative;
        }

        .form-select {
            width: 200px;
            height: 40px;
        }

        #description {
            height: 400px;
        }

        #pickdate {
            width: 250px;
        }

        .company-list{
            height:150px;
            overflow:auto;
        }
    </style>
}

<div class="middle-content">

    <div class="row align-items-center">
        <div class="d-flex justify-content-between">
            <h2 class="mt-3">商城產品管理</h2>
            <div class="d-block">
                <button class="btn btn-primary small-btn ms-1 mt-3" data-bs-toggle="modal" href="#addSuppierModalToggle" role="button">新增供應商</button>
                <button class="btn btn-primary small-btn mt-3" data-bs-toggle="modal" href="#addProductModalToggle" role="button">新增商品</button>
            </div>
        </div>
    </div>
    <!---新增產品 modal-->
    <!---新增產品 modal-->
    <!---篩選上架日期-->

    <div class="container-fluid">
        <label for="excel" class="form-label">批次匯入</label>
        <a href="https://docs.google.com/spreadsheets/d/1yCuigS66mjcwfBNEYdFIFNba0FtEz2o2ziHq6K3rZnE/edit?usp=sharing"> 查看上傳範例 </a>
        <div class="col-md-6 d-flex">
            <input class="form-control w-50" type="file" id="excel"  accept=".xlsx"/>
            <button class="btn btn-primary" id="upload">上傳</button>
        </div>
        <label for="pickdate" class="form-label">上架日期篩選</label>
        <div class="d-flex">
            <input type="datetime-local" class="form-control" id="pickdate">
            <select class="form-select" id="CpayLists">
                <option value="" selected disabled>請選擇類別</option>
                @foreach (var category in Model.ProductCategories)
                {
                    <option value="@category.ProductCategoryId">@category.CategoryName</option>
                }
            </select>
            <button class="btn btn-primary" id="start-query">查詢</button>
        </div>
    </div>

    <!---篩選上架日期-->

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <!--表格-->
                <table id="Product-table" class="table table-striped nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>序號</th>
                            <th>商品名稱</th>
                            <th>描述</th>
                            <th>價格</th>
                            <th>剩餘數量</th>
                            <th>類別</th>
                            <th>上架日期</th>
                            <th>尺寸</th>
                            <th>重量</th>
                            <th>供應商</th>
                            <th>是否停售</th>
                            <th>編輯/刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <!--編輯彈出視窗-->
                    <!--編輯彈出視窗-->
                </table>
                <!--表格-->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProductModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h5 class="modal-title" id="addProductModalToggleLabel">新增商品</h5><button class="btn-info" id="demoBtn">Demo</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--內容表單-->
                <div class="row">
                    <div class="col-md-6">
                        <label>名稱</label>
                        <input type="text" id="name" class="form-control" name="ProductName" required>
                    </div>
                    <div class="col-md-6">
                        <label>價格</label>
                        <input type="text" id="price" class="form-control" name="ProductPrice">
                    </div>
                    <div class="col-md-6">
                        <label>剩餘數量</label>
                        <input type="text" id="remainingquantity" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label>商品類別</label>
                        <select class="form-control" id="category" name="ProductCategory" required>
                            <option selected>請選擇</option>
                            @foreach (var category in Model.ProductCategories)
                            {
                                <option value="@category.ProductCategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>上架日期</label>
                        <input type="datetime-local" id="releasedate" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label>下架日期</label>
                        <input type="datetime-local" id="offdate" class="form-control" name="offDate">
                    </div>
                    <div class="col-md-6">
                        <label>規格</label>
                        <input type="text" id="size" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label>重量</label>
                        <input type="text" id="weight" class="form-control" required>
                    </div>
                    <div class="col-md-6 d-flex flex-column" id="productSpecifications">
                        <div class="d-flex align-items-center">
                            <label>商品細項</label>
                            <i class="fa-regular fa-square-plus ms-1" id="addproductSpecifications"></i>
                            <i class="fa-regular fa-square-minus ms-1" id="minusproductSpecifications"></i>
                        </div>
                        <input type="text" class="form-control specifications" id="specifications-0" required>
                    </div>
                    <div class="col-md-6">
                        <label>折扣</label>
                        <input type="text" id="discount" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>供應商</label>
                        <select class="form-control" id="supplier" required>
                            <option selected>請選擇</option>
                            @foreach (var suppliers in Model.Suppliers)
                            {
                                <option value="@suppliers.SupplierId">@suppliers.CompanyName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label>圖片</label>
                        <input type="file" class="form-control" id="image" name="ShopProductImageTable" accept="image/*" multiple required />
                    </div>
                    <div class="col-md-6">
                        <label>是否上首頁</label>
                        <input class="form-check-input" type="checkbox" value="" id="pinToShop" name="pinToShop" />
                    </div>
                    <div class="col-md-12">
                        <label>需要AI幫忙生成商品描述嗎?</label>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <input type="text" class="form-control" id="keyword01" placeholder="關鍵字 1">
                                <input type="text" class="form-control" id="keyword02" placeholder="關鍵字 2">
                                <input type="text" class="form-control" id="keyword03" placeholder="關鍵字 3">
                            </div>
                            <div class="d-block">
                                <button class="btn btn-primary" onclick="generateArticles()">幫我生成文章</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>商品描述</label>
                        <textarea id="description" class="form-control" name="ProductDescription"></textarea>
                    </div>
                    <div id="preview" class="row mt-3 justify-content-between"></div>
                    <button type="submit" class="mt-3 btn btn-primary btn-block" name="submitButton" id="submitButton"
                            style="width: 100%;">
                        儲存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditProductModalToggle" aria-hidden="true"
     aria-labelledby="EditProductModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditProductModalToggleLabel">編輯 Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--內容表單-->
                <div class="row">
                    <div class="col-md-6">
                        <label>ID</label>
                        <input type="text" id="editor-id" name="ProductId" class="form-control" readonly disabled>
                    </div>
                    <div class="col-md-6">
                        <label>名稱</label>
                        <input type="text" id="editor-name" class="form-control" name="ProductName">
                    </div>
                    <div class="col-md-6">
                        <label>價格</label>
                        <input type="text" id="editor-price" class="form-control" name="ProductPrice">
                    </div>
                    <div class="col-md-6">
                        <label>剩餘數量</label>
                        <input type="text" id="editor-remainingquantity" class="form-control" name="RemainingQuantity">
                    </div>
                    <div class="col-md-6">
                        <label>商品類別</label>
                        <select class="form-control" id="editor-category" name="ProductCategory">
                            <option selected>請選擇</option>
                            @foreach (var category in Model.ProductCategories)
                            {
                                <option value="@category.ProductCategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>上架日期</label>
                        <input type="datetime-local" id="editor-releasedate" class="form-control" name="ReleaseDate">
                    </div>
                    <div class="col-md-6">
                        <label>下架日期</label>
                        <input type="datetime-local" id="editor-offdate" class="form-control" name="offDate">
                    </div>
                    <div class="col-md-6">
                        <label>尺寸</label>
                        <input type="text" id="editor-size" class="form-control" name="Size">
                    </div>
                    <div class="col-md-6">
                        <label>重量</label>
                        <input type="text" id="editor-weight" class="form-control" name="Weight">
                    </div>
                    <div class="col-md-6 d-flex flex-column" id="edit-productSpecifications">
                        <div class="d-flex align-items-center">
                            <label>商品細項</label>
                            <i class="fa-regular fa-square-plus ms-1" id="edit-addproductSpecifications"></i>
                            <i class="fa-regular fa-square-minus" id="edit-minusproductSpecifications"></i>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label>折扣</label>
                        <input type="text" id="editor-discount" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>供應商</label>
                        <select class="form-control" id="editor-supplier">
                            <option selected>請選擇</option>
                            @foreach (var suppliers in Model.Suppliers)
                            {
                                <option value="@suppliers.SupplierId">@suppliers.CompanyName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label>圖片</label>
                        <input type="file" class="form-control" id="editor-image" name="ShopProductImageTable" accept="image/*" multiple />
                    </div>
                    <div class="col-md-12">
                        <label>選擇要修改的圖片編號</label>
                        <select id="editor-imgID" class="form-control">
                            <option selected>請選擇</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>是否停售</label>
                        <input class="form-check-input" type="checkbox" value="" id="editor-discontinued" name="Discontinued" />
                        <label>是否上首頁</label>
                        <input class="form-check-input" type="checkbox" value="" id="editor-pinToShop" name="pinToShop" />
                    </div>
                    <div class="col-md-12">
                        <label>需要AI幫忙生成商品描述嗎?</label>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <input type="text" class="form-control" id="keyword1" placeholder="關鍵字 1">
                                <input type="text" class="form-control" id="keyword2" placeholder="關鍵字 2">
                                <input type="text" class="form-control" id="keyword3" placeholder="關鍵字 3">
                            </div>
                            <div class="d-block">
                                <button class="btn btn-primary" onclick="generateArticle()">幫我生成文章</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>商品描述</label>
                        <textarea id="editor-description" class="form-control" name="ProductDescription"></textarea>
                    </div>
                    <div class="col-md-12 d-flex " id="editor-img">
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary btn-block" name="submitButton-edior" id="submitButton-edior"
                            style="width: 100%;">
                        儲存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSuppierModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSuppierModalToggleLabel">新增供應商</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="companyNames">請填入公司名稱</span>
                    <input type="text" class="form-control" value="" placeholder="公司名稱" id="companyName" aria-label="companyName" aria-describedby="companyName">
                </div>
                @*                 <div class="input-group mb-3">
                <span class="input-group-text" id="contactPhones">請填入公司電話</span>
                <input type="text" class="form-control" value="" placeholder="公司電話" id="contactPhone" aria-label="contactPhone" aria-describedby="contactPhone">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text" id="contactAddresss">請填入公司地址</span>
                <input type="text" class="form-control" value="" placeholder="公司地址" id="contactAddress" aria-label="contactAddress" aria-describedby="contactAddress">
                </div> *@
                <div class="company-list">
                    <ul class="list-group">
                        @foreach (var suppliers in Model.Suppliers)
                        {
                            <li class="list-group-item">@suppliers.CompanyName</li>
                        }
                    </ul>
                </div>
                <button type="submit" class="mt-3 btn btn-primary btn-block w-100" id="submitButtonCompany">
                    儲存
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*引用日期插件*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <!---File export--->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>

    <script>
        // 查看json結構
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("LoadDatatable", "Product")',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        let now = new Date();
        let year = now.getFullYear();
        let month = String(now.getMonth() + 1).padStart(2, '0'); // months are 0-based
        let day = String(now.getDate()).padStart(2, '0');
        let hours = String(now.getHours()).padStart(2, '0');
        let minutes = String(now.getMinutes()).padStart(2, '0');
        let dateTimeString = `${year}-${month}-${day}T${hours}:${minutes}`;
        $(document).on("click", '#demoBtn', function () {
            const name = $('#name').val('好好吃的貓食')
            const price = $('#price').val('100')
            const remain = $('#remainingquantity').val('100')
            const select = $('#category').val('1')
            const relesedate = $('#releasedate').val(dateTimeString);
            const offdate = $('#offdate').val('2023-09-16T13:00')
            const size = $('#size').val('30cm*30cm')
            const weight = $('#weight').val('1kg')
            const discount = $('#discount').val('0.5')
            const supplier = $('#supplier').val('1')
            const keyword_one = $('#keyword01').val('營養貓食')
            const keyword_two = $('#keyword02').val('蛋白質豐富')
            const keyword_three = $('#keyword03').val('膳食纖維')
            const specifications = $('#specifications-0').val('綜合口味')
        })

        let id = 1;
        $(document).on('click', '#addproductSpecifications', function () {
            const productSpecifications = $('#productSpecifications');
            const addproductSpecifications = $(`<input type="text" class="form-control specifications" id="specifications-${id}"></input>`);
            productSpecifications.append(addproductSpecifications);
            id++;
        });
        $(document).on('click', '#edit-addproductSpecifications', function () {
            const productSpecifications = $('#edit-productSpecifications');
            const addproductSpecifications = $('<input type="text" class="form-control specifications edit-specifications"></input>');
            productSpecifications.append(addproductSpecifications);
        });
        $(document).on('click', '#edit-minusproductSpecifications', function () {
            const productSpecifications = $('#edit-productSpecifications');
            const lastInput = productSpecifications.find('input.specifications:last');
            lastInput.remove();
        });


        $(document).on("change", "#image", function () {
            var files = $(this)[0].files;
            if (files.length > 3) {
                alert("您只能上傳最多3張圖片");
                this.value = "";
                return;
            }

            var preview = $("#preview");
            preview.empty();

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var img = $(`<img id="item-${file.name}">`).addClass("img-thumbnail w-50");
                var removeBtn = $('<button class="btn btn-danger removeImgs mt-2">刪除</button>')
                var imgContainer = $('<div class="col-sm-5 img-container d-inline-flex flex-column align-items-center">').append(img, removeBtn);
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.attr("src", e.target.result);
                    };
                })(img);
                reader.readAsDataURL(file);
                preview.append(imgContainer);
            }

            // 用通用的選擇器而不是特定於每個檔案名的選擇器。
            $(document).on("click", ".removeImgs", function () {
                $(this).parent().remove();  // 移除該圖片的父容器（即 imgContainer）
            });

            // 在這裡初始化 SortableJS
            var sortable = new Sortable(preview[0], {
                sort: true,
                animation: 150,
            });
        });


        //初始化表格==================================================

        var table = $('#Product-table').DataTable({
            responsive: true,
            "paging": true,
            "ajax": {
                "url": "@Url.Action("LoadDatatable", "Product" , new{ area="AdminCMS"})",
                type: 'GET',
            },
            //載入欄位資料庫資料==========================================
            "columns": [
                { "data": "productId" },
                { "data": "productName" },
                { "data": "productDescription" },
                { "data": "productPrice" },
                { "data": "remainingQuantity" },
                { "data": "productCategory" },
                { "data": "releaseDate" },
                { "data": "size" },
                { "data": "weight" },
                { "data": "supplier" },
                { "data": "discontinued" },
                {
                    "data": "productId",
                    "render": function (data, type, row) {
                        //var deleteUrl = '@Url.Action("Delete", "Product", new { area = "AdminCMS", id = "productId" })';
                        //deleteUrl = deleteUrl.replace('productId', row.productIdd);
                        return `<button class="edit-button " data-id="${row.productId}" data-bs-toggle="modal" data-bs-target="#EditProductModalToggle"><i class="fas fa-edit"></i></button> `;
                    }
                }
            ],
            dom: 'lBfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'print'
            ]
        });


        //篩選類別==============================================
        // 在這裡指定需要過濾的列，商品類別為第六列->索引5
        columnDefs: [
            { targets: 5, searchable: true }
            //{ targets: 11, searchable: true }
        ]


        // 綁定select元素的change事件，當選擇條件改變時，重新過濾表格資料
        $('#CpayList').on('change', function () {
            var filterOption1 = $(this).val();

            // 使用DataTable的column().search()方法進行過濾
            table.column(5).search(filterOption1).draw();
        });



        //圖片預覽-當頁面載入完成後執行==================================

        document.addEventListener("DOMContentLoaded", function () {
            // 獲取所有包含縮略圖片和視窗的元素
            const thumbnailImages = document.querySelectorAll(".thumbnail-image");
            const imagePopups = document.querySelectorAll(".image-popup");

            // 對每個圖片進行事件處理
            thumbnailImages.forEach((thumbnailImage, index) => {
                // 當滑鼠懸停在圖片上時
                thumbnailImage.addEventListener("mouseover", function () {
                    // 顯示對應的原始圖片的視窗
                    imagePopups[index].style.display = "block";
                });

                // 當滑鼠移開圖片時
                thumbnailImage.addEventListener("mouseout", function () {
                    // 隱藏對應的原始圖片的視窗
                    imagePopups[index].style.display = "none";
                });
            });
        });

        //日期篩選器==============================
        $('input[name="dates"]').daterangepicker();
        $(document).ready(function () {
            var table = $('#salon-table').DataTable({
                responsive: true,
            });
        });

        //刪除按鈕================================
        $(document).ready(function () {
            $(document).on("click", ".delete-button", function () {
                var productId = $(this).data("id");

                Swal.fire({
                    title: '確定要刪除嗎?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var deleteButton = $(this);
                        $.ajax({
                            url: "/AdminCMS/Product/Delete",
                            type: "POST",
                            data: { id: productId },
                            success: function (response) {
                                if (response.success) {
                                    console.log("項目已成功刪除");
                                    deleteButton.closest("tr").remove();
                                    $('#Product-table').DataTable().ajax.reload();
                                } else {
                                    console.log("刪除項目失敗。");
                                }
                            },
                            error: function (error) {
                                console.log("刪除項目時發生錯誤：", error);
                            }
                        });
                    }
                });
            });
        });

        let productID = 0;
        let editSpecificationID = [];
        //編輯按鈕==============================================
        $('#Product-table').on('click', '.edit-button', function () {
            productID = $(this).data('id')
            $("#edit-productSpecifications input").remove();
            $.ajax({
                url: '/AdminCMS/Product/EditShopProducts?id=' + productID,
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        $('#editor-img').empty();
                        $("#editor-imgID").empty();
                        $('#editor-id').val(response.data.productId);
                        $('#editor-name').val(response.data.productName);
                        $('#editor-description').val(response.data.productDescription);
                        $('#editor-price').val(response.data.productPrice);
                        $('#editor-remainingquantity').val(response.data.remainingQuantity);
                        $('#editor-category').val(response.data.productCategoryId);
                        $('#editor-releasedate').val(response.data.releaseDate);
                        $('#editor-size').val(response.data.size);
                        $('#editor-weight').val(response.data.weight);
                        $("#editor-discount").val(response.data.discount);
                        $('#editor-supplier').val(response.data.supplier.supplierId);
                        $('#editor-discontinued').prop("checked", response.data.discontinued);
                        $('#editor-image').val(response.data.shopproductImagetable);
                        $('#editor-pinToShop').prop("checked", response.data.pushToShop)
                        $('#editor-offdate').val(response.data.offDay)

                        $.each(response.data.shopProductImageTable, function (index, value) {
                            var blockdiv = $(`<div class="d-flex flex-column align-items-center" id="item-${value.productImageId}"></div>`)
                            var img = $('<img class="img-thumbnail previewable-image w-25">').attr('src', value.productPhoto).attr('data-image-id', value.productImageId);
                            var spanImgID = $('<h6>').text(`圖片編號：${value.productImageId}`);
                            // var frontCover = $(`<input type="checkbox" class="frontCoverCheckbox" data-product-image-id="${value.productImageId}">`).prop("checked", value.frontCover);
                            var button = $(`<button class="btn btn-danger deletedImg mt-2" data-product-image-id="${value.productImageId}">刪除</button>`);
                            var selectID = $('<option>').val(value.productImageId).text(value.productImageId);
                            var container = $('<div class="image-container mt-2">').css('display', 'flex');
                            blockdiv.append(spanImgID, img, button)
                            container.append(blockdiv);
                            $('#editor-img').append(container);
                            $("#editor-imgID").append(selectID);
                        });
                        $.each(response.data.shopProductSpecification, function (index, value) {
                            var editproductSpecifications = $("#edit-productSpecifications")
                            const SpecificationID = value.id
                            editSpecificationID.push(SpecificationID)
                            const editInput = $(`<input type="text" class="form-control edit-specifications" data-attr-id="${value.id}">`)
                            editInput.val(value.specification);
                            editproductSpecifications.append(editInput)
                        })
                        console.log(response.data)
                    } else {
                        alert(response.message);
                    }
                }
            });
        });
        $(document).on("click", ".deletedImg", function () {
            const id = $(this).data('product-image-id')
            $.ajax({
                url: "@Url.Action("DeleteEditImg" , "Product" , new{ area = "AdminCMS" })",
                type: "POST",
                data: JSON.stringify(id),
                contentType: "application/json",
                success: function (response) {
                    if (response.success) {
                        $('#item-' + id).remove()
                        $.ajax({
                            url: '/AdminCMS/Product/EditShopProducts?id=' + productID,
                            type: 'GET',
                            success: function (response) {
                                console.log(response.data)
                                $("#editor-imgID").empty();
                                $.each(response.data.shopProductImageTable, function (index, value) {
                                    var selectID = $('<option>').val(value.productImageId).text(value.productImageId);
                                    $("#editor-imgID").append(selectID);
                                })
                            }
                        })
                    }
                }
            })
        })
        $("#editor-image").on("change", function () {
            var files = this.files;

            if (files.length > 5) {
                alert("您只能上傳最多5張圖片");
                this.value = "";
            }

            const selectedImageId = $("#editor-imgID").val();
            const imgToUpdate = $(`.previewable-image[data-image-id="${selectedImageId}"]`);

            if (files.length > 0) {
                const file = files[0];
                if (file && file.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imgToUpdate.attr('src', e.target.result);
                    };
                    reader.readAsDataURL(file);
                } else {
                    alert('請選擇圖片');
                }
            }
        });
        let TypeEditor;
        let productImageId, isChecked;
        let lastUsedInputID = null;

        $('#editor-category').on('change', function () {
            TypeEditor = parseInt($(this).val(), 10);
        })
        let Type;
        $("#category").on("change", function () {
            Type = $(this).val()
        })

        $(document).on('change', '.frontCoverCheckbox', function () {
            productImageId = $(this).data('product-image-id');
            isChecked = $(this).is(':checked');
            console.log(productImageId);
        });
        // $("#edit-productSpecifications").on("input", ".specifications", function () {
        //     lastUsedInputID = $(this).data("attr-id")
        //     console.log("Last used input ID:", lastUsedInputID);
        //     specificValue = $(`#edit-productSpecifications input.specifications[data-attr-id="${lastUsedInputID}"]`).val();
        //     for(let i = 0 ; i<)
        //     console.log("最后使用的 input 的值是：", specificValue);
        // });


        //儲存按鈕==============================
        $('#submitButton-edior').click(function () {
            let specificationsArray = []
            let specificationsArrayID = []
            var id = $('#editor-id').val();
            var name = $('#editor-name').val()
            var description = $('#editor-description').val()
            var price = $('#editor-price').val()
            var remainingquantity = $('#editor-remainingquantity').val()
            var releasedate = $('#editor-releasedate').val()
            var size = $('#editor-size').val()
            var imgID = $("#editor-imgID").val()
            var offday = $("#editor-offdate").val()
            var weight = $('#editor-weight').val()
            var discount = $("#editor-discount").val()
            var supplier = $('#editor-supplier').val()
            var discontinued = $('#editor-discontinued').is(":checked")
            var pinToShop = $('#editor-pinToShop').is(":checked")
            console.log(editSpecificationID)
            var fileInput = $('#editor-image')[0];
            var file = fileInput.files;
            $("#edit-productSpecifications input.edit-specifications").each(function () {
                specificationsArray.push($(this).val());
                specificationsArrayID.push($(this).data('attr-id'))
                console.log(specificationsArray)
                console.log(specificationsArrayID)
            });
            let filteredSpecificationsArrayID = specificationsArrayID.filter(item => item !== undefined);
            const cShopproduct = {
                ProductId: id,
                productSpecificationID: filteredSpecificationsArrayID,
                productSpecification: specificationsArray
            }
            // var productId = id;
            // var productSpecificationID = editSpecificationID
            // var productSpecificationIDforEdit = lastUsedInputID;
            // var productSpecificationName = specificValue;

            var formData = new FormData();
            formData.append("ProductId", id);
            formData.append("Productname", name);
            formData.append("Productdescription", description);
            formData.append("ProductPrice", price);
            formData.append("RemainingQuantity", remainingquantity);
            formData.append("ProductCategoryId", TypeEditor);
            formData.append("ReleaseDate", releasedate);
            formData.append("Size", size);
            formData.append("Weight", weight);
            formData.append("SupplierId", supplier);
            formData.append("Discontinued", discontinued);
            formData.append("OffDay", offday)
            formData.append("Discount", discount)
            formData.append("ProductImageID", imgID)
            formData.append("ProductImageIDforFrontCover", productImageId);
            formData.append("FrontCover", isChecked);
            if (file) {
                for (var i = 0; i < file.length; i++) {
                    formData.append("ProductPhotos", file[i])
                }
            }
            formData.append("PushToShop", pinToShop)
            Swal.fire({
                title: '確定要修改產品嗎?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: '是',
                denyButtonText: `否`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "@Url.Action("EditShopProducts","Product" , new { area="AdminCMS" })",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.success) {
                                $.ajax({
                                    url: "/AdminCMS/Product/editorSpecificationID",
                                    type: "POST",
                                    data: JSON.stringify(cShopproduct),
                                    contentType: "application/json",
                                    success: function (response) {
                                    },
                                    error: function (xhr, status, error) {
                                        alert("儲存失敗: " + error);
                                    }
                                });
                            }
                            swal.fire("成功", "成功修改產品", "success");
                            $('#Product-table').DataTable().ajax.reload();
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('未修改產品', '', 'info')
                }
            })

        });
        $(document).on("click", "#submitButton", function () {
            const name = $("#name").val();
            const price = $("#price").val();
            const remainingquantity = $("#remainingquantity").val();
            const releasedate = $("#releasedate").val();
            const offdate = $("#offdate").val()
            const size = $("#size").val();
            const weight = $("#weight").val();
            const discount = $("#discount").val();
            const supplier = $("#supplier").val();
            const pinToShop = $("#pinToShop").is(":checked")
            const description = $("#description").val()
            var productSpecifications = $("#productSpecifications input.specifications");
            var fileInput = $('#image')[0];
            var file = fileInput.files;
            let formData = new FormData();
            formData.append("ProductName", name)
            formData.append("Productdescription", description);
            formData.append("ProductPrice", price);
            formData.append("ReleaseDate", releasedate);
            formData.append("Size", size);
            formData.append("Weight", weight);
            formData.append("RemainingQuantity", remainingquantity)
            formData.append("SupplierId", supplier);
            formData.append("OffDay", offdate)
            formData.append("Discount", discount)
            formData.append("PushToShop", pinToShop)
            formData.append("ProductCategoryId", Type)
            if (file) {
                for (let i = 0; i < file.length; i++) {
                    formData.append("ProductPhotos", file[i])
                }
            }
            var allFilled = true;
            productSpecifications.each(function (index, element) {
                var value = $(element).val();
                if (value === null || value === "") {
                    Swal.fire("錯誤", "產品細項不可為空", "error");
                    allFilled = false;
                    return false;
                } else {
                    formData.append("productSpecification", value);
                }
            });
            if (allFilled !== true) {
                return
            }
            Swal.fire({
                title: '確定要新增產品嗎?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: '新增',
                denyButtonText: `不新增`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "@Url.Action("CreateProduct" , "Product" , new { area="AdminCMS" })",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.success) {
                                swal.fire("成功", "成功新增產品", "success");
                                $('#Product-table').DataTable().ajax.reload();
                            }
                        }, error: function (jqXHR, textStatus, errorThrown) {
                            if (jqXHR.status === 400) { // 400 是 HTTP BadRequest
                                var message = jqXHR.responseText || "錯誤"; // 試圖讀取返回的訊息，或使用預設訊息
                                swal.fire("失敗", message, "error");
                            }
                        }
                    })
                } else if (result.isDenied) {
                    Swal.fire('未新增產品', '', 'info')
                }
            })
        })

        function generateArticle() {
            const keyword1 = $("#keyword1").val();
            const keyword2 = $("#keyword2").val();
            const keyword3 = $("#keyword3").val();

            $.ajax({
                url: "/AdminCMS/Product/GenerateArticle",
                method: "POST",
                data: { keyword1, keyword2, keyword3 },
                contentType: "application/x-www-form-urlencoded",
                dataType: "json",
                success: function (data) {
                    $("#editor-description").val(data.article);
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }
        async function generateArticles() {
            const keyword1 = $("#keyword01").val();
            const keyword2 = $("#keyword02").val();
            const keyword3 = $("#keyword03").val();

            
            $("#description").val("等待中...");

            try {
                const response = await axios.post("/AdminCMS/Product/GenerateArticle", {
                    keyword1,
                    keyword2,
                    keyword3
                });

                
                $("#description").val(response.data.article);
            } catch (error) {
                
                $("#description").val("產生失敗，請更換金鑰");
                console.error("Error:", error);
            }
        }

        $(document).on("click", "#submitButtonCompany", function () {
            const companyName = $("#companyName").val();
            const contactPhone = $("#contactPhone").val();
            const contactAddress = $("#contactAddress").val();

            $.ajax({
                url: "@Url.Action("SaveSuppier", "Product", new { area = "AdminCMS" })",
                method: "POST",
                data: JSON.stringify({
                    CompanyName: companyName,
                    ContactPhone: contactPhone,
                    CompanyAddress: contactAddress
                }),
                contentType: "application/json",
                success: function (response) {
                    if (response.success == true) {
                        $('#addSuppierModalToggle').modal('hide');
                        swal.fire("成功", "成功新增供應商", "success");
                        $('#Product-table').DataTable().ajax.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error: ", textStatus, errorThrown);
                    swal.fire("錯誤", "未成功新增", "warning");
                }
            });
        });

        //刪除按鈕================================
        $(document).ready(function () {
            $(document).on("click", ".delete-button", function () {
                var productId = $(this).data("id");

                Swal.fire({
                    title: '確定要刪除嗎?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var deleteButton = $(this);
                        $.ajax({
                            url: "/AdminCMS/Product/Delete",
                            type: "POST",
                            data: { id: productId },
                            success: function (response) {
                                if (response.success) {
                                    console.log("項目已成功刪除");
                                    deleteButton.closest("tr").remove();
                                    $('#Product-table').DataTable().ajax.reload();
                                } else {
                                    console.log("刪除項目失敗。");
                                }
                            },
                            error: function (error) {
                                console.log("刪除項目時發生錯誤：", error);
                            }
                        });
                    }
                });
            });
        });

        //excel
        $(document).ready(function () {
            $('#upload').click(function () {
                var file = document.getElementById("excel").files[0];
                if (file) {
                    var formData = new FormData();
                    formData.append("file", file);
                    $.ajax({
                        url: '@Url.Action("UploadExcel" , "Product" , new { area = "AdminCMS"})',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            swal.fire("成功", "成功匯入", "success");
                            $('#excel').val("");
                            $('#Product-table').DataTable().ajax.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            swal.fire("失敗", "匯入失敗", "error");
                        }
                    });
                } else {
                    swal.fire("警告", "未加入檔案", "error");
                }
            });
        });
        let CpayLists = "";
        $("#CpayLists").on("change", function () {
            CpayLists = $(this).val()
            console.log(CpayLists)
        })
        $(document).on('click', '#start-query', function () {
            let queryDate = $('#pickdate').val();
            console.log(queryDate)
            var newUrl = '/AdminCMS/Product/DoQuery?ReleaseDate=' + encodeURIComponent(queryDate) + '&ProductCategoryId=' + CpayLists;
            const data = {
                ReleaseDate: queryDate,
                ProductCategoryId: CpayLists || ""
            };
            $.ajax({
                url: '@Url.Action("DoQuery", "Product", new { area = "AdminCMS"})',
                type: 'GET',
                data: data,
                success: function (response) {
                    if (response.success) {
                        table.ajax.url(newUrl).load();
                        $('#pickdate').val("");
                        $('#CpayLists').val("").trigger('change');
                    }
                }
            });
        });




    </script>
    }

