@model IEnumerable<prjCatChaOnlineShop.Models.CModels.CCartItem>

@{
    ViewData["Title"] = "Cart";
}


@section Styles{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css">
    <link rel="stylesheet" href="~/css/onlyCart.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/myCss.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
}

<!-- Start All Title Box -->
<div class="all-title-box-picture all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>填寫結帳資料</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Index" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">結帳</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<!-- cart + summary -->
<section class=" my-5">
    <div class="container">
        <div class="row">
            <!-- cart -->
            <div class="col-lg-9 order-1 order-sm-1 order-md-1 order-xs-1">
                <div class="card border shadow-0">
                    <div id="goToDetail" class="m-4">
                        @{
                            if (Model != null)
                                foreach (var item in Model)
                                {

                                    <div class="row gy-3 mb-4" data-cid=" @item.cId">
                                        <div class="col-lg-6">
                                            <div class="me-lg-5">
                                                <div class="d-flex">
                                                    <img src="@item.cImgPath" class="border rounded me-3" style="width: 96px; height: 96px;" />
                                                    <div class="ml-5 mt-2">

                                                        <a href="@Url.Action("ShopDetail", "Index", new {pId = item.cId })" class="shop-prod-click nav-link">@item.cName</a>
                                                        <div class="">
                                                            <select data-product-id=@item.cId class="sel-attr form-select for-detail-select me-4">

                                                                @if (item.c子項目 != null && item.c其他子項目 != null)
                                                                {
                                                                    <option value="@item.c子項目" selected>@item.c子項目</option>

                                                                    foreach (var attr in item.c其他子項目)
                                                                    {
                                                                        <option value="@attr">@attr</option>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <option value="0">商品</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                            <div class="mt-2">
                                                <span>數量</span>
                                                <input data-product-id=@item.cId value=@item.c數量 min="1" max=@item.c剩餘庫存 class="form-control me-4 input-quantity" type="number" />
                                            </div>

                                            <div class="mt-2 ml-5">
                                                <p class=" mb-0">價格</p>
                                                <span class="h6 sub-total-price">$ @item.c小計</span><br />
                                                <small class="text-muted text-nowrap item-price">$ @item.cPrice</small><small>/份</small>
                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 d-flex flex-column justify-content-center align-items-sm-center align-items-md-start align-items-lg-center align-items-xl-end mb-2">
                                            <div class="float-md-end ">
                                                <button class="trashBtn" id="trashButton" data-cid=" @item.cId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <hr class="for-hr">
                                    </div>
                                }
                        }

                    </div>
                </div>
            </div>
            <!-- cart -->
            <!-- summary -->
            <div class="col-lg-3 order-2 order-sm-2 order-md-2 order-xs-2">
                <div class="card shadow-0 border">
                    <div class="card-body">
                        @*  <div class="d-flex justify-content-between">
                        <p class="mb-2">總價:</p>
                        <p class="mb-2">$329</p>
                        </div>
                        <div class="d-flex justify-content-between">
                        <p class="mb-2">折扣:</p>
                        <p class="mb-2 text-success">-$60</p>
                        </div>
                        <div class="d-flex justify-content-between">
                        <p class="mb-2">稅額:</p>
                        <p class="mb-2">$14</p>
                        </div> *@

                        <div class="d-flex justify-content-between">
                            <p class="mb-2">小計:</p>
                            <p id="totalPriceSummary" class="mb-2 fw-bold"> $@ViewBag.totalPrice </p>
                        </div>
                        <hr class="for-hr">
                        <div class="mt-3 d-flex justify-content-end">
                            <a asp-controller="Cart" asp-action="Checkout" class="checkout-btn ml-auto btn hvr-hover"> 前往結帳 </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- summary -->
        </div>
        <div class="col-lg-4 mt-5 order-1 order-sm-1 order-md-1 order-xs-1">
            <h4>安全且便利的購物</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <i class="fa-solid fa-rotate-left"></i>7天內免費退貨
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-mdb-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            免費退貨
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <i class="fa-regular fa-credit-card"></i>便捷的支付方式
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-mdb-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            便捷的支付方式
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <i class="fa-solid fa-cart-flatbed"></i>可送貨到府或其他指定地點
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-mdb-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            可送貨到府或其他指定地點
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Page -->
@section Scripts{
    <!-- ALL JS FILES -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js."></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/Cart.js"></script>
                //sweetalert
    <!--SWEET ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <
    <script>
        //動作:變更購物車內的數量，傳回值，在後端/ProductApi/CartEditQuantity中更新至session
        var cartItem = $('.shop-prod-click');
        var inputQuantity = $('.input-quantity');

        inputQuantity.on('change', function () {
            var newValue = $(this).val();// 獲取輸入的新值
            var rowElement = $(this).closest('.row');
            var selAttrForQuantity = rowElement.find('.sel-attr'); // 選取同一行內的子選項
            var attr = selAttrForQuantity.val();//獲取選到的商品的子選項
            var productId = $(this).data('product-id')

            console.log('New value:', newValue);
            // 在這裡可以使用 Ajax 將新值傳回後端
            $.ajax({
                url: '/ProductApi/CartEditQuantity',
                type: 'POST',
                data: { newQuantity: newValue, pId: productId, attr: attr },
                dataType: 'json',
                success: function (response) {
                    console.log(response.message)
                    console.log(response.messageTotal)
                    rowElement.find('.sub-total-price').text('$' + response.message);
                    //更新因為商品數量變化而改變的小計金額
                    $('#totalPriceSummary').text('$' + response.messageTotal);
                },
                error: function (error) {
                    console.error('Ajax Error:', error);
                }
            });
        });


        //動作:變更購物車內的項目，傳回值，在後端/ProductApi / CartEditQuantity中更新至session
        var selAttr = $('.sel-attr');
        var oldAttr; // 儲存舊值的變數
        // 在點擊下拉選單時更新舊值變數
        selAttr.on('click', function () {
            // 在點擊下拉選單時，將當前的值存入舊值變數中
            oldAttr = $(this).val();
            console.log('Old attr:', oldAttr);
        });


        selAttr.on('change', function () {
            var newAttr = $(this).val(); // 獲取輸入的新值

            var productId = $(this).data('product-id');
            console.log('New attr:', newAttr);
            console.log('old attr:', oldAttr);
            // 在這裡可以使用 Ajax 將新值和舊值傳回後端
            $.ajax({
                url: '/ProductApi/CartEditAttribute',
                type: 'POST',
                data: { oldAttribute: oldAttr, newAttribute: newAttr, pId: productId },
                dataType: 'json',
                success: function (response) {
                    // 重新整理頁面
                    location.reload();
                },
                error: function (error) {
                    console.error('Ajax Error:', error);
                }
            });
        });

        // 點擊商品時獲取識別ID
        var goToDetail = $('#goToDetail');

        goToDetail.on('click', '.shop-prod-click', function () {

            console.log(goToDetail);
            var productId = $(this).data('product-id');
            console.log('Clicked product ID:', productId);
            $.ajax({
                url: '/ProductApi/GetDetail',
                type: 'GET',
                data: { pId: productId },
                dataType: 'html',
                success: function (response) {
                    console.log('GoToDetail:', response.message);
                },
                error: function (error) {
                    console.error('Ajax Error:', error);
                }
            });
        });

        //刪除購物車的商品
        $('.trashBtn').on('click', function () {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    popup: 'custom-size',
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            var $button = $(this);

            // 觸發 SweetAlert2 對話框
            swalWithBootstrapButtons.fire({
                title: '確定要刪除嗎?',
                text: '刪除就要重新加囉!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '刪啦',
                cancelButtonText: '算了',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    //取得該商品id
                    var pId = $button.data('cid');
                    console.log(pId);
                    $.ajax({
                        type: "POST",
                        url: '/Cart/DeleteCartItem',
                        data: { id: pId },
                        success: function (response) {
                            //同步更新刪除畫面上的商品
                            var $itemcontainer = $('[data-cid="' + pId + '"]')
                            $itemcontainer.remove();
                            //更新因為商品數量變化而改變的小計金額
                            $('#totalPriceSummary').text('$' + response.total);
                            console.log(response);
                            swalWithBootstrapButtons.fire(
                                '刪掉囉',
                                'Your file has been deleted.',
                                'success'
                            );
                        }
                    })
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        '取消啦',
                        'Your imaginary file is safe :)',
                        'error'
                    );
                }
            });
        })

                //這樣可以在初始化更新小計金額，但用ViewBag就不用在這邊計算(productApi/AddtoCart)

                // // 獲取購物車的總金額
                /* var initialTotalPrice = */@*Html.Raw(Json.Serialize(Model.Sum(item => item.c小計)));*@

                // // 金總金額更新到畫面上
                // $('#totalPriceSummary').text('$' + initialTotalPrice.toFixed(2));


    </script>
}


