@using System.Text.Json;
@using prjCatChaOnlineShop.Models.CDictionary;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model prjCatChaOnlineShop.Models.ViewModels.CCheckoutViewModel
@{
    var jsonString = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOINGED_USER);
    ShopMemberInfo memberinfo = null;

    if (jsonString != null)
    {
        memberinfo = JsonSerializer.Deserialize<ShopMemberInfo>(jsonString);
    }
}

@{
    ViewData["Title"] = "Checkout";
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!--myCss-->
    <link rel="stylesheet" href="~/css/myCss.css">
    <style>
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 50px;
        }

            .input-group > .form-control,
            .input-group > .form-select,
            .input-group > .form-floating {
                position: relative;
                flex: 1 1 auto;
                width: 1%;
                min-width: 0;
                z-index: 1;
                height: initial !important;
            }

        .nav-link, .customer_info label {
            align-self: center;
            vertical-align: middle;
        }

        .selectwithBtn {
            display: flex;
            align-items: center;
        }

            .selectwithBtn select {
                flex: 1; /* 自動填充剩餘空間 */
                padding: 8px; /* 調整選項框的內邊距 */
            }

            .selectwithBtn button {
                padding: 8px 16px; /* 調整按鈕的內邊距 */
                background-color: #007bff; /* 設置按鈕背景顏色 */
                color: #fff; /* 設置按鈕文字顏色 */
                border: none; /* 移除按鈕邊框 */
                cursor: pointer; /* 讓鼠標顯示為手型 */
            }
    </style>
}

<!-- Start All Title Box -->
<div class="all-title-box-picture all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>填寫結帳資料</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Index" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">填寫結帳資料</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!--中間主畫面Start-->

<div class="cart-box-main">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-lg-12">
                <div class="odr-box">
                    <div class="title-left">
                        <h3>購物明細</h3>
                    </div>
                    <div class="rounded p-2 bg-light">
                        @{
                            if (Model != null && Model.cartItems != null)
                            {
                                foreach (var item in Model.cartItems)
                                {
                                    <div class="media mb-2 border-bottom">
                                        <div class="media-body">
                                            <a href="@Url.Action("ShopDetail", "Index", new {pId = item.cId })"> @item.cName </a>
                                            <div class="small text-muted">
                                                價格: NT @item.cPrice <span class="mx-2">|</span> 數量: @item.c數量
                                                <span class="mx-2">|</span> 小計: NT @item.c小計
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--貓幣折抵Start-->
        <!--新增catCoin-Margin的樣式-->
        <div class="row catCoin-Margin">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>紅利折抵</h3>
                    </div>
                    @if (HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOINGED_USER) != null && Model != null)
                    {
                        @*<div id="MemberId"> @memberinfo.MemberId </div>*@
                        <form class="needs-validation">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="useLoyalityPoint">
                                <label class="custom-control-label" for="useLoyalityPoint" id="loyalityPointBonus">使用 @Model.getCouponPrice.finalBonus 紅利折抵NT @Model.getCouponPrice.finalPrice</label>
                            </div>
                            <div class="ml-4 mb-2 small">您有<a class="ml-1 mb-2 small" style="color:#DE9E4F"> @memberinfo.LoyaltyPoints</a> 個紅利，單筆訂單最多可折抵10%商品金額</div>
                        </form>
                    }
                </div>
            </div>
        </div>
        <!--貓幣折抵End-->
        <!--使用優惠券欄位Start-->
        <div class="row ">
            <div class="col-sm-12 col-lg-12 mb-2">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>使用優惠券</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="cc-name">優惠券代碼</label>
                            <a class="ml-3" style="color:#DE9E4F" asp-controller="game" asp-action="index">沒有優惠券?點擊此連結玩貓貓大進擊抽優惠券！</a>
                            <div class="input-group mb-2">
                                <input id="CouponId" value="" hidden></input>
                                <input type="text" class="form-control" placeholder="請選擇優惠券" id="couponCodeInput"
                                       aria-label="請選擇優惠券" aria-describedby="button-addon2" data-coupon-specialoffer readonly>
                                <!-- 觸發互動視窗的按鈕 -->
                                <button class="coupon-box-btn ml-auto btn hvr-hover coupon-box" type="button"
                                        data-bs-toggle="modal" data-bs-target="#myCouponBackdrop">
                                    我的優惠券
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- 互動視窗內容 -->
                    <div class="modal fade " id="myCouponBackdrop" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="myCouponBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myCouponBackdropLabel">我的優惠券</h5>
                                    <button type="button" class="btn-close " data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="getCouponList" class="modal-body">
                                        @if (Model != null)
                                        {
                                            @if (Model.memberUsableCoupon != null)
                                            {
                                                @foreach (var coupon in Model.memberUsableCoupon)
                                                {

                                                    <div class="coupon-content flex-container">
                                                        <div class="coupon-left flex-container flex-1">
                                                            <div class="coupon-intro  text-center">
                                                                <!--刪除MyCss.css 123行，增加160行hover-->
                                                                <div class="coupon-status align-middle text-center">
                                                                    <button type="button" class="btn useCouponBtn"
                                                                            data-coupon-id="@coupon.CouponID"
                                                                            data-coupon-code="@coupon.CouponName"
                                                                            data-coupon-specialoffer="@coupon.SpecialOffer">
                                                                        使用
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="coupon-middle flex-container flex-1">
                                                                <div class="middle-left flex-1">
                                                                    <span class="coupon-tag">
                                                                        限用1次
                                                                    </span>&ensp;<span class="coupon-name" name="couponName"> @coupon.CouponName  </span>
                                                                    <div class="coupon-description">
                                                                        @coupon.CouponContent
                                                                    </div>
                                                                    <div class="coupon-time">
                                                                        有效期限：@coupon.ExpiryDate
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <!--增加style-->
                                <div class=" modal-footer ">
                                    <button type="button" class="coupon-btn" style="font-weight:bold;"
                                            data-bs-dismiss="modal">
                                        不使用優惠券
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--使用優惠券欄位End-->
        <!--訂購人資料Start-->
        <div class="row ">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="title-left">
                    <h3>訂購人資料</h3>
                </div>
                <div>
                    @if (HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOINGED_USER) != null)
                    {
                        <ul class="customer_info">
                            <li>姓名: @memberinfo.Name </li>
                            <li>電話: @memberinfo.PhoneNumber</li>
                            <li>Email： @memberinfo.Email</li>
                            <li>地址： @memberinfo.Address</li>
                        </ul>
                    }

                </div>
            </div>
        </div>
        <!--訂購人資料End-->
        <!--運送方式Start-->
        <div class="row">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="title-left">
                    <h3>運送方式</h3>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="DeliveryMethod_nav-tab" role="tablist">
                        <button class=" nav-link active" id="DeliveryMethod_711-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-711" type="button" role="tab"
                                aria-controls="DeliveryMethod_711-tab" aria-selected="true">
                            7-11取貨
                        </button>
                        <button class=" nav-link" id="DeliveryMethod_fami-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-fami" type="button" role="tab"
                                aria-controls="DeliveryMethod_fami-tab" aria-selected="false">
                            全家取貨
                        </button>
                        <button class="nav-link " id="DeliveryMethod_byHome-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-homeService" type="button" role="tab"
                                aria-controls="DeliveryMethod_byHome-tab" aria-selected="false">
                            宅配到府
                        </button>
                        <button class="nav-link" id="DeliveryMethod_post-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-post" type="button" role="tab"
                                aria-controls="DeliveryMethod_post-tab" aria-selected="false">
                            郵局配送
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="DeliveryMethod_nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-711" role="tabpanel"
                         aria-labelledby="DeliveryMethod_711-tab">
                        <ul>
                            <li>
                                <label for="711StoreName">取件的門市： </label>
                                <input id="select-seveneleven" type="text" name="711StoreName" class="checkout-inputs" size="18" readonly />
                                <!-- 觸發選擇711超商的按鈕 -->
                                <button type="button" class="chooseStore_btn" data-bs-toggle="modal"
                                        data-bs-target="#choose711Store">
                                    我儲存的門市
                                </button>
                                <!--7-11分頁內容-->
                                <div class="tab-pane fade show active" id="nav-credit" role="tabpanel" aria-labelledby="nav-credit-tab" style="display: contents;">
                                    <button class="chooseStore_btn" data-bs-toggle="modal" href="#SevenElevenToggle" role="button" id="showSevenEleven">選擇新的門市</button>
                                </div>
                                @*<button type="button" class="chooseStore_btn" id="choose711CVS">
                                選擇新的超商門市
                                </button>*@
                                <!-- 選擇711超商的互動視窗 -->
                                <div class="modal fade" id="choose711Store" data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="my711StoreLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="my711StoreLabel">我的7-11門市</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table addressBox_modal">
                                                    <thead>
                                                        <tr>
                                                            <th>選擇</th>
                                                            <th>超商門市</th>
                                                            <th>姓名</th>
                                                            <th>電話</th>
                                                            <th>刪除</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" name="select" value="option1">
                                                            </td>
                                                            <td>貴陽門市</td>
                                                            <td>徐雅莉</td>
                                                            <td>0923468145</td>
                                                            <td><span id="delete">刪除</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" name="select" value="option1">
                                                            </td>
                                                            <td>桂林門市</td>
                                                            <td>王小美</td>
                                                            <td>0985624473</td>
                                                            <td><span id="delete">刪除</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="coupon-btn"
                                                        data-bs-dismiss="modal">
                                                    確定
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--7-11彈出視窗-->
                                <div class="modal fade" id="SevenElevenToggle" tabindex="-1">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title pb-0" id="exampleModalToggleLabel">選擇 7-11 門市</h2>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!--內容表單-->
                                                <div class="row">
                                                    <div class="selectwithBtn">
                                                        <select id="sevenElevenStoreSelect">
                                                            <option value="">請選擇一家7-11門市</option>
                                                        </select>
                                                        <button type="button" class="btn btn-secondary mt-3 mb-3" id="submit-sevenEleven" data-bs-dismiss="modal">確定門市</button>
                                                    </div>

                                                    <div id="sevenElevenMap" style="width: 100%; height: 400px;"></div>
                                                </div>
                                                <!--內容表單-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--7-11彈出視窗-->
                            </li>
                            <li>
                                <label for="name">取件人姓名：</label>
                                <input type="text" id="711name" name="name" class="checkout-inputs" size="18" /><button class="ml-1 chooseStore_btn" id="cvsDemo">Demo</button>
                            </li>
                            <li>
                                <label for="phone">取件人電話：</label>
                                <input type="text" id="711phone" name="phone" class="checkout-inputs" size="18" />
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-fami" role="tabpanel"
                         aria-labelledby="DeliveryMethod_fami-tab">
                        <ul>
                            <li>
                                <label for="famiStoreName">取件的門市：</label>
                                <input id="select-familmart" type="text" name="famiStoreName" class="checkout-inputs" size="18" readonly />
                                <!-- 觸發選擇全家超商的按鈕 -->
                                <button type="button" class="chooseStore_btn" data-bs-toggle="modal"
                                        data-bs-target="#chooseFamiStore">
                                    選擇門市
                                </button>
                                <!--全家分頁內容-->
                                <div class="tab-pane fade" id="nav-ATM" role="tabpanel" aria-labelledby="nav-ATM-tab" style="display: contents;">
                                    @*取貨門市：<span id="select-familmart"></span>*@
                                    <button class="chooseStore_btn" data-bs-toggle="modal" href="#FamilyMartToggle" role="button" id="showFamilyMart">選擇新的門市</button>
                                </div>
                                <!-- 選擇全家超商的互動視窗 -->
                                <div class="modal fade" id="chooseFamiStore" data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="myFamiStoreLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title pb-0" id="myFamiStoreLabel">我的全家門市</h2>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table addressBox_modal">
                                                    <thead>
                                                        <tr>
                                                            <th>選擇</th>
                                                            <th>超商門市</th>
                                                            <th>姓名</th>
                                                            <th>電話</th>
                                                            <th>刪除</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" name="select" value="option1">
                                                            </td>
                                                            <td>全家大里店</td>
                                                            <td>鄭小璇</td>
                                                            <td>0984637265</td>
                                                            <td><span id="delete">刪除</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" name="select" value="option1">
                                                            </td>
                                                            <td>全家信義店</td>
                                                            <td>錢錢</td>
                                                            <td>0985624473</td>
                                                            <td><span id="delete">刪除</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="coupon-btn"
                                                        data-bs-dismiss="modal">
                                                    確定
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--全家彈出視窗-->
                                <div class="modal fade" id="FamilyMartToggle" tabindex="-1">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel">選擇全家門市</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!--內容表單-->
                                                <div class="row">
                                                    <div class="selectwithBtn">
                                                        <select id="familyMartStoreSelect">
                                                            <option value="">請選擇一家全家門市</option>
                                                        </select>
                                                        <button type="button" class="btn btn-secondary mt-3 mb-3" id="submit-familyMart" data-bs-dismiss="modal">確定門市</button>
                                                    </div>

                                                    <div id="familyMartMap" style="width: 100%; height: 400px;"></div>
                                                </div>
                                                <!--內容表單-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--全家彈出視窗-->
                            </li>
                            <li>
                                <label for="faminame">取件人姓名：</label>
                                <input type="text" id="faminame" name="name" class="checkout-inputs" size="18" />
                            </li>
                            <li>
                                <label for="famiphone">取件人電話：</label>
                                <input type="text" id="famiphone" name="phone" class="checkout-inputs" size="18" />
                            </li>
                        </ul>
                    </div>
                    <!--選擇宅配地址Start-->
                    <div class="tab-pane fade" id="nav-homeService" role="tabpanel"
                         aria-labelledby="DeliveryMethod_byHome-tab">
                        <div class="row ">
                            <div class="col-sm-12 col-lg-12 mb-3">
                                <nav class="mt-2">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <input class="nav-link active" id="nav-homeMemberInfo-tab"
                                               data-bs-toggle="tab" data-bs-target="#nav-homeMemberInfo" type="radio"
                                               name="deliveryHomeOption" role="tab" aria-controls="nav-homeMemberInfo"
                                               aria-selected="true" checked>
                                        <label for="nav-homeMemberInfo-tab">同訂購人資料</label>

                                        <input class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                               data-bs-target="#nav-profile" type="radio" name="deliveryHomeOption"
                                               role="tab" aria-controls="nav-profile" aria-selected="false">

                                        <label for="nav-profile-tab">從儲存的地址中挑選</label>

                                        <input class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                               data-bs-target="#nav-contact" type="radio" name="deliveryHomeOption"
                                               role="tab" aria-controls="nav-contact" aria-selected="false">

                                        <label for="nav-contact-tab">自填收件人資料</label>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-homeMemberInfo" role="tabpanel"
                                         aria-labelledby="nav-homeMemberInfo-tab">
                                        @if (HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOINGED_USER) != null)
                                        {
                                            <ul>
                                                <li>姓名：@memberinfo.Name </li>
                                                <li>電話：@memberinfo.PhoneNumber </li>
                                                <li>Email：@memberinfo.Email</li>
                                                <li>地址： @memberinfo.Address</li>
                                            </ul>
                                        }
                                    </div>

                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                         aria-labelledby="nav-profile-tab">
                                        <ul>
                                            <li>姓名：<span id="recipientNameDisplay"></span></li>
                                            <li>電話：<span id="recipientPhoneDisplay"></span></li>
                                            <li>地址：<span id="recipientAddressDisplay"></span></li>
                                        </ul>
                                        <div class="input-group mb-3">
                                            <!-- 觸發選擇地址視窗的按鈕 -->
                                            <button type="button" class="coupon-btn" data-bs-toggle="modal"
                                                    data-bs-target="#chooseMyAddress">
                                                選擇地址
                                            </button>
                                        </div>
                                        <!-- 選擇地址視窗的按鈕 -->
                                        <div class="modal fade" id="chooseMyAddress" data-bs-backdrop="static"
                                             data-bs-keyboard="false" tabindex="-1"
                                             aria-labelledby="MyAddressBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="MyAddressBackdropLabel">
                                                            我的地址
                                                        </h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table addressBox_modal">
                                                            <thead>
                                                                <tr>
                                                                    <th>選擇</th>
                                                                    <th>姓名</th>
                                                                    <th>地址</th>
                                                                    <th>聯絡電話</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model != null && Model.memberUsableAddress != null)
                                                                {
                                                                    foreach (var address in Model.memberUsableAddress)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <input type="radio" name="select" value="option1" class="address-radio"
                                                                                       data-RecipientName="@address.RecipientName" data-RecipientAddress="@address.RecipientAddress"
                                                                                       data-RecipientPhone="@address.RecipientPhone">

                                                                            </td>
                                                                            <td> @address.RecipientName </td>
                                                                            <td> @address.RecipientAddress </td>
                                                                            <td> @address.RecipientPhone </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="coupon-btn"
                                                                data-bs-dismiss="modal" id="selectedAddress">
                                                            確定
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                         aria-labelledby="nav-contact-tab">
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                <div class="col-md-4 mb-3 mt-2">
                                                    <label for="username">姓名 *</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="username"
                                                               placeholder="請輸入與證件相符的姓名" required>
                                                        <div class="invalid-feedback" style="width: 100%;">
                                                            請輸入姓名
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3 mt-2">
                                                    <label for="email">電話 *</label>
                                                    <input type="email" class="form-control" id="email"
                                                           placeholder="請輸入手機號碼">
                                                    <div class="invalid-feedback"> 請輸入電話號碼 </div>
                                                </div>
                                                <div class="col-md-4 mb-3 mt-2">
                                                    <label for="email">電子信箱</label>
                                                    <input type="email" class="form-control" id="email"
                                                           placeholder="">
                                                    <div class="invalid-feedback"> 請輸入電子信箱 </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="country">縣市 *</label>
                                                    <select class="wide w-100" id="country">
                                                        <option value="Choose..." data-display="Select">請選擇</option>
                                                        <option value="United States">台北市</option>
                                                        <option value="United States">花蓮市</option>
                                                    </select>
                                                    <div class="invalid-feedback"> 請選擇縣市 </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="state">行政區 *</label>
                                                    <select class="wide w-100" id="state">
                                                        <option data-display="Select">請選擇</option>
                                                        <option>大安區</option>
                                                    </select>
                                                    <div class="invalid-feedback"> 請選擇行政區</div>
                                                </div>
                                                <div class="col-md-6 mb-1">
                                                    <label for="address">寄送地址 *</label>
                                                    <input type="text" class="form-control" id="address"
                                                           placeholder="" required>
                                                    <div class="invalid-feedback"> 請輸入地址 </div>
                                                </div>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="save-NewAddress1">
                                                <label class="custom-control-label"
                                                       for="save-NewAddress1">儲存至常用地址</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--選擇宅配地址End-->
                    <!--選擇郵寄地址Start-->
                    <div class="tab-pane fade " id="nav-post" role="tabpanel"
                         aria-labelledby="DeliveryMethod_post-tab">
                        <div class="row mt-2">
                            <div class="col-sm-12 col-lg-12 mb-3">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-buyer-tab" role="tablist">
                                        <input class="nav-link active" id="nav-memberInfo-tab" data-bs-toggle="tab"
                                               data-bs-target="#nav-memberInfo" type="radio" name="deliveryPostOption"
                                               role="tab" aria-controls="nav-memberInfo" aria-selected="true" checked>
                                        <label for="nav-memberInfo-tab">同訂購人資料</label>

                                        <input class="nav-link" id="nav-addressInfo-tab" data-bs-toggle="tab"
                                               data-bs-target="#nav-addressInfo" type="radio" name="deliveryPostOption"
                                               role="tab" aria-controls="nav-addressInfo" aria-selected="false">

                                        <label for="nav-addressInfo-tab">從儲存的地址中挑選</label>

                                        <input class="nav-link" id="nav-inputAddress-tab" data-bs-toggle="tab"
                                               data-bs-target="#nav-inputAddress" type="radio"
                                               name="deliveryPostOption" role="tab" aria-controls="nav-inputAddress"
                                               aria-selected="false">

                                        <label for="nav-inputAddress-tab">自填收件人資料</label>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent2">
                                    <div class="tab-pane fade show active" id="nav-memberInfo" role="tabpanel"
                                         aria-labelledby="nav-memberInfo-tab">
                                        <ul>
                                            <li>姓名：徐雅莉</li>
                                            <li>電話：0923468145</li>
                                            <li>Email：seoari@gmail.com</li>
                                            <li>地址： 台北市信義區松壽路12號</li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane fade" id="nav-addressInfo" role="tabpanel"
                                         aria-labelledby="nav-addressInfo-tab">
                                        <ul>
                                            <li>姓名：尹詩炫</li>
                                            <li>電話：0983726593</li>
                                            <li>Email：chungah@gmail.com</li>
                                            <li>地址： 新北市板橋區縣民大道二段7號</li>
                                        </ul>
                                        <div class="input-group mb-3">
                                            <!-- 觸發選擇地址視窗的按鈕 -->
                                            <button type="button" class="coupon-btn" data-bs-toggle="modal"
                                                    data-bs-target="#choosePostAddress">
                                                選擇地址
                                            </button>
                                        </div>
                                        <!-- 選擇地址視窗的按鈕 -->
                                        <div class="modal fade" id="choosePostAddress" data-bs-backdrop="static"
                                             data-bs-keyboard="false" tabindex="-1"
                                             aria-labelledby="PostAddressBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="PostAddressBackdropLabel">
                                                            我的地址
                                                        </h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table addressBox_modal">
                                                            <thead>
                                                                <tr>
                                                                    <th>選擇</th>
                                                                    <th>姓名</th>
                                                                    <th>電子信箱</th>
                                                                    <th>地址</th>
                                                                    <th>聯絡電話</th>
                                                                    <th>刪除</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <input type="radio" name="select"
                                                                               value="option1">
                                                                    </td>
                                                                    <td>徐雅莉</td>
                                                                    <td>123@gmail.com</td>
                                                                    <td>台北市信義區松壽路12號</td>
                                                                    <td>0923468145</td>
                                                                    <td><span id="delete">刪除</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="radio" name="select"
                                                                               value="option1">
                                                                    </td>
                                                                    <td>王小美</td>
                                                                    <td>567@gmail.com</td>
                                                                    <td>台北市萬華區成都路33號</td>
                                                                    <td>0985624473</td>
                                                                    <td><span id="delete">刪除</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="coupon-btn"
                                                                data-bs-dismiss="modal">
                                                            確定
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-inputAddress" role="tabpanel"
                                         aria-labelledby="nav-inputAddress-tab">
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                <div class="col-md-4 mb-3 mt-2">
                                                    <label for="username">姓名 *</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="username"
                                                               placeholder="請輸入與證件相符的姓名" required>
                                                        <div class="invalid-feedback" style="width: 100%;">
                                                            請輸入姓名
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-3 mt-2">
                                                    <label for="email">電話 *</label>
                                                    <input type="email" class="form-control" id="email"
                                                           placeholder="請輸入手機號碼">
                                                    <div class="invalid-feedback"> 請輸入電話號碼 </div>
                                                </div>
                                                <div class="col-md-4 mb-3 mt-2">
                                                    <label for="email">電子信箱</label>
                                                    <input type="email" class="form-control" id="email"
                                                           placeholder="">
                                                    <div class="invalid-feedback"> 請輸入電子信箱 </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="country">縣市 *</label>
                                                    <select class="wide w-100" id="country">
                                                        <option value="Choose..." data-display="Select">請選擇</option>
                                                        <option value="United States">台北市</option>
                                                        <option value="United States">花蓮市</option>
                                                    </select>
                                                    <div class="invalid-feedback"> 請選擇縣市 </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="state">行政區 *</label>
                                                    <select class="wide w-100" id="state">
                                                        <option data-display="Select">請選擇</option>
                                                        <option>大安區</option>
                                                    </select>
                                                    <div class="invalid-feedback"> 請選擇行政區</div>
                                                </div>
                                                <div class="col-md-6 mb-1">
                                                    <label for="address">寄送地址 *</label>
                                                    <input type="text" class="form-control" id="address"
                                                           placeholder="" required>
                                                    <div class="invalid-feedback"> 請輸入地址 </div>
                                                </div>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="save-NewAddress2">
                                                <label class="custom-control-label"
                                                       for="save-NewAddress2">儲存至常用地址</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--選擇郵寄地址End-->
                </div>
            </div>
        </div>
        <!--運送方式End-->
        <!--付款方式Start-->
        <div class="row">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="title-left">
                    <h3>付款方式</h3>
                </div>
                <!--三種付款方式選項分頁按鈕-->
                <nav class="customer_info">
                    <div class="nav nav-tabs" id="nav-paymentMethod-tab" role="tablist">
                        <input class="nav-link active" id="nav-credit-tab" type="radio" name="paymentMethod"
                               data-bs-toggle="tab" data-bs-target="#nav-credit" role="tab" aria-controls="nav-credit"
                               aria-selected="true" value="信用卡付款" checked>
                        <label for="nav-credit-tab" class="mb-0">信用卡付款</label>

                        <input class="nav-link" id="nav-ATM-tab" type="radio" name="paymentMethod"
                               data-bs-toggle="tab" data-bs-target="#nav-ATM" role="tab" aria-controls="nav-ATM"
                               aria-selected="false" value="銀行轉帳">
                        <label for="nav-ATM-tab" class="mb-0">銀行轉帳</label>

                        <input class="nav-link" id="nav-cashOnDelivery-tab" type="radio" name="paymentMethod"
                               data-bs-toggle="tab" data-bs-target="#nav-cashOnDelivery" role="tab"
                               aria-controls="nav-cashOnDelivery" aria-selected="false" value="貨到付款">
                        <label for="nav-cashOnDelivery-tab" class="mb-0">貨到付款</label>
                    </div>
                </nav>
                <!--三種付款方式的分頁-->
                <div class="tab-content invoice-size" id="nav-invoice-tabContent">
                    <!--信用卡付款分頁內容-->
                    <div class="tab-pane fade show active" id="nav-credit" role="tabpanel"
                         aria-labelledby="nav-credit-tab">
                        <label class="nav-ATM-css">選擇此方式會在送出訂單後進到綠界科技付款頁面進行付款。</label> 
                    </div>
                    <!--銀行轉帳分頁內容-->
                    <div class="tab-pane fade" id="nav-ATM" role="tabpanel" aria-labelledby="nav-ATM-tab">
                        <label class="nav-ATM-css">選擇此方式會在送出訂單後會得到一組僅供本次交易使用的轉帳帳號，請在期限內匯款完畢，否則此筆交易將取消。</label>
                        <ul class="nav-ATM-fontSize">
                            <li>以下為範例：</li>
                            <li>轉帳銀行：013國泰世華銀行</li>
                            <li>轉帳帳號：1470305054433903(僅供本次交易使用)</li>
                            <li>轉帳金額：NT2969</li>
                            <li>繳款期限：2023年08月05日23點59分前</li>
                        </ul>
                    </div>
                    <!--貨到付款分頁內容-->
                    <div class="tab-pane fade" id="nav-cashOnDelivery" role="tabpanel"
                         aria-labelledby="nav-cashOnDelivery-tab">
                        <label class="nav-ATM-css">目前僅供超商取貨可使用貨到付款的方式</label>
                        <ul class="nav-ATM-fontSize">
                            <li>單筆訂單金額二萬元以內可使用。</li>
                            <li>為確保順利取件，請填寫正確姓名及手機號碼。</li>
                            <li>商品送達門市時會簡訊通知，送達門市後逾期未前往取貨常溫七天/低溫四天，商品將退回貓抓抓購物。</li>
                            <li>如有多次未取貨記錄，將影響您日後訂購商品的權益。</li>
                            <li>訂單金額滿2000元免收運費，不足酌收60元運費。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--付款方式End-->
        <!--發票資料Start-->
        <div class="row ">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="title-left">
                    <h3>發票資料</h3>
                </div>
                <!--四種發票的選項分頁按鈕-->
                <nav>
                    <div class="nav nav-tabs" id="nav-invoice-tab" role="tablist">
                        <button class=" nav-link active" id="nav-einvoice-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-einvoice" type="button" role="tab" aria-controls="nav-einvoice"
                                aria-selected="true">
                            個人雲端發票
                        </button>
                        <button class=" nav-link" id="nav-taxIDNum-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-taxIDNum" type="button" role="tab" aria-controls="nav-taxIDNum"
                                aria-selected="false">
                            公司用(僅供線上列印)
                        </button>
                        <button class=" nav-link" id="nav-invoiceDonate-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-invoiceDonate" type="button" role="tab"
                                aria-controls="nav-invoiceDonate" aria-selected="false">
                            雲端發票捐贈
                        </button>
                        <button class="nav-link" id="nav-paperInvoice-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-paperInvoice" type="button" role="tab"
                                aria-controls="nav-paperInvoice" aria-selected="false">
                            個人紙本發票
                        </button>
                    </div>
                </nav>
                <!--四種發票選項的分頁-->
                <div class="tab-content invoice-size" id="nav-invoice-tabContent">
                    <!--個人雲端發票分頁內容-->
                    <div class="tab-pane fade show active" id="nav-einvoice" role="tabpanel"
                         aria-labelledby="nav-einvoice-tab">
                        <div class="row ">
                            <div class="col-sm-12 col-lg-12 mb-3">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <input class="nav-link active" id="nav-mobileBarcode-tab"
                                               data-bs-toggle="tab" data-bs-target="#nav-mobileBarcode" type="radio"
                                               name="deliveryOption" role="tab" aria-controls="nav-mobileBarcode"
                                               aria-selected="true" checked>
                                        <label for="nav-mobileBarcode-tab" class="mb-0">手機條碼載具</label>

                                        <input class="nav-link" id="nav-IDcode-tab" data-bs-toggle="tab"
                                               data-bs-target="#nav-IDcode" type="radio" name="deliveryOption"
                                               role="tab" aria-controls="nav-IDcode" aria-selected="false">
                                        <label for="nav-IDcode-tab" class="mb-0">自然人憑證載具</label>
                                    </div>
                                </nav>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="nav-mobileBarcode" role="tabpanel"
                                         aria-labelledby="nav-mobileBarcode-tab">
                                        <!-- 手機條碼載具內容 -->
                                        <div class="row">
                                            <div class="col-md-3 mb-3">
                                                <label for="eInvoiceNum">載具條碼：</label>
                                                <div class="input-group">

                                                    <input type="text" class="form-control checkout-inputs" id="eInvoiceNum"
                                                           placeholder="請輸入載具條碼(包含/)" required>
                                                    <div class="invalid-feedback" style="width: 100%; height:100%">
                                                        請輸入載具條碼
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3 d-flex align-items-end">
                                                <!-- 觸發選擇載具條碼的按鈕 -->
                                                <button type="button" class="chooseStore_btn" data-bs-toggle="modal"
                                                        data-bs-target="#chooseEinvoice">
                                                    選擇載具條碼
                                                </button>
                                                <button class="ml-1 chooseStore_btn" id="invoiceDemo">Demo</button>
                                            </div>
                                        </div>

                                        <!-- 選擇載具條碼的互動視窗 -->
                                        <div class="modal fade" id="chooseEinvoice" data-bs-backdrop="static"
                                             data-bs-keyboard="false" tabindex="-1"
                                             aria-labelledby="myFamiStoreLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myEinvoiceLabel">我的載具條碼</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table addressBox_modal ">
                                                            <thead>
                                                                <tr>
                                                                    <th>選擇</th>
                                                                    <th>載具條碼</th>
                                                                    <th>刪除</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <input type="radio" name="selectEinvoice"
                                                                               value="option1">
                                                                    </td>
                                                                    <td>/W837DG3</td>
                                                                    <td><span id="delete">刪除</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="radio" name="selectEinvoice"
                                                                               value="option1">
                                                                    </td>
                                                                    <td>/9Qj376W</td>
                                                                    <td><span id="delete">刪除</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="coupon-btn"
                                                                data-bs-dismiss="modal">
                                                            確定
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="recordMobileBarcode">
                                            <label class="custom-control-label"
                                                   for="recordMobileBarcode">我同意紀錄本次手機條碼為常用載具</label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-IDcode" role="tabpanel"
                                         aria-labelledby="nav-IDcode-tab">
                                        <!-- 自然人憑證載具內容 -->
                                        <div class="row">
                                            <div class="col-md-3 mb-3">
                                                <label for="IDcodeNum">自然人憑證載具：</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="IDcodeNum"
                                                           placeholder="請輸入共16碼大寫英數字" required>
                                                    <div class="invalid-feedback" style="width: 100%;">
                                                        自然人憑證格式不正確，請重新輸入
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="recordIDcode">
                                            <label class="custom-control-label"
                                                   for="recordIDcode">我同意紀錄本次自然人憑證為常用載具</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--公司用分頁內容-->
                    <div class="tab-pane fade" id="nav-taxIDNum" role="tabpanel" aria-labelledby="nav-taxIDNum-tab">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="taxIDNum">統一編號：</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="taxIDNum" placeholder="請輸入統一編號"
                                           required>
                                    <div class="invalid-feedback" style="width: 100%;"> 請輸入統一編號 </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="invoice-companyName">公司名稱：</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="invoice-companyName"
                                           placeholder="請輸入公司名稱" required>
                                    <div class="invalid-feedback" style="width: 100%;"> 請輸入公司名稱 </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="recordTaxcode">
                                <label class="custom-control-label" for="recordTaxcode">我同意紀錄本次統一編號為常用統編</label>
                            </div>
                            <div class="ml-4 small einvoice-color">*開立發票後，至會員中心/訂單查詢，下載列印電子發票證明聯（報帳用）</div>
                        </div>

                    </div>
                    <!--分頁內容-->
                    <div class="tab-pane fade" id="nav-invoiceDonate" role="tabpanel"
                         aria-labelledby="nav-invoiceDonate-tab">
                        <div class="row ml-4 mt-2">
                            <div class="col-md-4 mb-3 ">
                                <input class="form-check-input" type="radio" name="donateInvoiceCode"
                                       id="InvoiceCode1018" checked>
                                <label class=" form-check-label" for="InvoiceCode1018">財團法人台灣肯納自閉症基金會(1018)</label>
                            </div>
                            <div class="col-md-4 mb-3 ">
                                <input class="form-check-input" type="radio" name="donateInvoiceCode"
                                       id="InvoiceCode52599">
                                <label class="form-check-label" for="InvoiceCode52599">財團法人台灣輔助犬公益基金會(52599)</label>
                            </div>
                            <div class="col-md-4 mb-3 ">
                                <input class="form-check-input" type="radio" name="donateInvoiceCode"
                                       id="InvoiceCode9527">
                                <label class="form-check-label" for="InvoiceCode9527">財團法人罕見疾病基金會(9527)</label>
                            </div>
                            <div class="col-md-4 mb-3 ">
                                <input class="form-check-input" type="radio" name="donateInvoiceCode"
                                       id="InvoiceCode1050">
                                <label class="form-check-label" for="InvoiceCode1050">財團法人脊髓損傷社會福利基金會(1050)</label>
                            </div>
                            <div class="col-md-4 mb-3 ">
                                <input class="form-check-input" type="radio" name="donateInvoiceCode"
                                       id="InvoiceCode321">
                                <label class="form-check-label" for="InvoiceCode321">財團法人中華民國唐氏症基金會(321)</label>
                            </div>
                            <div class="col-md-4 mb-3 ">
                                <input class="form-check-input" type="radio" name="donateInvoiceCode"
                                       id="InvoiceCode0855">
                                <label class="form-check-label"
                                       for="InvoiceCode0855">財團法人中華民國發展遲緩兒童基金會(0855)</label>
                            </div>
                        </div>
                    </div>
                    <!--個人紙本分頁內容-->
                    <div class="tab-pane fade" id="nav-paperInvoice" role="tabpanel"
                         aria-labelledby="nav-paperInvoice-tab">
                        <form class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="username">姓名 *</label>
                                <input type="text" class="form-control" id="username" placeholder="請輸入與證件相符的姓名"
                                       required>
                                <div class="invalid-feedback">請輸入姓名</div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="country">縣市 *</label>
                                    <select class="wide w-100" id="country" required>
                                        <option value="United States" data-display="Select">請選擇</option>
                                        <option value="United States">台北市</option>
                                        <option value="United States">花蓮市</option>
                                    </select>
                                    <div class="invalid-feedback">請選擇縣市</div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="state">行政區 *</label>
                                    <select class="wide w-100" id="state" required>
                                        <option data-display="Select">請選擇</option>
                                        <option>大安區</option>
                                    </select>
                                    <div class="invalid-feedback">請選擇行政區</div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="address">寄送地址 *</label>
                                    <input type="text" class="form-control" id="address" placeholder="" required>
                                    <div class="invalid-feedback">請輸入地址</div>
                                </div>
                            </div>
                            <div class="small einvoice-color">*發票於到貨後猶豫期+5個工作天以平信寄出。</div>
                        </form>

                    </div>
                </div>
            </div>
            <!--同意退換貨條款-->
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="returnsInvoice">
                    <label class="custom-control-label" for="returnsInvoice">
                        我同意辦理退貨時，由貓抓抓代為處理電子發票及銷貨退回證明單，以加速退款作業。
                        <br>依統一發票使用辦法規定，個人發票一經開立，不得更改或改開公司戶發票。
                        <a href="https://www.einvoice.nat.gov.tw/?CSRT=6201288656407980614"
                           class="einvoice-link">財政部電子發票流程說明</a>
                    </label>
                    <div id="error-message" class="text-danger"></div>
                </div>
            </div>
        </div>
        <!--發票資料End-->
        <!--小計Start-->
        <div class="row ">
            <div class="col-md-12 col-lg-12">
                <div class="title-left">
                    <h3>總計</h3>
                </div>
                <div class="order-box">
                    <div class="d-flex">
                        <h4 class="mr-auto">小計</h4>
                        <span class="mr-2 font-weight-bold">NT</span><div class=" font-weight-bold" id="subtotal">@ViewBag.totalPrice</div>
                    </div>
                    @if (Model != null)
                    {
                        <div class="d-flex">
                            <h4 class="mr-auto">紅利折扣</h4>
                            <span class="mr-2 font-weight-bold">- NT</span><div class=" font-weight-bold" id="loyaltyPointsBonus"> 0 </div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4 class="mr-auto">優惠券折扣</h4>
                             <span class="mr-2 font-weight-bold">- NT</span><div class=" font-weight-bold" id="couponBonus"> 0 </div>
                        </div>
                        <div class="d-flex">
                            <h4 class="mr-auto">運費</h4>
                             <span class="mr-2 font-weight-bold">+ NT</span><div class=" font-weight-bold" id="shippingFee"> @ViewBag.firstFee</div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5 class="mr-auto">總計</h5>
                            <span class="mr-2 font-weight-bold" style="color:red">NT</span><div class=" h4" style="color:red" id="allTotalPrice">@ViewBag.firstTotalPrice</div>
                        </div>
                        <hr>
                    }
                </div>
                <div class=" coupon-box-btn col-12 d-flex shopping-box ">
                    <button type="submit" id="submit-order-btn"
                            class=" checkout-btn ml-auto btn hvr-hover">
                        確認訂單
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--中間主畫面End-->
@section Scripts{
    <!-- ALL JS FILES -->
    <!--引用Bundle，這樣nav導覽與頁籤就可以使用-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <!--引用分離(Separate)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
            crossorigin="anonymous"></script>
    <!---->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    @*<script src="~/js/bootsnav.js."></script>*@
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <!--nav導覽與頁籤使用-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!--Google Map API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJm9PAx2tKFNLBmiWq6zV_Bz9OxWVB2Yk&libraries=places"></script>
    <script src="~/js/checkout.js"></script>
    <script>
        // 創建一個物件來保存送貨方式和相關資訊
        var deliveryInfo = {
            method: '7-11取貨',
            storeName: '',
            name: '',
            phone: ''
        };
        //選擇7-11的按鈕
        $('#submit-sevenEleven').on('click', function () {
            var selectText = $("#sevenElevenStoreSelect option:selected").val();
            $('#select-seveneleven').val(selectText);
        })
        //選擇全家的按鈕
        $('#submit-familyMart').on('click', function () {
            var selectText = $("#familyMartStoreSelect option:selected").val();
            $('#select-familmart').val(selectText);
        })

        //儲存使用者選擇哪一種送貨方式
        var selectedDeliveryMethod = '7-11取貨';
        function setDeliveryMethod(method) {
            console.log("選的送貨方式", method)
            deliveryInfo.method = method;
            //selectedDeliveryMethod = method;
        }

        //// 當使用者輸入取件門市時，更新物件中的值
        $('#sevenElevenStoreSelect').on('change', function () {
            selectedSevenElevenStore = $(this).val();
            deliveryInfo.storeName = selectedSevenElevenStore;
        });

        //DEMO超商姓名電話
        $('#cvsDemo').click(function () {
            var name = "吳敏惠";
            $('#711name').val(name);
            var phone = "0938475245";
            $('#711phone').val(phone);
            deliveryInfo.name = name;
            deliveryInfo.phone = phone;
        })

        //DEMO發票的按鍵
        $('#invoiceDemo').click(function(){
            $('#eInvoiceNum').val("/9Qj376W");
        })

        //$('#select-seveneleven').on('input', function () {
        //    var storeName = $(this).val();
        //    deliveryInfo.storeName = storeName;
        //});

        //// 當使用者輸入取件姓名時，更新物件中的值
        //$('#711name').on('input', function () {
        //    var name = $(this).val();
        //    deliveryInfo.name = name;
        //});

        //// 當使用者輸入取件人電話時，更新物件中的值
        //$('#711phone').on('input', function () {
        //    var phone = $(this).val();
        //    deliveryInfo.phone = phone;
        //});

    </script>
}


