@{
    ViewData["Title"] = "商城會員管理";
    Layout = "~/Areas/AdminCMS/Views/Shared/CMS_Layout.cshtml";
}

@section Styles{

    <style>
        .RequiredText {
            color: #b95756;
        }

        .error-message {
            color: red;
        }

        .toggle-password {
            cursor: pointer;
            user-select: none;
        }

        /*密碼眼睛位置*/
        .password-container {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px; /* 調整此值以控制圖標與輸入框的距離 */
            transform: translateY(-50%);
            cursor: pointer;
        }

        /*         #member-table_filter {
                                                                                            display: inline-block;
                                                                                            margin-bottom: 10px;
                                                                                        } */

        paginate_button:hover {
            background-color: unset !important;
        }

        /* 選中行的背景顏色 */
        .selected-cell {
            background-color: #2079fd !important; /* 將“blue”替換為您想要的藍色選中行的背景顏色 */
            color: #fff !important; /* 調整文字顏色以確保可讀性 */
        }

        #select-all {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        .checkbox-label {
            font-size: 20px;
            background-color: #f2d6d6;
            opacity: .8;
            padding: 0 5px 0 5px;
            cursor: pointer;
        }

        .checkbox-css {
            outline: 2px solid #FFF;
        }

        .sentLetterModalToggleDiv {
            height: 200px;
            overflow: auto;
            border: 1px solid #aaa;
            padding: 5px;
        }

        .email_addCss {
            background-color: #8261e5;
            color: #FFF;
            border-radius: 15px;
            padding: 7px;
            line-height: 40px;
        }

        .selectall-checkbox-group {
            align-items: center;
            display: flex;
        }

        .profile-card {
            width: 350px;
            background-color: #fff;
            border: 1px solid #f2f2f2;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin: 20px;
            padding: 0;
        }

        .profile-header {
            text-align: center;
            background-color: #DE9E4F;
            color: #fff;
            padding: 20px;
        }

        .profile-header-game {
            text-align: center;
            background-color: #DE9E4F;
            color: #000;
            padding: 40px;
            background-image: url(/images/game/doublecheckWin.png);
            background-size: auto;
            background-repeat: round;
            overflow: hidden;
        }

        #levelId {
            background-color: #FFF;
            border-radius: 20px;
            display: inline;
            padding: 0 10px 0 10px;
            color: #b95756;
            font-weight: bold;
        }

        .profile-avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid #fff;
            margin: 0 auto;
            overflow: hidden;
        }

            .profile-avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: #FFF;
            }

        .profile-info {
            padding: 20px;
        }

            .profile-info h2 {
                font-size: 24px;
                margin: 0;
            }

            .profile-info p {
                font-size: 16px;
                margin: 0;
            }

        #memberId {
            background-color: #FFF;
            border-radius: 125px;
            color: #000;
            display: inline;
            padding: 0 10px 0 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        #characterName {
            font-weight: bold;
        }

        .fa-venus {
            font-size: 30px;
            background-color: #ff97a9;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            color: #ffffff;
        }

        .fa-mars {
            font-size: 30px;
            background-color: #4ac6ec;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            color: #ffffff;
        }

        #commonaddressContainer {
            display: flex;
            justify-content: center;
        }

        .Address-title {
            background-color: #DE9E4F;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .address-text-content {
            padding: 10px;
        }

        .coupon {
            width: 370px;
            height: 170px;
            border-radius: 10px;
            overflow: hidden;
            /*filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));*/
            display: flex;
            align-items: stretch;
            position: relative;
            text-transform: uppercase;
            margin: 10px;
            padding: 10px;
            background-color: #ffe3bf;
            font-weight: bold;
        }

            .coupon::before,
            .coupon::after {
                content: "";
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                z-index: -1;
            }

            .coupon::before {
                left: 0;
                background-image: radial-gradient( circle at 0 50%, transparent 25px, gold 26px );
            }

            .coupon::after {
                right: 0;
                background-image: radial-gradient( circle at 100% 50%, transparent 25px, gold 26px );
            }

            .coupon > div {
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .left-coupon {
            width: 25%;
            border-right: 2px dashed rgba(0, 0, 0, 0.13);
            text-align: center;
        }

        .center-coupon {
            flex-grow: 1;
            text-align: center;
        }

        .right div {
            font-family: "Libre Barcode 128 Text", cursive;
            font-size: 2.5rem;
            font-weight: 400;
            transform: rotate(-90deg);
        }

        .center-coupon h2 {
            background: #000;
            color: gold;
            padding: 0 10px;
            font-size: 2.15rem;
            white-space: nowrap;
        }

        .center-coupon h3 {
            font-size: 2.15rem;
        }

        .center-coupon small {
            font-size: 0.625rem;
            font-weight: 600;
            letter-spacing: 2px;
        }

        @@media screen and (max-width:500px) {
            .coupon {
                display: grid;
                grid-template-columns: 1fr;
            }

            .left div {
                transform: rotate(0deg);
            }

            .right div {
                transform: rotate(0deg);
            }
        }

        #couponContainer {
            height: 500px;
            overflow: auto;
        }

            #couponContainer .col-lg-6 {
                padding: 0;
            }
    </style>
}

<div class="middle-content">

    <div class="row  align-items-center">
        <div class="col-6">
            <h2 class="mt-3">會員管理</h2>
        </div>
        <div class="col-6 text-end mt-3">
            <button class="create_btn" data-bs-toggle="modal" href="#sentLetterModalToggle" id="NewsLetterModalBtn" role="button">發送電子報</button>
            @*<button class="btn btn-danger" data-bs-toggle="modal" href="#addLetterModalToggle" role="button">電子報上下版新增</button>*@
            <button class="create_btn" data-bs-toggle="modal" href="#addMemberModalToggle" role="button">新增會員</button>
        </div>
    </div>

    <!---發送電子報 modal-->
    <div class="modal fade" id="sentLetterModalToggle" aria-hidden="true"
         aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">發送電子報</h5>
                    <button type="button" class="btn btn-danger ms-2" onclick="setSendEmailValue()">demo</button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <input type="hidden" id="sentTemplateId" value="2" name="TemplateId" />

                    <div class="form-group mb-2">
                        <label>會員郵件列表</label>
                        <div class="sentLetterModalToggleDiv" id="sentMailAddress">
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label>郵件主旨</label>
                        <input type="text" class="form-control" id="sentSubject" name="Subject" />
                    </div>

                    <div class="form-group mb-2">
                        <label>圖片連結網址</label>
                        <input type="text" class="form-control" id="sentImgUrl" name="ImageUrl" />
                    </div>

                    <div class="form-group mb-2">
                        <label>圖片內容</label>
                        <input type="file" class="form-control" id="sentContentImage" name="ContentImage" accept="image/*" />
                    </div>

                    <div class="mb-3 text-center">
                        <img id="showImg" width="500" />
                    </div>

                    <button id="SentNewsLetter" class="btn btn-danger btn-block" style="width: 100%;">
                        發送
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!---發送電子報 modal-->
    <!---新增電子報 modal-->
    <div class="modal fade" id="addLetterModalToggle" aria-hidden="true"
         aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">電子報上下版</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group mb-2">
                        <label>header</label>
                        <input type="file" class="form-control" id="headerImg" name="HeaderImage" accept="image/*" />
                    </div>

                    <div class="form-group mb-2">
                        <label>footer</label>
                        <input type="file" class="form-control" id="footerImg" name="FooterImage" accept="image/*" />
                    </div>

                    <button id="CreatNewsLetter" class="btn btn-danger btn-block" style="width: 100%;">
                        儲存
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!---新增電子報 modal-->
    <!---新增會員 modal-->
    <div class="modal fade" id="addMemberModalToggle" aria-hidden="true"
         aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">新增會員</h5>

                    <button class="btn btn-danger ms-2" onclick="setValue()">demo</button>
                    <button class="btn btn-dark" onclick="setErrorValue()">驗證demo</button>

                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group mb-2">
                        <label>姓名</label><span class="RequiredText"> *必填</span>
                        <input type="text" class="form-control" id="CreatName" name="Name">
                    </div>

                    <div class="form-group mb-2">
                        <label>帳號</label><span class="RequiredText"> *必填</span>
                        <input type="email" class="form-control" id="CreatMemberAccount" name="MemberAccount" onblur="CheckDuplicateAccount()" placeholder="請輸入電子信箱">
                        <span id="error1" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>密碼</label><span class="RequiredText"> *必填</span>
                        <div class="password-container">
                            <input type="password" class="form-control" id="CreatMemberPassword" name="Password">
                            <span id="togglePassword" class="toggle-password"><i class="fas fa-eye"></i></span>
                        </div>
                        <span id="error3" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>確認密碼</label><span class="RequiredText"> *必填</span>
                        <input type="password" class="form-control" id="CreatMemberCheckPassword">
                        <span id="error4" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>性別</label><span class="RequiredText"> *必填</span>
                        <select class="form-control" id="CreatGender" name="Gender">
                            <option value="男">男</option>
                            <option value="女">女</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>

                    <div class="form-group mb-2">
                        <label>生日</label><span class="RequiredText"> *必填</span>
                        <input type="date" class="form-control" id="CreatBirthday" name="Birthday" onfocus="this.showPicker()">
                    </div>

                    <div class="form-group mb-2">
                        <label>E-mail</label><span class="RequiredText"> *必填</span>
                        <input type="email" class="form-control" id="CreatEmail" name="Email">
                        <span id="error2" class="error-message"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label>電話</label><span class="RequiredText"> *必填</span>
                        <input type="text" class="form-control" id="CreatPhoneNumber" name="PhoneNumber">
                    </div>

                    <div class="form-group mb-2">
                        <label>地址</label>
                        <input type="text" class="form-control" id="CreatAddress" name="Address">
                    </div>

@*                    <div class="form-group mb-3">
                        <label>會員狀態：</label>
                        <select class="form-control" id="CreatMemberStatus" name="MemberStatus">
                            <option value="true">開放</option>
                            <option value="false">凍結</option>
                        </select>
                    </div>*@

                    <div class="form-group mb-3">
                        <label>是否訂閱電子報：</label>
                        <select class="form-control" id="CreatMemberSubscribe" name="Subscribe">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>

                    <button id="CreatMember" class="btn btn-danger btn-block" style="width: 100%;">
                        儲存
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!---新增會員 modal-->

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 col-xs-12">
                <div class="mb-3">
@*                    <label>會員狀態</label>
                    <select class="form-select w-25" id="memberStatusList" style="display: inline-block !important;">
                        <option value="" selected>全部資料</option>
                        <option value="開放">開放</option>
                        <option value="凍結">凍結</option>
                    </select>*@

                    <div class="selectall-checkbox-group mt-2">
                        <input type="checkbox" id="select-all" />
                        <label for="select-all" class="checkbox-label">全選訂閱電子報的會員</label>
                    </div>
                </div>
                <!--表格-->
                <table id="member-table" class="table table-striped nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>勾選</th>
                            <th>ID</th>
                            <th>大頭貼</th>
                            <th>姓名</th>
                            <th>帳號</th>
                            <th>性別</th>
                            <th>E-mail</th>
                            <th>電話</th>
                            @*<th>地址</th>*@
                            @*<th>狀態</th>*@
                            <th>訂閱電子報</th>
                            <th>詳細資料</th>
                            <th>編輯</th>
                        </tr>
                    </thead>
                </table>
                <!--表格-->

            </div>
        </div>
    </div>

    <!--編輯彈出視窗-->
    <div class="modal fade" id="EditModalToggle" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">編輯會員資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#member-edit-nav-home" type="button"
                                    role="tab">
                                基本資料
                            </button>
                            <button class="nav-link" id="nav-profile-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#member-edit-nav-profile" type="button"
                                    role="tab">
                                遊戲資訊
                            </button>
                            @*                            <button class="nav-link" id="nav-contact-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#member-edit-nav-contact" type="button"
                            role="tab">
                            常用地址
                            </button>*@
                        </div>
                    </nav>
                    <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active"
                             id="member-edit-nav-home">
                            <input type="hidden" class="form-control" id="memberId_edit" disabled readonly>

                            <div class="form-group mb-2">
                                <label>姓名：</label>
                                <input type="text" class="form-control" id="name_edit">
                            </div>

                            <div class="form-group mb-2">
                                <input type="hidden" class="form-control" id="memberAccount_edit" disabled readonly>
                            </div>

                            <div class="form-group mb-2">
                                <label>性別：</label>
                                <select class="form-control" id="gender_edit">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>

                            <div class="form-group mb-2">
                                <label>生日：</label>
                                <input type="date" class="form-control" id="birthday_edit" onfocus="this.showPicker()">
                            </div>

                            <div class="form-group mb-2">
                                @*<label>E-mail：</label>*@
                                <input type="hidden" class="form-control" id="email_edit">
                            </div>

                            <div class="form-group mb-2">
                                <label>電話：</label>
                                <input type="text" class="form-control" id="phoneNumber_edit">
                            </div>

                            <div class="form-group mb-2">
                                <label>地址：</label>
                                <input type="text" class="form-control" id="address_edit">
                            </div>

@*                            <div class="form-group mb-2">
                                <label>會員狀態：</label>
                                <select class="form-control" id="memberStatus_edit">
                                    <option value="true">開放</option>
                                    <option value="false">凍結</option>
                                </select>
                            </div>*@

                            <div class="form-group mb-2">
                                <label>訂閱電子報：</label>
                                <select class="form-control" id="memberSubscribe_edit">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>

                            <button class="btn btn-danger btn-block mt-2 EditMember_Save"
                                    style="width: 100%;">
                                儲存
                            </button>
                        </div>
                        <div class="tab-pane fade mt-3" id="member-edit-nav-profile">
                            <div class="form-group mb-3">
                                <label>等級：</label>
                                <input type="number" class="form-control" id="levelId_edit">
                            </div>

                            <div class="form-group mb-3">
                                <label>遊戲角色名稱：</label>
                                <input type="text" class="form-control" id="characterName_edit">
                            </div>

                            <div class="form-group mb-3">
                                <label>貓幣數量：</label>
                                <input type="number" class="form-control" id="catCoinQuantity_edit">
                            </div>

                            <div class="form-group mb-3">
                                <label>紅利數量：</label>
                                <input type="number" class="form-control" id="loyaltyPoints_edit">
                            </div>

                            <button type="submit" class="btn btn-danger btn-block EditMember_Save"
                                    style="width: 100%;">
                                儲存
                            </button>
                        </div>
                        <div class="tab-pane fade" id="member-edit-nav-contact">
                            <div class="form-group">
                                <label>Address ID：</label>

                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Recipient Name：</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Recipient Phone：</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Recipient Address：</label>
                                <input type="text" class="form-control">
                            </div>

                            <button class="btn btn-danger btn-block"
                                    style="width: 100%;">
                                儲存
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--編輯彈出視窗-->
    <!---詳細資料model-->
    <div class="modal fade" id="DetailModalToggle" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">
                        其他資訊
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                                    role="tab">
                                基本資料
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button"
                                    role="tab">
                                遊戲資訊
                            </button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-contact" type="button"
                                    role="tab">
                                常用地址
                            </button>
                            <button class="nav-link" id="nav-contact2-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-paper" type="button"
                                    role="tab">
                                會員優惠券
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="row justify-content-center">
                                <div class="profile-card">
                                    <div class="profile-header">
                                        <div class="profile-avatar mb-3">
                                            <img id="memberImg" />
                                        </div>
                                        <p id="memberId"><strong></strong></p>
                                        <h1 id="name" class="mt-2 mb-2"></h1>
                                        <p id="info_gender"></p>
                                    </div>
                                    <div class="profile-info">
                                        <p id="memberAccount"><strong></strong></p>
                                        <p id="birthday"><strong></strong></p>
                                        <p id="phoneNumber"><strong></strong> </p>
                                        <p id="email"><strong></strong></p>
                                        <p id="registrationTime"><strong></strong></p>
                                        <p id="memberStatus"><strong></strong> <span class="status-open"></span></p>
                                        <p id="address"><strong></strong></p>
                                        <p id="lastLoginTime"><strong></strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="nav-profile" role="tabpanel">
                            <div class="row justify-content-center">
                                <div class="profile-card">
                                    <div class="profile-header-game">
                                        <div class="profile-avatar mb-3">
                                            <img src="/images/game/staticCats/kittenOG_stopR.png" />
                                        </div>
                                        <p id="levelId"><strong></strong></p>
                                        <h1 id="characterName" class="mt-2"></h1>
                                        <p id="runGameHighestScore"></p>
                                    </div>
                                    <div class="profile-info">
                                        <p id="catCoinQuantity"><strong></strong></p>
                                        <p id="loyaltyPoints"><strong></strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="nav-contact" role="tabpanel">
                            <div id="commonaddressContainer" class="row"></div>
                        </div>
                        <div class="tab-pane fade mt-3" id="nav-paper" role="tabpanel">
                            <div id="couponContainer" class="row justify-content-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--詳細資料model-->
</div>

@section Scripts{

    <!--Moment.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

    <!---File export--->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>

    <script>
        let isVaild = ""; //驗證bool
        let isVaild_mail = "";
        let isVaild_acc = "";
        //==========丟資料給DataTables前先console.log json 出來看結構是長怎樣
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("ShowMemeberInfo", "Member")',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            //==========丟資料給DataTables前先console.log json 出來看結構是長怎樣

            //==========沒有勾選會員時阻止bootsrap5 modal 彈出視窗
            $('#sentLetterModalToggle').on('show.bs.modal', function (e) {
                if (selectedEmails == "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: '請先勾選要發送的會員',
                    });
                }
            });

            //==========禁止使用者選擇生日為未來日期
            // 獲取現在日期
            var currentDate = new Date();
            // 將日期格式化為YYYY-MM-DD格式
            var formattedDate = currentDate.toISOString().split('T')[0];
            // 設置MaxDate属性
            $("#CreatBirthday").attr("max", formattedDate);
            $('#birthday_edit').attr("max", formattedDate);

            // 監聽輸入事件，攔截輸入過程
            $("#CreatBirthday, #birthday_edit").on("input", function () {
                var inputDate = new Date($(this).val());

                if (inputDate > currentDate) {
                    // 如果輸入的日期大於當前日期，重置輸入框的值為最大日期
                    $(this).val(formattedDate);
                }
            });

            //==============密碼眼睛
            $('#togglePassword').click(function () {
                if ($('#CreatMemberPassword').attr('type') === 'password') {
                    $('#CreatMemberPassword').attr('type', 'text');
                } else {
                    $('#CreatMemberPassword').attr('type', 'password');
                }
            });
        });


        //==================驗證信箱格式
        function checkMail() {

            var emailAccount = $('#CreatMemberAccount').val();
            var email = $('#CreatEmail').val();

            const emailRegex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            checkAcc = emailRegex.test(emailAccount);
            checkUserMail = emailRegex.test(email);

            if ((!checkAcc)) {
                $('#error1').text('Email格式不正確');
                isVaild_acc = false;
            } else {
                $('#error1').text('');
                isVaild_acc = true;
            }

            if ((!checkUserMail)) {
                $('#error2').text('Email格式不正確');
                isVaild_mail = false;
            } else {
                $('#error2').text('');
                isVaild_mail = true;
            }
        }


        //==================驗證密碼
        function checkPassword() {
            var password = $('#CreatMemberPassword').val();
            const containsLetter = /[a-zA-Z]/.test(password);
            const containsNumber = /\d/.test(password);

            if (password.length < 8 || (!containsLetter) || (!containsNumber)) {
                console.log(containsLetter);
                $('#error3').text("密碼需包含至少一個英文字母和一個數字，且長度至少8字元");
                isVaild = false;
            } else {
                $('#error3').text("");
                isVaild = true;
            }
        }

        //=======================驗證確認密碼
        function isValidCheckPassword() {
            var check_password = $('#CreatMemberCheckPassword').val();
            var password = $('#CreatMemberPassword').val();

            if (check_password !== password) {
                $('#error4').text("密碼與確認密碼不相符");
                isVaild = false;
            } else {
                $('#error4').text("");
                isVaild = true;
            }
        }


        function validateEmail(input, error) {
            input.on("blur", function () {
                checkMail();
            });
        }

        function validatePassword(input, error) {
            input.on("blur", function () {
                checkPassword();
            });
        }

        function validateCheckPassword(input, error) {
            input.on("blur", function () {
                isValidCheckPassword();
            });
        }

        validateEmail($("#CreatMemberAccount"), $("#error1"));
        validateEmail($("#CreatEmail"), $("#error2"));
        validatePassword($("#CreatMemberPassword"), $("#error3"));
        validateCheckPassword($("#CreatMemberCheckPassword"), $("#error4"));




        //=======================搜尋功能

        // 綁定select元素的change事件，當選擇條件改變時，重新過濾表格資料
        $('#memberStatusList').on('change', function () {
            var filterOption1 = $(this).val();

            // 使用DataTable的column().search()方法進行過濾
            dataTable.column(9).search(filterOption1).draw();
        });


        //==================datatable
        var dataTable = $('#member-table').DataTable({
            "ajax": '@Url.Action("ShowMemeberInfo", "Member")',
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
            },
            "columns": [
                {
                    data: null,
                    orderable: false, // Disable sorting for this column
                    render: function (data, type, row, meta) {
                        return '';
                    }
                },
                {
                    data: 'subscribe',
                    render: function (data, type, row, meta) {
                        if (data) {
                            return '<input type="checkbox" class="row-checkbox checkbox-css" data-email="' + row.email + '">';
                        } else {
                            return '';
                        }
                    }
                },
                //這裡要注意json裡面是大寫還是小寫
                { data: 'memberId' },
                //圖片
                {
                    data: 'memberImage',
                    render: function (data, type, row, meta) {
                        if (data) {
                            return `<img class="img-thumbnail" style="max-width: 100px;" src="${data}">`;
                        } else {
                            return '';
                        }
                    }
                },
                { data: 'name' },
                { data: 'memberAccount' },
                { data: 'gender' },
                { data: 'email' },
                { data: 'phoneNumber' },
                //{ data: 'address' },
                //{
                //    data: 'memberStatus',
                //    render: function (data, type, row, meta) {
                //        if (data) {
                //            return '<span class="badge rounded-pill bg-success fs-6">開放</span>';
                //        } else {
                //            return '<span class="badge rounded-pill bg-danger fs-6">凍結</span>';
                //        }
                //    }
                //},
                {
                    data: 'subscribe',
                    render: function (data, type, row, meta) {
                        if (data) {
                            return '<span class="badge rounded-pill bg-success fs-6">是</span>';
                        } else {
                            return '<span class="badge rounded-pill bg-danger fs-6">否</span>';
                        }
                    }
                },
                {
                    data: null, // 這裡設置為 null，因為我們會在 render 中創建按鈕
                    render: function (data, type, row, meta) {
                        return '<button class="detail_input" data-bs-toggle="modal" href="#DetailModalToggle" role="button" data-memberid="' + row.memberId + '">詳細資料</button>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        var editButton = '<button class="btn edit_memberbtn" data-bs-toggle="modal" href="#EditModalToggle" role="button" data-memberid="' + row.memberId + '"><i class="fas fa-edit"></i></button>';
                        return editButton;
                    }
                },
            ],
            columnDefs: [
                {
                    targets: 7,
                    searchable: true,
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                }
            ],
            fixedColumns: {
                left: 2
            },
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            "paging": true, //分頁功能
            responsive: true, //RWD
            // "searching": false, //隱藏搜尋框
            //參考資料https://stackoverflow.com/questions/32629949/show-entries-dropdown-disappear-when-using-export-tools
            dom: 'Bfrtip',
            buttons: [
                'pageLength', 'copy', 'csv', 'excel', 'print'
            ],
            "order": [[9, 'desc']]  // 在這裡指定初始排序的列和順序，0 表示第一列（memberId），'desc' 表示降序
        });


        var selectedEmails = []; // 儲存選中email的陣列

        //==========Datatable全選功能（參考資料https://juejin.cn/s/select%20all%20checkbox%20jquery%20datatable%20pagination）
        $('#select-all').click(function () {
            $(':checkbox', dataTable.rows().nodes()).prop('checked', this.checked);

            var checkboxRows = $(':checkbox:checked', dataTable.rows().nodes()).closest('tr');
            checkboxRows.find('td').addClass('selected-cell');

            var nonCheckboxRows = $(':checkbox:not(:checked)', dataTable.rows().nodes()).closest('tr');
            nonCheckboxRows.find('td').removeClass('selected-cell');

            selectedEmails = []; // 清空之前存的選取 email 值

            // 遍歷每個選中的複選框
            $(':checkbox:checked', dataTable.rows().nodes()).each(function () {
                $(this).addClass('selected-cell');
                var email = $(this).data('email'); //獲取 data - email 屬性的值
                selectedEmails.push(email); // 將 email 值添加到陣列中
            });
            console.log(selectedEmails);
        });





        // 監聽checkbox變更事件
        $('#member-table tbody').on('change', '.row-checkbox', function () {
            var isChecked = $(this).is(':checked');
            var $row = $(this).closest('tr');
            var emailValue = $(this).data('email'); // 使用data-email屬性來取得email的值

            if (isChecked) {
                // 遍歷該行的所有單元格並添加選中樣式
                $row.find('td').addClass('selected-cell');

                selectedEmails.push(emailValue); // 將email值加入陣列中

                console.log('Selected emails:', selectedEmails);
            } else {
                // 移除該行的所有單元格的選中樣式
                $row.find('td').removeClass('selected-cell');

                var index = selectedEmails.indexOf(emailValue);
                if (index !== -1) {
                    selectedEmails.splice(index, 1); // 從陣列中移除email值

                    console.log('Selected emails:', selectedEmails);
                }
            }
        });

        //=====================打開發送電子報modal按鈕
        $('#NewsLetterModalBtn').on('click', function () {
            //將郵件地址加上美化CSS
            var formattedEmails = selectedEmails.map(function (email) {
                return '<span class="email_addCss">' + email + '</span>';
            });

            var formattedEmailsString = formattedEmails.join(', ');
            $('#sentMailAddress').html(formattedEmailsString);
        })

        //=====================按下發送按鈕
        $('#SentNewsLetter').on('click', function () {

            Swal.fire({
                title: '請稍等...',
                text: '程式執行中...請不要關閉此視窗',
                allowOutsideClick: false,
                showConfirmButton: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });

            var TemplateId = $('#sentTemplateId').val();
            var Subject = $('#sentSubject').val();
            var ImageUrl = $('#sentImgUrl').val();
            var fileInput = $('#sentContentImage')[0];
            var file = fileInput.files[0];

            var formData = new FormData();
            formData.append("TemplateId", TemplateId);
            formData.append("Subject", Subject);
            formData.append("ImageUrl", ImageUrl);
            formData.append("ContentImage", file);

            // Convert selectedEmails array to a comma-separated string
            var recipientEmails = selectedEmails.join(",");
            formData.append("RecipientEmails", recipientEmails);

            $.ajax({
                url: '@Url.Action("SentNewsLetter", "Member")',
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // 關閉 loading 視窗
                    Swal.close();

                    Swal.fire({
                        icon: 'success',
                        title: '已成功發送郵件!',
                    }).then(function () {
                        window.location.reload();
                    });

                }
            });
        });

        //===================新增電子版上下版
        $('#CreatNewsLetter').on('click', function () {
            var fileInput1 = $('#headerImg')[0];
            var fileInput2 = $('#footerImg')[0];
            var headerFile = fileInput1.files[0];
            var footerFile = fileInput2.files[0];

            var formData = new FormData();
            formData.append("HeaderImage", headerFile);
            formData.append("FooterImage", footerFile);

            $.ajax({
                url: '@Url.Action("editorUploadImage", "Member")',
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert("儲存成功!");
                    window.location.reload();
                },
                error: function (error, a, b) {
                    console.log(error);
                    console.log(a);
                    console.log(b);
                    console.log("Error retrieving member details.");
                }
            });
        })

        //==================按下「詳細資料」按鈕的點擊事件處理
        $('#member-table').on('click', '.detail_input', function () {
            var memberId = $(this).data('memberid'); // 從按鈕的 data-memberid 屬性中獲取 memberId
            // console.log('Clicked on "詳細資料" button for memberId:', memberId);

            //----------------AJAX
            $.ajax({
                url: '@Url.Action("GetMemberDetails", "Member")',
                type: 'GET',
                data: { id: memberId }, // id=>這個名稱要確保欄位跟controller的參數名稱相同（傳遞會員ID或其他必要的參數）
                success: function (data) {
                    console.log(data);

                    function formatDateTime(dateTimeString) {
                        var dateTime = new Date(dateTimeString);
                        var year = dateTime.getFullYear();
                        var month = String(dateTime.getMonth() + 1).padStart(2, '0');
                        var day = String(dateTime.getDate()).padStart(2, '0');
                        var hours = String(dateTime.getHours()).padStart(2, '0');
                        var minutes = String(dateTime.getMinutes()).padStart(2, '0');
                        var seconds = String(dateTime.getSeconds()).padStart(2, '0');

                        return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
                    }

                    function formatDate(date) {
                        var dateTime = new Date(date);
                        var year = dateTime.getFullYear();
                        var month = String(dateTime.getMonth() + 1).padStart(2, '0');
                        var day = String(dateTime.getDate()).padStart(2, '0');

                        return year + '-' + month + '-' + day;
                    }

                    //============基本資料

                    if (data.data.memberImage == null) {
                        $('#memberImg').attr("src", "/images/CatCha/profile_Icon.png");
                    } else {
                        $('#memberImg').attr("src", data.data.memberImage);
                    }

                    $('#memberId').text("ID：" + data.data.memberId);
                    $('#name').text(data.data.name);

                    if (data.data.memberAccount == null){
                        $('#memberAccount').text("帳號：" + data.data.email);
                    } else {
                        $('#memberAccount').text("帳號：" + data.data.memberAccount);
                    }

                    if (data.data.gender == "女") {
                        var html = '<i class="fas fa-venus"></i>';
                        $('#info_gender').html(html);
                    } else {
                        var html = '<i class="fas fa-mars"></i>';
                        $('#info_gender').html(html);
                    }



                    var formattedBirthday = formatDate(data.data.birthday);
                    $('#birthday').text("生日：" + formattedBirthday);

                    $('#email').text("E-mail：" + data.data.email);
                    $('#phoneNumber').text("電話：" + data.data.phoneNumber);
                    $('#address').text("地址：" + data.data.address);

                    var formattedregistration = formatDateTime(data.data.registrationTime);
                    $('#registrationTime').text("註冊日期：" + formattedregistration);

                    var formattedlastLoginTime = formatDateTime(data.data.lastLoginTime);
                    $('#lastLoginTime').text("最後登入：" + formattedlastLoginTime);

                    //if (data.data.memberStatus == true) {
                    //    $('#memberStatus').text("會員狀態：開放");
                    //} else {
                    //    $('#memberStatus').text("會員狀態：凍結");
                    //}

                    //============遊戲資料
                    $('#levelId').text("LEVEL " + data.data.levelId);
                    $('#characterName').text(data.data.characterName);
                    $('#catCoinQuantity').text("貓幣數量：" + data.data.catCoinQuantity);
                    $('#loyaltyPoints').text("紅利數量：" + data.data.loyaltyPoints);
                    $('#runGameHighestScore').text("最高分：" + data.data.runGameHighestScore);

                    //===========常用地址
                    var CAContainer = $("#commonaddressContainer");
                    CAContainer.text(""); // 每次抓都要reset掉，讓之前append的地址才不會存在

                    if (data.data.shopCommonAddressData.length != 0) {
                        for (var i = 0; i < data.data.shopCommonAddressData.length; i++) {

                            var item = data.data.shopCommonAddressData[i];

                            var itemDiv = document.createElement("div");
                            itemDiv.className = "profile-card";
                            var addressNumber = i + 1; //計算幾筆資料的數字

                            itemDiv.innerHTML = `
                                                                                                                                                                                                                                                                            <h5 class="Address-title"><b>常用地址 ${addressNumber}</b></h5>
                                                                                                                                                                                                                                                                            <div class="address-text-content">
                                                                                                                                                                                                                                                                            <p>收件人姓名: ${item.recipientName}</p>
                                                                                                                                                                                                                                                                            <p>連絡電話: ${item.recipientPhone}</p>
                                                                                                                                                                                                                                                                            <p>收件地址: ${item.recipientAddress}</p>
                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                `;
                            CAContainer.append(itemDiv);
                        }
                    } else {

                        var itemDiv = document.createElement("div");
                            itemDiv.className = "profile-card";

                        itemDiv.innerHTML = `
                                                                                                                                                                                                                                                                                    <h5 class="Address-title"><b>常用地址</b></h5>
                                                                                                                                                                                                                                                                                    <div class="address-text-content">
                                                                                                                                                                                                                                                                                            <p>此會員尚未新增任何常用地址</p>
                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                        `;
                        CAContainer.append(itemDiv);
                    }


                    //===========優惠券專區
                    var couponContainer = $("#couponContainer");
                    couponContainer.text("");

                    if (data.data.shopCommonAddressData.length != 0) {
                        for (var i = 0; i < data.data.shopMemberCouponData.length; i++) {

                            var item = data.data.shopMemberCouponData[i];

                            var itemDiv = document.createElement("div");
                            itemDiv.className = "col-12 col-lg-6";

                            var couponNumber = i + 1; //計算幾筆資料的數字

                            var formattedExpiryDate = formatDate(item.coupon.expiryDate);

                            if (item.couponStatusId === "true") {
                                item.couponStatusId = "已使用";
                            } else {
                                item.couponStatusId = "未使用";
                            }
                            $('#couponContainer').css('height', '500px');
                            itemDiv.innerHTML = `

                                                                            <div class="coupon">
                                                    <div class="left-coupon">
                                                                        <div>第${couponNumber}張<p>ID ${item.couponId}</p></div>
                                                    </div>
                                                    <div class="center-coupon">
                                                        <div>
                                                                    <h2>${item.couponStatusId}</h2>
                                                            <h3>${item.coupon.couponContent}</h3>
                                                                    <small>有效日期 ${formattedExpiryDate}</small>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                    </div>
                                                </div>

                                                                                                                                                                                                                                                                `;
                            couponContainer.append(itemDiv);
                        }
                    } else {
                        $('#couponContainer').css('height', 'unset');
                        var itemDiv = document.createElement("div");
                        itemDiv.className = "profile-card";

                        itemDiv.innerHTML = `
                                                                                                                                                                                                                                                                                            <h5 class="Address-title"><b>優惠券</b></h5>
                                                                                                                                                                                                                                                                                            <div class="address-text-content">
                                                                                                                                                                                                                                                                                                            <p>此會員未持有優惠券</p>
                                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                                `;
                        couponContainer.append(itemDiv);
                    }
                },
                error: function (error, a, b) {
                    console.log(error);
                    console.log(a);
                    console.log(b);
                    console.log("Error retrieving member details.");
                }
            });
        });

        //==================按下「編輯」按鈕的點擊事件處理
        $('#member-table').on('click', '.edit_memberbtn', function () {
            var memberId = $(this).data('memberid'); // 從按鈕的 data-memberid 屬性中獲取 memberId

            //----------------AJAX
            $.ajax({
                url: '@Url.Action("EditMemeber", "Member")',
                type: 'GET',
                data: { id: memberId }, // id=>這個名稱要確保欄位跟controller的參數名稱相同（傳遞會員ID或其他必要的參數）
                success: function (data) {
                    console.log(data);

                    //==================基本資料
                    $('#memberId_edit').val(data.data.memberId);
                    $('#name_edit').val(data.data.name);
                    $('#memberAccount_edit').val(data.data.memberAccount);
                    $('#gender_edit').val(data.data.gender);

                    //生日日期轉換：use Moment.js
                    var date = moment(data.data.birthday);
                    // 格式化日期為 yyyy-MM-dd 格式
                    var formattedDate = date.format("YYYY-MM-DD");
                    $('#birthday_edit').val(formattedDate);

                    $('#email_edit').val(data.data.email);
                    $('#phoneNumber_edit').val(data.data.phoneNumber);
                    $('#address_edit').val(data.data.address);

                    //if (data.data.memberStatus == null) {
                    //    $('#memberStatus_edit').val("false");
                    //} else {
                    //    $('#memberStatus_edit').val(data.data.memberStatus.toString());
                    //}

                    if (data.data.subscribe == null) {
                        $('#memberSubscribe_edit').val("false");
                    } else {
                        $('#memberSubscribe_edit').val(data.data.subscribe.toString());
                    }

                    //==================遊戲資料
                    $('#levelId_edit').val(data.data.levelId);
                    $('#characterName_edit').val(data.data.characterName);
                    $('#catCoinQuantity_edit').val(data.data.catCoinQuantity);
                    $('#loyaltyPoints_edit').val(data.data.loyaltyPoints);
                }
            });
        });

        //==================編輯資料後，按下「儲存」按鈕的點擊事件處理
        $('.EditMember_Save').click(function () {

            //==============送出前先驗證信箱格式
            var email = $('#email_edit').val();
            const emailRegex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if (!emailRegex.test(email)) {
                Swal.fire({
                    icon: 'error',
                    title: 'email格式有誤',
                    text: '請重新輸入'
                });
                return;
            }

            //==================基本資料
            var MemberId = $('#memberId_edit').val();
            var Name = $('#name_edit').val();
            var MemberAccount = $('#memberAccount_edit').val();
            var Gender = $('#gender_edit').val();
            var Birthday = $('#birthday_edit').val();

            var Email = $('#email_edit').val();
            var PhoneNumber = $('#phoneNumber_edit').val();
            var Address = $('#address_edit').val();
            //var MemberStatus = $('#memberStatus_edit').val();
            var MemberSubscribe = $('#memberSubscribe_edit').val();

            //==================遊戲資料
            var LevelId = $('#levelId_edit').val();
            var CharacterName = $('#characterName_edit').val();
            var CatCoinQuantity = $('#catCoinQuantity_edit').val();
            var LoyaltyPoints = $('#loyaltyPoints_edit').val();

            var editMember = {
                MemberId: MemberId,
                Name: Name,
                MemberAccount: MemberAccount,
                Gender: Gender,
                Birthday: Birthday,
                Email: Email,
                PhoneNumber: PhoneNumber,
                Address: Address,
                //MemberStatus: MemberStatus,
                LevelId: LevelId,
                CharacterName: CharacterName,
                CatCoinQuantity: CatCoinQuantity,
                LoyaltyPoints: LoyaltyPoints,
                Subscribe: MemberSubscribe,
            };

            $.ajax({
                url: '/AdminCMS/Member/UpdateMember',
                type: 'POST',
                data: { editMember: editMember },
                success: function (response) {
                    if (response.success) {
                        // 更新成功的處理
                        // 顯示成功訊息
                        Swal.fire({
                            icon: 'success',
                            title: '編輯成功',
                            text: response.message
                        });

                        // 關閉modal
                        $('#EditModalToggle').modal('hide');

                        // 重新整理dataTable
                        $('#member-table').DataTable().ajax.reload(); // 這將重新載入dataTable的資料
                    } else {
                        // 更新失敗
                        Swal.fire({
                            icon: 'error',
                            title: '失敗',
                            text: response.message
                        });
                    }
                },
                error: function (error) {
                    // 錯誤處理
                    // 會員編輯失敗，顯示錯誤訊息
                    console.log(error);
                }
            });
        })


        var CheckAccResult = ""; //將帳號是否已存在的結果，設成全域變數給儲存按鈕做驗證

        //====================離開input 驗證帳號是否重複
        function CheckDuplicateAccount() {
            var account = $('#CreatMemberAccount').val(); //抓到使用者輸入的帳號

            if (account === "") { //當輸入框為空時，隱藏錯誤消息
                $('#error1').text("");
                CheckAccResult = "";
                return;
            }

            //===============打API驗證姓名是否已存在
            //資料庫有的帳號：catCha2、catCha
            $.ajax({
                url: '/AdminCMS/Member/CheckDuplicateAccount',
                type: 'GET',
                data: { account: account },
                success: function (result) {
                    // console.log(result)
                    CheckAccResult = result.isDuplicate;

                    if (result.isDuplicate) { //如果等於true
                        CheckAccResult = result.isDuplicate;
                        $('#error1').text("此帳號已存在");
                    } else if (isVaild_acc == false) {
                        $('#error1').text("Email格式不正確");
                    } else {
                        CheckAccResult = result.isDuplicate;
                        $('#error1').text("");
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        //====================新增會員demo鍵
        function setErrorValue() {
            $('#CreatName').val("王小明");
            $('#CreatMemberAccount').val("catcha@yahoo.com.tw");
            $('#CreatMemberPassword').val("12345678a");
            $('#CreatMemberCheckPassword').val("12345678");
            $('#CreatBirthday').val("1992-10-04");
            $('#CreatEmail').val("catcha");
            $('#CreatPhoneNumber').val("0912345678");
            $('#CreatAddress').val("235新北市中和區中山路二段347號");
        }

        //====================新增會員有驗證的demo鍵
        function setValue() {
            //===================姓名欄位隨機生成三個繁體中文字
            function generateRandomChineseName() {
                const chineseCharacters = ["王", "李", "張", "劉", "陳", "楊", "黃", "吳", "趙", "周", "徐", "孫", "馬", "朱", "胡", "林", "郭", "何", "高", "羅", "鄭", "梁", "謝", "宋", "唐", "許", "鄧", "馮", "韓", "曹", "曾", "彭", "蕭", "程", "蔡", "潘", "田", "余", "董", "袁", "于", "蘇", "魏", "呂", "葉", "汪", "程", "朱", "秦", "尤"];

                let randomName = '';
                for (let i = 0; i < 3; i++) {
                    const randomIndex = Math.floor(Math.random() * chineseCharacters.length);
                    randomName += chineseCharacters[randomIndex];
                }

                return randomName;
            }

            // 設定#CreatName輸入框的值為隨機生成的繁體中文名字
            function setRandomChineseName() {
                const randomName = generateRandomChineseName();
                $('#CreatName').val(randomName);
            }

            // 調用setRandomChineseName函數來設定#CreatName輸入框的值
            setRandomChineseName();



            //===============帳號郵件欄位生成隨機的5-6個英文字母
            function generateRandomString() {
                const length = Math.floor(Math.random() * 2) + 5; // 隨機生成長度為5或6
                const characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
                let randomString = '';

                for (let i = 0; i < length; i++) {
                    const randomIndex = Math.floor(Math.random() * characters.length);
                    randomString += characters.charAt(randomIndex);
                }

                return randomString + "@@yahoo.com.tw";
            }

            // 設置#CreatMemberAccount輸入框的值為隨機生成的英文字母后面加上固定的字符串
            function setRandomValue() {
                const randomValue = generateRandomString();
                $('#CreatMemberAccount').val(randomValue);
                $('#CreatEmail').val(randomValue);
            }

            // 調用setRandomValue函數來設置#CreatMemberAccount輸入框的值
            setRandomValue();

            $('#CreatMemberPassword').val("12345678a");
            $('#CreatMemberCheckPassword').val("12345678a");
            $('#CreatBirthday').val("1992-05-05");
            $('#CreatPhoneNumber').val("0912345678");
            $('#CreatAddress').val("110台北市信義區市府路45 號");
        }

        //=====================電子報demo鍵
        function setSendEmailValue() {
            $('#sentSubject').val('【CATCHA｜春夏特賣會好評加碼24HR】現正熱賣中！立刻去瞧瞧');
            $('#sentImgUrl').val('https://localhost:7218/Index/ShopDetail?pId=22');
        }

        //=============上傳圖片預覽功能
        $('#sentContentImage').on('change', function (e) {
            //1 - createObjectURL 寫法
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);

            $('#showImg').attr('src', objectURL);
        });

        //====================新增會員
        $('#CreatMember').click(function () {

            var Name = $('#CreatName').val();
            var MemberAccount = $('#CreatMemberAccount').val();
            var Password = $('#CreatMemberPassword').val();
            var CheckPassword = $('#CreatMemberCheckPassword').val();
            var Gender = $('#CreatGender').val();
            var Birthday = $('#CreatBirthday').val();
            var Email = $('#CreatEmail').val();
            var PhoneNumber = $('#CreatPhoneNumber').val();
            var Address = $('#CreatAddress').val();
            //var MemberStatus = $('#CreatMemberStatus').val();
            var Subscribe = $('#CreatMemberSubscribe').val();

            CheckDuplicateAccount();
            checkMail();
            checkPassword();
            isValidCheckPassword();

            // 檢查必填欄位是否有值
            if (!Name || !MemberAccount || !Password || !CheckPassword || !Gender || !Birthday || !Email || !PhoneNumber) {
                Swal.fire({
                    icon: 'error',
                    title: '錯誤',
                    text: '請填寫所有必填欄位。'
                });
                return;
            }

            // 檢查帳號是否已存在或者isVaild只要是false就return
            if (CheckAccResult == true || isVaild == false || isVaild_mail == false || isVaild_acc == false) {
                return;
            }

            var now = new Date();

            //將日期時間對象轉換為適合SQL Server的格式 (YYYY-MM-DD HH:MI:SS)
            var formattedDateTime = now.toLocaleString('en-US', { timeZone: 'Asia/Taipei' });

            var newMember = {
                Name: Name,
                MemberAccount: MemberAccount,
                Gender: Gender,
                Birthday: Birthday,
                Email: Email,
                PhoneNumber: PhoneNumber,
                Address: Address,
                //MemberStatus: MemberStatus,
                Subscribe: Subscribe,
                RegistrationTime: formattedDateTime
            };

            try {
                $.ajax({
                    url: '/AdminCMS/Member/AddMember',
                    type: 'POST',
                    data: { newMember: newMember },
                    success: function (response) {
                        // console.log(result)
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '新增成功',
                                text: response.message
                            });

                            // 關閉modal
                            $('#addMemberModalToggle').modal('hide');

                            // 重新整理dataTable
                            $('#member-table').DataTable().ajax.reload(); // 這將重新載入dataTable的資料

                            // 將表單input的值恢復成空的
                            $('#addMemberModalToggle input').val('');

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '錯誤',
                                text: response.message
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: '錯誤',
                            text: "An error occurred: " + xhr.responseText
                        });
                    }
                });
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
    }
