@{
    ViewData["Title"] = "商城退換貨管理";
    Layout = "~/Areas/AdminCMS/Views/Shared/CMS_Layout.cshtml";
}

@section Styles{
    <style>
        /*產品明細表格RWD*/
        .rwd-table {
            background: #fff;
            overflow: hidden;
        }

            .rwd-table tr:nth-of-type(2n) {
                background: #eee;
            }

            .rwd-table th,
            .rwd-table td {
                margin: 0.5em 1em;
            }

        .rwd-table {
            min-width: 100%;
        }

            .rwd-table th {
                display: none;
            }

            .rwd-table td {
                display: block;
            }

                .rwd-table td:before {
                    content: attr(data-th) " : ";
                    font-weight: bold;
                    width: 6.5em;
                    display: inline-block;
                }

            .rwd-table th, .rwd-table td {
                text-align: left;
            }

                .rwd-table th, .rwd-table td:before {
                    color: #b95756;
                    font-weight: bold;
                }

        @@media (min-width: 480px) {
            .rwd-table td:before {
                display: none;
            }

            .rwd-table th, .rwd-table td {
                display: table-cell;
                padding: 0.25em 0.5em;
            }

                .rwd-table th:first-child,
                .rwd-table td:first-child {
                    padding-left: 0;
                }

                .rwd-table th:last-child,
                .rwd-table td:last-child {
                    padding-right: 0;
                }

            .rwd-table th,
            .rwd-table td {
                padding: 1em !important;
            }

            .rwd-table tr:nth-of-type(2n) {
                background: #FFF !important;
            }
        }

        #return_returnReason {
            color: red;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px !important;
        }

        /* 自定義SweetAlert2的字體大小 */
        .swal2-popup {
            font-size: 19px; /* 調整字體大小，根據需要更改數值 */
        }

        /* 自定義SweetAlert2的確認按鈕樣式 */
        .swal2-confirm {
            background-color: #b95756 !important; /* 更改背景顏色 */
            color: #fff !important; /* 更改文字顏色 */
            border: 2px solid #b95756 !important; /* 更改邊框 */
        }

        #swal2-title{
        font-size: 27px !important;
        }

        #imageContainer {
            display: inline-block;
            cursor: pointer;
        }
    </style>
}

<div class="middle-content">

    <div class="row  align-items-center">
        <div class="col-6">
            <h2 class="mt-3">退換貨管理</h2>
        </div>
        <div class="col-6 text-end mt-3">
            <button class="create_btn" id="createReason" data-bs-toggle="modal" href="#editStatusModalToggle" role="button">新增原因</button>
        </div>
    </div>

    @*<a data-bs-toggle="modal" href="#modal1" class="btn btn-primary">Launch modal</a>

    <!-- 第一个模态框 -->
    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1Label">第一个模态框</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 添加触发SweetAlert的按钮 -->
                    <button type="button" class="btn btn-primary" id="openSweetAlert">打开SweetAlert</button>
                </div>
            </div>
        </div>
    </div>*@

    <!---新增退換貨狀態 modal-->
    <div class="modal fade" id="editStatusModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">新增退換貨原因</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <table class="table table-bordered border-danger">
                        <thead>
                            <tr>
                                @*<th scope="col">ID</th>*@
                                <th scope="col">原因名稱</th>
                            </tr>
                        </thead>
                        <tbody id="appendReason">
                        </tbody>
                    </table>

                    <button id="CreatReturnReason" class="btn btn-danger btn-block" style="width: 100%;">
                        儲存
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!---新增退換貨狀態 modal-->

    <div class="search-row row mt-3">
        @*         <div class="row align-items-center mb-3">
        退換貨日期：
        <input type="text" class="form-control w-25" name="dates" />
        </div> *@
        <div class="row align-items-center mb-3">
            原因類別：
            <select class="form-select w-25" id="reasonList">
                <option value="" selected>全部訂單</option>
            </select>
        </div>
        <div class="row align-items-center mb-3">
            退換貨狀態：
            <select class="form-select w-25" id="statusList">
                <option value="" selected>全部訂單</option>
                <option value="待處理">待處理</option>
                <option value="審核中">審核中</option>
                <option value="已批准">已批准</option>
                <option value="待退貨">待退貨</option>
                <option value="待換貨">待換貨</option>
                <option value="退貨中">退貨中</option>
                <option value="換貨中">換貨中</option>
                <option value="已完成">已完成</option>
                <option value="取消">取消</option>
            </select>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!--表格-->
                <table id="SReturn-table" class="table table-striped nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>訂單ID</th>
                            <th>會員ID</th>
                            <th>會員姓名</th>
                            <th>申請日期</th>
                            <th>退換貨原因</th>
                            <th>狀態</th>
                            <th>詳細資料</th>
                            <th>編輯</th>
                        </tr>
                    </thead>
                </table>
                <!--表格-->
            </div>
        </div>
    </div>
</div>

<!---詳細資料model-->
<div class="modal fade" id="returnDetailModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">
                    詳細資訊
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab"
                                data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                                role="tab">
                            退換貨明細
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button"
                                role="tab">
                            訂單明細
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-product" type="button"
                                role="tab">
                            訂購人 / 收件人資料
                        </button>
                    </div>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p id="return_returnId"></p>
                                <p id="return_returnDate"></p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p id="return_returnReason"></p>
                                <p id="return_returnStatus"></p>
                            </div>
                            <div class="col-12">
                                <!--下拉卷軸-->
                                <button class="create_btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReturnExample" aria-expanded="false" aria-controls="collapseExample">
                                    申請退換貨產品明細
                                </button>
                                <!--訂購產品明細-->
                                <div class="collapse show" id="collapseReturnExample">
                                    <div class="card card-body">
                                        <div id="ReturnProductContainer"></div>
                                    </div>
                                </div>
                                <!--下拉卷軸-->
                            </div>
                        </div>
                    </div>
                    <!--訂單明細-->
                    <div class="tab-pane fade mt-3" id="nav-profile" role="tabpanel">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <p id="order_orderId"></p>
                                <p id="order_paymentMethod"></p>
                                <p id="order_shippment"></p>
                                <p id="order_totalPrice"></p>
                                <p id="order_lastUpdateTime"></p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p id="order_orderCreationDate"></p>
                                <p id="order_shippingMethod"></p>
                                <p id="order_couponContent"></p>
                                <p id="order_orderStatus"></p>
                            </div>
                            <div class="col-12">
                                <!--下拉卷軸-->
                                <button class="create_btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOrderExample" aria-expanded="false" aria-controls="collapseExample">
                                    訂購產品明細
                                </button>
                                <!--訂購產品明細-->
                                <div class="collapse show" id="collapseOrderExample">
                                    <div class="card card-body">
                                        <div id="ProductTotalContainer"></div>
                                    </div>
                                </div>
                                <!--下拉卷軸-->
                            </div>
                        </div>
                    </div>
                    <!--退換貨明細-->
                    <div class="tab-pane fade" id="nav-product" role="tabpanel">
                        <div class="row">
                            <div class="col-12 col-lg-6" style="border-right: 1px solid #aaa;">
                                <h5><strong>訂購人(會員)</strong></h5>
                                <p id="order_memberId"></p>
                                <p id="order_name"></p>
                                <p id="order_memberAccount"></p>
                                <p id="order_gender"></p>
                                <p id="order_birthday"></p>
                                <p id="order_email"></p>
                                <p id="order_phoneNumber"></p>
                                <p id="order_address"></p>
                                <p id="order_registrationTime"></p>
                                <p id="order_lastLoginTime"></p>
                                <p id="order_memberStatus"></p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h5><strong>收件人</strong></h5>
                                <p id="order_recipientName"></p>
                                <p id="order_recipientPhone"></p>
                                <p id="order_recipientAddress"></p>
                            </div>
                        </div>

                    </div>
                    <!--退換貨明細-->
                </div>
            </div>
        </div>
    </div>
</div>
<!---詳細資料model-->


<!--編輯彈出視窗-->
<div class="modal fade" id="returnEditModalToggle" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">編輯退換貨資料</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--內容表單-->
                <div class="row">

                    <input type="hidden" class="form-control" id="orderId" readonly disabled>

                    <div class="col-12 mb-3">
                        <label>退換貨原因</label>
                        <select class="form-select" id="returnReasonId">
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <label>狀態</label>
                        <select class="form-select" id="processingStatusId">
                        </select>
                    </div>

                    <button type="button" class="mt-3 btn btn-danger btn-block editReturn_save"
                            style="width: 100%;">
                        儲存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--編輯彈出視窗-->
@section Scripts{

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script>
        $('input[name="dates"]').daterangepicker();

        $(".testBtn").on("click", function () {
            // 在按钮点击时触发showRemark()函数
            showRemark();
        });

       


        function showRemark() {
            Swal.fire({
                title: '編輯成功',
                text: returnRemark
            });
        }

        $(document).ready(function () {

            

            $.ajax({
                url: '@Url.Action("ReasonList", "Return")',
                type: 'GET',
                success: function (data) {
                    //console.log(data);
                    // 抓到資料庫的所有分類名稱並放入option中
                    var RRselectElement = $("#reasonList");

                    $.each(data.data.complaintCategorySelect, function (index, value) {
                        var option = $("<option>", {
                            value: value,
                            text: value
                        });

                        RRselectElement.append(option);
                    });
                },
                error: function () {
                    console.log("error:" + error);
                }
            });
            //==================datatable
            var table = $('#SReturn-table').DataTable({
                "ajax": '@Url.Action("ShowReturnTotal", "Return")',

                "columns": [
                    { data: 'orderId' },
                    { data: 'memberId' },
                    { data: 'name' },
                    {
                        data: 'returnDate',
                        render: function (data, type, row, meta) {
                            if (type === 'display' || type === 'filter') {
                                var date = new Date(data);
                                var year = date.getFullYear().toString(); // 年份
                                var month = (date.getMonth() + 1).toString().padStart(2, '0'); // 月份並補0
                                var day = date.getDate().toString().padStart(2, '0'); // 日期並補0
                                var hours = date.getHours().toString().padStart(2, '0'); // 小時並補0
                                var minutes = date.getMinutes().toString().padStart(2, '0'); // 分鐘並補0
                                var seconds = date.getSeconds().toString().padStart(2, '0'); // 秒鐘並補0

                                return `${year}-${month}-${day} <span class="time-colored-text">${hours}:${minutes}:${seconds}</span>`;
                            }
                            return data;
                        }
                    },
                    { data: 'returnReason' },
                    { data: 'statusName' },
                    {
                        data: null, // 這裡設置為 null，因為我們會在 render 中創建按鈕
                        render: function (data, type, row, meta) {
                            // return '<button class="detail_input" data-bs-toggle="modal" href="#DetailModalToggle" role="button" data-memberid="' + row.memberId + '">詳細資料</button>';
                            return '<button class="detail_input" data-bs-toggle="modal" href="#returnDetailModalToggle" role="button"  data-orderid="' + row.orderId + '" data-memberId="' + row.memberId + '">詳細資料</button>';
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            var editButton = '<button class="btn edit_orderbtn" data-bs-toggle="modal" href="#returnEditModalToggle" role="button" data-orderid="' + row.orderId + '"><i class="fas fa-edit"></i></button>';
                            return editButton;
                        }
                    },
                ],
                columnDefs: [
                    { targets: 4, searchable: true },
                    { targets: 5, searchable: true }
                    // 其他列...
                ],
                "paging": true, //分頁功能
                responsive: true, //RWD
                // "searching": false, //隱藏搜尋框
                "order": [[0, 'desc']]  // 在這裡指定初始排序的列和順序，0 表示第一列（memberId），'desc' 表示降序
            });

            // 綁定select元素的change事件，當選擇條件改變時，重新過濾表格資料
            $('#reasonList').on('change', function () {
                var filterOption1 = $(this).val();

                // 使用DataTable的column().search()方法進行過濾
                table.column(4).search(filterOption1).draw();
                // 其他列...
            });

            $('#statusList').on('change', function () {
                // var filterOption1 = $('#payList').val();
                var filterOption2 = $(this).val();

                // 使用DataTable的column().search()方法進行過濾
                table.column(5).search(filterOption2).draw();
                // 其他列...
            });

            //==================按下「詳細資料」按鈕的點擊事件處理
            $('#SReturn-table').on('click', '.detail_input', function () {

                
                var memberId = $(this).data('memberid'); // 從按鈕的 data-memberid 屬性中獲取 memberId
                var orderId = $(this).data('orderid');
                // console.log('Clicked on "詳細資料" button for memberId:', memberId);

                //----------------AJAX
                $.ajax({
                    url: '@Url.Action("GetOrderDetails", "Return")',
                    type: 'GET',
                    data: { memberId: memberId, orderId: orderId }, // id=>這個名稱要確保欄位跟controller的參數名稱相同（傳遞會員ID或其他必要的參數）
                    success: function (data) {
                        console.log(data.data);

                        function formatDateTime(dateTimeString) {
                            var dateTime = new Date(dateTimeString);
                            var year = dateTime.getFullYear();
                            var month = String(dateTime.getMonth() + 1).padStart(2, '0');
                            var day = String(dateTime.getDate()).padStart(2, '0');
                            var hours = String(dateTime.getHours()).padStart(2, '0');
                            var minutes = String(dateTime.getMinutes()).padStart(2, '0');
                            var seconds = String(dateTime.getSeconds()).padStart(2, '0');

                            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
                        }

                        function formatDate(date) {
                            var dateTime = new Date(date);
                            var year = dateTime.getFullYear();
                            var month = String(dateTime.getMonth() + 1).padStart(2, '0');
                            var day = String(dateTime.getDate()).padStart(2, '0');

                            return year + '-' + month + '-' + day;
                        }

                        //============訂購人(會員)基本資料
                        $('#order_memberId').text("ID：" + data.data.memberInfo.memberId);
                        $('#order_name').text("姓名：" + data.data.memberInfo.name);
                        $('#order_memberAccount').text("帳號：" + data.data.memberInfo.memberAccount);
                        $('#order_gender').text("性別：" + data.data.memberInfo.gender);

                        var formattedBirthday = formatDate(data.data.memberInfo.birthday);
                        $('#order_birthday').text("生日：" + formattedBirthday);

                        $('#order_email').text("E-mail：" + data.data.memberInfo.email);
                        $('#order_phoneNumber').text("電話：" + data.data.memberInfo.phoneNumber);
                        $('#order_address').text("地址：" + data.data.memberInfo.address);

                        var formattedregistration = formatDateTime(data.data.memberInfo.registrationTime);
                        $('#order_registrationTime').text("註冊日期：" + formattedregistration);

                        var formattedlastLoginTime = formatDateTime(data.data.memberInfo.lastLoginTime);
                        $('#order_lastLoginTime').text("最後登入：" + formattedlastLoginTime);

                        //if (data.data.memberInfo.memberStatus == true) {
                        //    $('#order_memberStatus').text("會員狀態：開放");
                        //} else {
                        //    $('#order_memberStatus').text("會員狀態：凍結");
                        //}

                        //============收件人資料
                        $('#order_recipientName').text("收件人：" + data.data.orderTotal.recipientName);
                        $('#order_recipientPhone').text("收件人電話：" + data.data.orderTotal.recipientPhone);
                        $('#order_recipientAddress').text("收件地址：" + data.data.orderTotal.recipientAddress);

                        //============訂單明細
                        $('#order_orderId').text("訂單編號：" + data.data.orderTotal.orderId);
                        $('#order_paymentMethod').text("付款方式：" + data.data.paymentMethod);

                        if (data.data.shippment == null) {
                            $('#order_shippment').text("運費：無");
                        } else {
                            $('#order_shippment').text("運費：" + data.data.shippment);
                        }

                        if (data.data.couponContent == null) {
                            $('#order_couponContent').text("優惠券內容：無");
                        } else {
                            $('#order_couponContent').text("優惠券內容：" + data.data.couponContent);
                        }

                        if (data.data.shippingMethod == null) {
                            $('#order_shippingMethod').text("配送方式：無");
                        } else {
                            $('#order_shippingMethod').text("配送方式：" + data.data.shippingMethod);
                        }
                        var formattedlastUpdate = formatDateTime(data.data.orderTotal.lastUpdateTime);
                        $('#order_lastUpdateTime').text("最後更新：" + formattedlastUpdate);

                        var formattedorderCreationDate = formatDateTime(data.data.orderTotal.orderCreationDate);
                        $('#order_orderCreationDate').text("訂單成立日期：" + formattedorderCreationDate);

                        $('#order_orderStatus').text("訂單狀態：" + data.data.orderStatus);

                        //===========訂購產品明細
                        var PTContainer = $("#ProductTotalContainer");
                        var totalPrice = 0; // 用於累加小計，秀出總金額
                        PTContainer.html(""); // 使用html()方法來重置容器內容

                        if (data.data.orderDetails.length != 0) {
                            var tableHTML = `
                                                                                                                                        <table class="rwd-table">
                                                                                                                                            <thead style='border-bottom: 1px solid #ddd;'>
                                                                                                                                                <tr>
                                                                                                                                                    <th>項次</th>
                                                                                                                                                    <th>商品ID</th>
                                                                                                                                                    <th>名稱</th>
                                                                                                                                                    <th>數量</th>
                                                                                                                                                    <th>單價</th>
                                                                                                                                                    <th>小計</th>
                                                                                                                                                </tr>
                                                                                                                                            </thead>
                                                                                                                                            <tbody>
                                                                                                                                    `;

                            for (var i = 0; i < data.data.orderDetails.length; i++) {
                                var item = data.data.orderDetails[i];
                                var orderNumber = i + 1;

                                var subTotal = item.product.productPrice * item.productQuantity; // 計算小計
                                totalPrice += subTotal; // 將小計累加到總金額中

                                tableHTML += `
                                                                                                                                            <tr>
                                                                                                                                                                        <td data-th="項次">${orderNumber}</td>
                                                                                                                                                                        <td data-th="商品ID">${item.product.productId}</td>
                                                                                                                                                                        <td data-th="名稱">${item.product.productName}</td>
                                                                                                                                                                        <td data-th="數量">${item.productQuantity}</td>
                                                                                                                                                                        <td data-th="單價">${item.product.productPrice}</td>
                                                                                                                                                                                                <td data-th="小計">${subTotal}</td>
                                                                                                                                            </tr>
                                                                                                                                        `;
                            }

                            tableHTML += `
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    `;

                            PTContainer.html(tableHTML);

                            // 將總金額填入指定的元素中
                            $("#order_totalPrice").text(`總金額：NT＄${totalPrice.toLocaleString()} (未含運費)`);
                        } else {
                            PTContainer.text("沒有可顯示的產品明細");
                        }

                        //==================退換貨明細
                        $('#return_returnId').text("ID：" + data.data.returnData.id);

                        var formattedreturnDate = formatDateTime(data.data.returnData.returnDate);
                        $('#return_returnDate').text("申請日期：" + formattedreturnDate);
                        $('#return_returnReason').text("退換貨原因：" + data.data.returnReason);
                        $('#return_returnStatus').text("申請狀態：" + data.data.returnStatus);

                        //===========訂購產品明細
                        var RPContainer = $("#ReturnProductContainer");
                        RPContainer.html(""); // 使用html()方法來重置容器內容

                        console.log(data.data.returnData);

                        if (data.data.returnData != null) {

                            var ReturnTableHTML = `
                                                                                                                                                <table class="rwd-table">
                                                                                                                                                    <thead style='border-bottom: 1px solid #ddd;'>
                                                                                                                                                        <tr>
                                                                                                                                                            <th>項次</th>
                                                                                                                                                            <th>商品ID</th>
                                                                                                                                                            <th>名稱</th>
                                                                                                                                                            <th>數量</th>
                                                                                                                                                            <th>回傳圖片</th>
                                                                                                                                                            <th>備註</th>
                                                                                                                                                        </tr>
                                                                                                                                                    </thead>
                                                                                                                                                    <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                                                        <td data-th="項次">1</td>
                                                                                                                                                                                                        <td data-th="商品ID">${data.data.returnData.productId}</td>
                                                                                                                                                                                                        <td data-th="名稱">${data.data.returnProduct}</td>
                                                                                                                                                                                                        <td data-th="數量">${data.data.returnData.returnCount}</td>
                                                                                                                                                                                                                <td data-th="回傳圖片"><div id="imageContainer"><img src="${data.data.returnData.returnImage}" width="100" /></div></td>
                                                                                                                                                                                                                                                                                                <td data-th="備註"><button type="button" class="detail_input" id="openSweetAlert">查看</button></td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody>
                                                                                                                                                </table>
                                                                                                                                            `;

                            RPContainer.html(ReturnTableHTML);

                            $("#imageContainer").on('click', function () {
                                var imageURL = $(this).find('img').attr('src');

                                // 使用SweetAlert2顯示圖片
                                Swal.fire({
                                    imageUrl: imageURL, // 圖片的URL
                                    imageWidth: 'auto', // 使用圖片的原始寬度
                                    imageHeight: 'auto', // 使用圖片的原始高度
                                    confirmButtonText: '確定'
                                });
                            });

                            // 打開SweetAlert
                            $("#openSweetAlert").on('click', function () {
                                Swal.fire({
                                    title: '備註內容',
                                    text: data.data.returnData.returnContent,
                                    confirmButtonText: '確定'
                                });
                            });

                        }
                    },
                    error: function (error, a, b) {
                        console.log(error);
                        console.log(a);
                        console.log(b);
                        console.log("Error retrieving order details.");
                    }
                });
            });



            //==================按下「編輯」按鈕的點擊事件處理
            $('#SReturn-table').on('click', '.edit_orderbtn', function () {
                var orderId = $(this).data('orderid'); // 從按鈕的 data-memberid 屬性中獲取 memberId

                //console.log(orderId);

                //----------------AJAX
                $.ajax({
                    url: '@Url.Action("EditReturn", "Return")',
                    type: 'GET',
                    data: { id: orderId }, // id=>這個名稱要確保欄位跟controller的參數名稱相同（傳遞會員ID或其他必要的參數）
                    success: function (data) {
                        console.log(data);

                        $('#orderId').val(data.data.orderReturn.orderId);

                        // 清空所有<select>元素的選項
                        $("#returnReasonId, #processingStatusId").empty();

                        // 抓到資料庫的所有退貨原因名稱並放入option中
                        var RRselectElement = $("#returnReasonId");

                        $.each(data.data.returnReasonSelect, function (index, value) {
                            var option = $("<option>", {
                                value: index + 1,
                                text: value
                            });

                            if (value === data.data.returnReasonNames) {
                                option.prop("selected", true); // Set the option as selected
                            }
                            RRselectElement.append(option);
                        });

                        // 抓到資料庫的所有退換貨狀態名稱並放入option中
                        var PSselectElement = $("#processingStatusId");

                        $.each(data.data.returnStatusSelect, function (index, value) {
                            var option = $("<option>", {
                                value: index + 1,
                                text: value
                            });

                            if (value === data.data.returnStatusNames) {
                                option.prop("selected", true); // Set the option as selected
                            }
                            PSselectElement.append(option);
                        });
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });

            //==================編輯資料後，按下「儲存」按鈕的點擊事件處理
            $('.editReturn_save').click(function () {

                //==================退換貨資料
                var orderId = $('#orderId').val();
                var returnReasonId = $('#returnReasonId').val();
                var processingStatusId = $('#processingStatusId').val();

                //console.log(orderId);
                //console.log(returnReasonId);
                //console.log(processingStatusId);


                var editReturn = {
                    orderId: orderId,
                    returnReasonId: returnReasonId,
                    processingStatusId: processingStatusId,
                };

                console.log(editReturn);
                // return;

                $.ajax({
                    url: '/AdminCMS/Return/UpdateReturn',
                    type: 'POST',
                    data: { editReturn: editReturn },
                    success: function (response) {
                        if (response.success) {
                            // 更新成功的處理
                            // 顯示成功訊息
                            Swal.fire({
                                icon: 'success',
                                title: '編輯成功',
                                text: response.message
                            });

                            // 關閉modal
                            $('#returnEditModalToggle').modal('hide');

                            // 重新整理dataTable
                            $('#SReturn-table').DataTable().ajax.reload(); // 這將重新載入dataTable的資料
                        } else {
                            // 更新失敗
                            Swal.fire({
                                icon: 'error',
                                title: '失敗',
                                text: response.message
                            });
                        }
                    },
                    error: function (error) {
                        // 錯誤處理
                        // 會員編輯失敗，顯示錯誤訊息
                        console.log(error);
                    }
                });
            })




            //=======================新增原因方法
            function setupReasonTable(data) {
                //console.log(data);
                var htmlToInsert = ''; // 用於存儲要插入的HTML字符串

                // 遍歷data數組中的每個對象
                $.each(data.data.serviceCase, function (index, reason) {
                    htmlToInsert += `
                                                                                                    <tr>
                                                                                                        <td>${reason.returnReason}</td>
                                                                                                    </tr>
                                                                                                `;
                });

                // 將HTML字符串添加到目標元素
                $('#appendReason').html(htmlToInsert);

                //let maxId = data.data.serviceCase.length;

                // 找到最後一個元素並添加加號圖標
                let lastElement = data.data.serviceCase[data.data.serviceCase.length - 1];
                if (lastElement) {
                    $('#appendReason tr:last-child td:last-child').append('<i class="fas fa-plus ms-2"></i>');
                }
            }

            //let maxId; //最大ID

            //================按下新增原因按鈕事件
            $('#createReason').click(function () {
                $.ajax({
                    url: '@Url.Action("ReasonList", "Return")',
                    type: 'GET',
                    success: function (data) {
                        //console.log(data);
                        setupReasonTable(data);
                        //maxId = data.data.serviceCase.length;
                    },
                    error: function () {
                        console.log("error:" + error);
                    }
                });
            })


            // 監聽加號圖標的點擊事件
            $('#appendReason').on('click', 'i.fa-plus', function () {
                // 增加最大ID
                //maxId++;

                // 創建一個新的<tr>行
                let newRow = $('<tr></tr>');

                // 在新的<tr>行中創建新的<td>元素，顯示ID
                //let newIdCell = $(`<td>${maxId}</td>`);

                // 創建新的<td>元素，其中包含新的<input>元素
                let newInputCell = $('<td><input type="text" class="newadd" /><i class="fas fa-minus-circle"></i></td>');

                // 將新的<td>元素添加到新的<tr>行中
                //newRow.append(newIdCell);
                newRow.append(newInputCell);

                // 在最後一行的後面插入新的<tr>行
                $('#appendReason tr:last-child').after(newRow);

            });



            // 監聽刪除圖標的點擊事件
            $('#appendReason').on('click', 'i.fa-minus-circle', function () {
                // 找到被點擊圖標所在的<tr>行
                let deletedRow = $(this).closest('tr');

                deletedRow.remove();
                //recalculateMaxId();
            });

            // 重新計算maxId
            //function recalculateMaxId() {
            //    let idCells = $('#appendReason td:first-child');
            //    maxId = 0;

            //    idCells.each(function () {
            //        let idValue = parseInt($(this).text(), 10);
            //        if (!isNaN(idValue) && idValue > maxId) {
            //            maxId = idValue;
            //        }
            //    });
            //}

            //=================新增原因按下「儲存」的事件
            $('#CreatReturnReason').click(function () {


                var reasons = []; //[{},{},{}]
                $('input[type="text"].newadd').each(function () {
                    var id = "null";
                    reasons.push({ ReturnReasonId: id, ReturnReason: $(this).val() });
                });

                console.log(reasons);


                try {
                    $.ajax({
                        url: '/AdminCMS/Return/AddReturnReason',
                        type: 'POST',
                        data: { reasons: reasons },
                        success: function (response) {
                            // console.log(result)
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: '新增成功',
                                    text: response.message
                                }).then(function () {
                                    // 關閉modal
                                    $('#editStatusModalToggle').modal('hide');
                                    window.location.reload();
                                });;
                                // 重新整理dataTable
                                //$('#return-table').DataTable().ajax.reload(); // 這將重新載入dataTable的資料
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '錯誤',
                                    text: response.message
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: '錯誤',
                                text: "An error occurred: " + xhr.responseText
                            });
                        }
                    });
                } catch (error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>
    }

