@{
    ViewData["Title"] = "ImageModerator";
}


@section Styles{
    <!-- Bootstrap CSS -->
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/custom-home-details-wishlist.css" />

    <style>
        #analysingArea {
            display: none/*剛開始載入時，先將照片隱藏none起來*/
        }

        #analysing {
            border: none; /* 移除边框 */
            background-color: transparent; /* 设置背景为透明 */
            outline: none; /* 移除聚焦时的外边框 */
        }
    </style>
}
<!--提示訊息-->
<div class="toast-container position-fixed top-25 start-50 translate-middle">

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">訊息</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<!-- Start All Title Box -->
<div class="all-title-box all-title-box-picture">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>會員中心</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Index" asp-action="Index">首頁</a></li>
                    <li class="breadcrumb-item active">會員中心</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-outline-secondary my-1" onclick="goBack()">回上一頁</button>
        </div>
    </div>
</div>


<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <!--左邊圖片區-->
            <div class="col-xl-6 col-lg-6 col-md-6">
                <form method="post" enctype="multipart/form-data" id="imgForm" class="d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <img id="imgPreview" src='@Url.Content("~/images/noimage.jpg")' alt="請放入圖片" class="d-block mx-auto" style="max-width: 250px; max-height: 250px;" />
                        <div class="mx-1" id="analysingArea">
                                <input id="analysing" value="分析中" class="text-center font-weight-bold fs-5" />
                                <img src="~/images/Walk2.gif" id="loading" style="max-width: 250px; max-height: 250px;" />
                         </div>
                    </div>
                    <div class="my-3">
                        <input type="hidden" name="memberIdForMembership" value="@ViewBag.memberIdForMembership">
                        <input type="text" name="AnnouncementContent" value="personalPicture" style="display: none;" />
                        <input type="file" name="image" id="imageInput" accept="image/*">
                        <button type="submit" id="imgChangeUrl" class="btn-sm">上傳圖片</button>
                    </div>
                </form>
                <div>
                    <h4>審核結果</h4>
                    <textarea class="form-control fs-6 m-lg-1" aria-label="With textarea" id="imageResults" rows="2" readonly></textarea>
                </div>
                <button class="btn hvr-hover mx-2" id="demoB" type="button">demoB</button>
                <button class="btn hvr-hover mx-2" id="demoG" type="button">demoG</button>
            </div>
            <!--右邊文字審核區-->
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div>
                    <h4>圖像審核</h4>
                    <textarea class="form-control fs-6 m-lg-1" aria-label="With textarea" id="checkResults" rows="3" readonly></textarea>
                </div>
                <div class="my-4">
                    <h4>圖像描述</h4>
                    <textarea class="form-control fs-6 m-lg-1" aria-label="With textarea" id="descriptionResults" rows="2" readonly></textarea>
                </div>
                <div class="my-4">
                    <h4>圖像識別</h4>
                    <textarea class="form-control fs-6 m-lg-1" aria-label="With textarea" id="visionResults" rows="7" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- ALL JS FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js."></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#imgChangeUrl').click(function () {
                event.preventDefault();
                document.querySelector('#analysingArea').style.display = "inline";

                // 取得表單元素
                const form = document.querySelector('#imgForm');

                const formData = new FormData(form);
                fetch('@Url.Content("/ImageTest/UploadImageToImageModerator")', {
                    body: formData,
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(data => {
                        //取到照片連結了
                        console.log(data.url);


                        // 圖片辨識的地方
                        var visionParams = {
                            "visualFeatures": "Adult,Brands,Categories,Color,Description,Faces,ImageType,Adult,Objects,Tags",
                            "language": "zh",
                            "model-version": "latest",
                        };
                        var visionData = {
                            url: data.url
                        };

                        // 開始圖片辨識
                        $.ajax({
                            url: "https://msit150team02visionv2.cognitiveservices.azure.com/vision/v3.2/analyze?" + $.param(visionParams),
                            beforeSend: function (xhrObj) {
                                // Request headers
                                xhrObj.setRequestHeader("Content-Type", "application/json");
                                xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "8a28a79b86204412a7eea6b22b467f0d");
                            },
                            type: "POST",
                            // Request body
                            data: JSON.stringify(visionData),
                        }).done(function (visionResult) {

                            var text = visionResult['description']['captions'][0]['text'];
                            var confidence = visionResult['description']['captions'][0]['confidence'];
                            var descriptionText = `內容:${text}\n準確度:${(confidence * 100).toFixed(2)}%`;


                            console.log("\n顏色：");
                            console.log(visionResult.color.dominantColorForeground);   //前景主顏色
                            console.log(visionResult.color.dominantColorBackground);  //背景主顏色
                            console.log(visionResult.color.dominantColors);  //主顏色

                            console.log("\n所有標籤：");
                            var tagText = "";
                            visionResult.tags.forEach(function (tag) {
                                tagText += tag.name + " / ";
                            });

                            var visionText = "分類: " + visionResult.categories[0].name + "\n" +
                            "特點: " + tagText  + "\n" +
                                "構成主色: " + visionResult.color.dominantColors + "\n" +
                                "尺寸: 高度 " + visionResult.metadata.height * 0.04 + "公分 、 寬度 " + visionResult.metadata.width * 0.04 + "公分\n" +
                                "檔案類型: " + visionResult.metadata.format + "檔";




                            // 圖片仲裁的地方
                            var moderationData = {
                                "DataRepresentation": "URL",
                                "Value": data.url
                            };
                            $.ajax({
                                url: "https://msit150team02contentmoderator.cognitiveservices.azure.com/contentmoderator/moderate/v1.0/ProcessImage/Evaluate",
                                beforeSend: function (xhrObj) {
                                    xhrObj.setRequestHeader("Content-Type", "application/json");
                                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "b4fcd4ce931442748ba5e0467bccfd67");
                                },
                                type: "POST",
                                data: JSON.stringify(moderationData),
                            }).done(function (moderationResult) {

                                var Category1 = moderationResult['AdultClassificationScore'];
                                var Category2 = moderationResult['RacyClassificationScore'];
                                var Category3 = visionResult.adult.goreScore;

                                var isImageAdultClassified = moderationResult['IsImageAdultClassified'] ? '是' : '非';
                                var isImageRacyClassified = moderationResult['IsImageRacyClassified'] ? '是' : '非';
                                var isGoryContent = visionResult.adult.isGoryContent ? '是' : '非';

                                /*
                                console.log("成人冒犯指數: " + (Category1 * 10000).toFixed(2) + "%，平台判斷" + isImageAdultClassified + "成人內容");
                                console.log("種族冒犯指數: " + (Category2 * 10000).toFixed(2) + "%，平台判斷" + isImageRacyClassified + "種族歧視");
                                document.getElementById('checkResults').value = JSON.stringify(moderationResult);
                                */

                                var checkText = "成人冒犯指數: " + (Category1 * 100).toFixed(2) + "%，平台判斷" + isImageAdultClassified + "成人內容\n" +
                                    "種族冒犯指數: " + (Category2 * 100).toFixed(2) + "%，平台判斷" + isImageRacyClassified + "種族歧視\n" +
                                    "暴力攻擊指數: " + (Category3 * 100).toFixed(2) + "%，平台判斷" + isGoryContent + "衝擊畫面\n";


                                if (Category1 > 0.7 || Category2 > 0.7 || Category3 > 0.7) {
                                    var Category1ans = Category1 > 0.7 ? '成人內容' + (Category1 * 100).toFixed(2) + "%" : "";
                                    var Category2ans = Category2 > 0.7 ? '種族歧視' + (Category2 * 100).toFixed(2) + "%" : "";
                                    var Category3ans = Category3 > 0.7 ? '衝擊畫面' + (Category3 * 100).toFixed(2) + "%" : "";
                                    var ans = Category1ans + Category2ans + Category3ans;

                                    document.querySelector('#analysingArea').style.display = "none";
                                    document.getElementById('checkResults').value = checkText;
                                    document.getElementById('visionResults').value = visionText;
                                    document.getElementById('descriptionResults').value = descriptionText;

                                    document.getElementById('imageResults').value = "系統判定" + ans + "指數過高\n無法將您上傳的照片設為頭貼";
                                    document.getElementById('imageResults').classList.remove('is-valid');//將綠框移除
                                    document.getElementById('checkResults').classList.remove('is-valid');//將綠框移除
                                    document.getElementById('imageResults').classList.add('is-invalid');//將紅框加入
                                    document.getElementById('checkResults').classList.add('is-invalid');//將紅框加入

                                } else {

                                    fetch('@Url.Content("/Membership/ImageModeratorToMemberInfo?imageUrl=")' + data.url, {
                                    })
                                        .then(response => {
                                            /*
                                            Swal.fire({
                                                icon: 'success',
                                                title: '完成上傳',
                                            });
                                            */

                                            document.querySelector('#analysingArea').style.display = "none";
                                            document.getElementById('checkResults').value = checkText;
                                            document.getElementById('visionResults').value = visionText;
                                            document.getElementById('descriptionResults').value = descriptionText;
                                            
                                            document.getElementById('imageResults').value = "您上傳的圖片已通過智能審核\n已更新您的頭貼照片";
                                            document.getElementById('checkResults').classList.remove('is-invalid');//將紅框移除
                                            document.getElementById('imageResults').classList.remove('is-invalid');//將紅框移除
                                            document.getElementById('checkResults').classList.add('is-valid'); // 將綠框加入
                                            document.getElementById('imageResults').classList.add('is-valid');//將綠框加入
                                        })
                                        .catch(error => {
                                            console.log(error);
                                            document.querySelector('#analysingArea').style.display = "none";
                                        });
                                }

                            }).fail(function (err) {
                                Swal.fire({
                                    icon: 'error',
                                    title: '您上傳的圖片違反平台政策',
                                });
                                document.querySelector('#analysingArea').style.display = "none";
                            });
                        }).fail(function (err) {
                            Swal.fire({
                                icon: 'error',
                                title: '您上傳的圖片不符合規格',
                            });
                            document.querySelector('#analysingArea').style.display = "none";
                        });

                    })
                    .catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '您上傳的圖片違反著作或肖像權',
                        });
                        document.querySelector('#analysingArea').style.display = "none";
                    });
            });


            //圖片預覽功能
            document.getElementById('imageInput').addEventListener('change', function (event) {
                var previewImage = document.getElementById('imgPreview');
                var selectedImage = event.target.files[0];

                if (selectedImage) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                    };
                    reader.readAsDataURL(selectedImage);
                } else {
                    previewImage.src = '@Url.Content("~/images/noimage.jpg")';
                }
            });

        });

        //小c
        function translateToChinese(text) {
            const apiKey = 'AIzaSyDjA50x02Nr2jNygjLbdGIa_RPRXuEWEiA';
            const sourceLang = 'en';
            const targetLang = 'zh-TW';

            const apiUrl = `https://translation.googleapis.com/language/translate/v2?key=$AIzaSyDjA50x02Nr2jNygjLbdGIa_RPRXuEWEiA`;
            const data = {
                q: text,
                source: sourceLang,
                target: targetLang
            };

            return fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(result => {
                    if (result.data && result.data.translations && result.data.translations.length > 0) {
                        return result.data.translations[0].translatedText;
                    } else {
                        return text;
                    }
                })
                .catch(error => {
                    console.error('Translation error:', error);
                    return text;
                });
        }


        translateAndReview("Hello");
        // 翻譯:英文轉成中文
        async function translateAndReview(text) {
            const route = "/translate?api-version=3.0&from=en&to=zh-Hant"; // 將繁體中文翻譯成英文
            const translateContent = text;
            const body = [{ text: translateContent }];
            const requestBody = JSON.stringify(body);

            const endpoint = "https://api.cognitive.microsofttranslator.com";
            const key = "4292ef86d9a842cca23fadb0bed54d15";

            const headers = {
                'Ocp-Apim-Subscription-Key': key,
                'Content-Type': 'application/json'
            };

            const requestOptions = {
                method: 'POST',
                headers: headers,
                body: requestBody
            };

            try {
                const response = await fetch(`${endpoint}${route}`, requestOptions);
                const data = await response.json();

                // 從 API 響應中獲取翻譯後的文本
                const translatedText = data[0].translations[0].text;

                // 在這裡可以處理翻譯後的文本，例如進行評論等

                console.log("翻譯後的文本:", translatedText);
                return translatedText;
            } catch (error) {
                console.error("發生錯誤:", error);
                return null;
            }
        

        }

        //回到上一頁:回到會員中心
        function goBack() {
            var baseUrl = new URL(window.location.href);
            baseUrl.pathname = "/Membership/Membership";
            window.location.href = baseUrl;
        }

        //Demo鍵:載入壞狗狗的圖片
        $('#demoB').click(function (event) {
            console.log("hi");
            const imageUrl = '/images/baddog.jpg';
            const a = document.createElement('a'); // 創建一個隱藏的 a 標籤元素
            a.style.display = 'none';
            document.body.appendChild(a);
            a.href = imageUrl;// 設置 a 標籤的下載屬性和鏈接到圖片的 URL
            a.download = 'baddog.jpg'; // 可以自行更改下載的文件名稱
            a.click(); // 模擬點擊 a 標籤，觸發下載
            document.body.removeChild(a);// 移除 a 標籤
        });

        //Demo鍵:載入好貓咪的圖片
        $('#demoG').click(function (event) {
            const imageUrl = '/images/goodcat.png';
            const a = document.createElement('a'); // 創建一個隱藏的 a 標籤元素
            a.style.display = 'none';
            document.body.appendChild(a);
            a.href = imageUrl;// 設置 a 標籤的下載屬性和鏈接到圖片的 URL
            a.download = 'goodcat.png'; // 可以自行更改下載的文件名稱
            a.click(); // 模擬點擊 a 標籤，觸發下載
            document.body.removeChild(a);// 移除 a 標籤
        });
        
    </script>

    <!--新加入sweetalert2的cdn-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
