@model prjCatChaOnlineShop.Models.ShopCouponTotal
@{
    ViewData["Title"] = "優惠券管理";
    Layout = "~/Areas/AdminCMS/Views/Shared/CMS_Layout.cshtml";
}

@section Styles{
    <style>
        /* 原始圖片的視窗 */
        .image-popup {
            display: none;
            position: absolute;
            top: 0;
            left: 150px;
            /* 將視窗放在圖片右側 */
            /* max-width: 100%; */
            /* 視窗寬度 */
            background-color: #aaa;
            padding: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            z-index: 1;
        }

            .image-popup img {
                width: 300px;
            }

        /* 縮略圖片的樣式 */
        .thumbnail-image {
            /* position: relative; */
            cursor: pointer;
            /* 將鼠標指針設置為手型以指示圖片可懸停 */
        }

        .test {
            position: relative;
        }

        .form-select {
            width: 200px;
            height: 40px;
        }

    </style>
}

<div class="middle-content">

    <div class="row align-items-center">
        <div class="col-6">
            <h2 class="mt-3">優惠券管理</h2>
        </div>
        <div class="col-6 text-end mt-3">
            <button class="create_btn" data-bs-toggle="modal" href="#addModalToggle"
                    role="button">
                新增優惠券
            </button>
        </div>
    </div>
    <img src=""


    <!---新增優惠券 modal-->
    <div class="modal fade" id="addModalToggle" aria-hidden="true"
         aria-labelledby="addCouponModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCouponModalToggleLabel">新增優惠券</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <!-- <label>ID：</label> -->
                            <input type="hidden" class="form-control" disabled readonly id="create-id" name="CouponId">
                        </div>

                        <div class="form-group">
                            <label>名稱：</label>
                            <input type="text" class="form-control" id="create-name" name="CouponName">
                        </div>

                        <div class="form-group">
                            <label>內容：</label>
                            <input type="text" class="form-control" id="create-content" name="CouponContent">
                        </div>

                        <div class="form-group">
                            <label>到期日：</label>
                            <input type="date" class="form-control" id="create-expirydate" name="ExpiryDate">
                        </div>

                        <div class="form-group">
                            <label>優惠折數：</label>
                            <input type="text" class="form-control" id="create-offer" name="SpecialOffer">
                        </div>

                    <div class="form-group">
                            <label>是否可使用：</label>
                            <select class="form-select" id="create-usable" name="Usable">
                                <option value="" selected disabled>請選擇狀態</option>
                                <option value="true">是</option>
                                <option value="false">否</option>
                             </select>
                        </div>

                    <button type="button" class="mt-3 btn btn-danger" onclick="setCreateCouponValue()">Demo</button>
                    <button type="submit" class="mt-3 btn btn-danger btn-block create-submitButton" id="create-submitButton"
                                style="width: 100%;">
                            儲存
                        </button>
                </div>
            </div>
        </div>
    </div>
    <!---新增優惠券 modal-->

    <!---篩選優惠券狀態-->
    <div class="container-fluid mt-4 mb-3">
        <div class="row align-items-center mb-2">
            狀態篩選：
            <div class="col d-flex justify-content-between">
                <select class="form-select" id="statusList">
                    <option value="" selected disabled>請選擇狀態</option>
                    <option value="">全部</option>
                    <option value="是">是</option>
                    <option value="否">否</option>
                </select>
            </div>
        </div>
    </div>
    <!---篩選優惠券狀態-->

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <!--表格-->
                <table id="Bonus-table" class="table table-striped nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <!-- <th>序號</th> -->
                            <th>編號</th>
                            <th>名稱</th>
                            <th>內容</th>
                            <th>到期日</th>
                            <th>優惠折數</th>
                            <th>是否可使用</th>                            
                            <th>發送至會員</th>
                            <th>編輯/刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--編輯彈出視窗-->
                        <div class="modal fade" id="EditModalToggle" aria-hidden="true"
                             aria-labelledby="EditModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="EditModalToggleLabel">編輯優惠券</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!--內容表單-->
                                        <div class="row">
                                            <div class="form-group">
                                                <label>編號：</label>
                                                <input type="text" class="form-control" readonly disabled id="edit-id" name="CouponId">
                                            </div>
                                            <div class="form-group">
                                                <label>名稱：</label>
                                                <input type="text" class="form-control" id="edit-name" name="CouponName">
                                            </div>
                                            <div class="form-group">
                                                <label>內容：</label>
                                                <input type="text" class="form-control" id="edit-content" name="CouponContent">
                                            </div>
                                            <div class="form-group">
                                                <label>到期日：</label>
                                                <input type="date" class="form-control" id="edit-expirydate" name="ExpiryDate">
                                            </div>
                                            <div class="form-group">
                                                <label>優惠折數：</label>
                                                <input type="text" class="form-control" id="edit-offer" name="SpecialOffer">
                                            </div>

                                            <div class="form-group">
                                                <label>是否可使用：</label>
                                                <select class="form-select" id="edit-usable" name="Usable">
                                                    <option value="true">是</option>
                                                    <option value="false">否</option>
                                                </select>
                                            </div>

                                            <button type="submit" class="mt-3 btn btn-danger btn-block" name="edit-submitButton" id="edit-submitButton"
                                                    style="width: 100%;">
                                                儲存
                                            </button>
                                        </div>
                                        <!--內容表單-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--編輯彈出視窗-->

                        <!--發送至會員-->
                        <div class="modal fade" id="sendtoMember" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">發送至會員</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!-- 內容表單 -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <label>會員編號：</label>
                                                <input type="text" class="form-control" id="send-memberID" name="MemberID">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 內容表單 -->
                                    <div class="modal-footer">
                                        <div class="form-group">
                                            <button type="submit" class="mt-3 btn btn-danger" id="SendToMemberByID">發送</button>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="mt-3 btn btn-success btn-block" id="SendCouponToAllMembers">
                                                發送優惠券給所有會員
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="mt-3 btn btn-success btn-block SendNotify" id="SendNotify">
                                                發送到期提醒
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--發送至會員-->
                    </tbody>
                </table>
                <!--表格-->
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <!--Moment.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

    <script>
        //查看Json檔案=========================
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("LoadDataTable", "Bonus")',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        //載入資料庫資料 LoadDataTable===========
            var table = $('#Bonus-table').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
            },
            "responsive": true,
            "searching": true,
            "processing": true,
            "serverSide": false,
            "paging": true,
            "pagingType": "full_numbers",
            "pageLength": 10,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "全部"]],
            "info": true,
            "ajax": {
                "url": "@Url.Action("LoadDataTable", "Bonus" , new{ area="AdminCMS"})",
                type: 'GET',
            },
            "columns": [
                { "data": "couponId" },
                { "data": "couponName" },
                { "data": "couponContent" },
                {
                    "data": "expiryDate",
                    "render": function (data) {
                        // 將日期格式轉換為 JavaScript Date 物件
                        var date = new Date(data);
                        // 獲取當前日期
                        var currentDate = new Date();

                        // 計算日期差異（以毫秒為單位）
                        var timeDifference = date.getTime() - currentDate.getTime();
                        // 計算日期差異的天數
                        var daysDifference = Math.ceil(timeDifference / (1000 * 3600 * 24));

                        // 格式化日期為 yyyy-MM-dd 格式，使用 Moment.js
                        var formattedDate = moment(date).format("YYYY-MM-DD");

                        // 創建一個包含日期和圖像的 div 元素
                        var containerDiv = document.createElement('div');
                        containerDiv.appendChild(document.createTextNode(formattedDate + ' '));

                        // 如果日期差小於10天，添加圖像
                        if (daysDifference < 10) {
                            // 創建一個圖像元素
                            var image = document.createElement('img');
                            image.src = '/images/CouponAlert.jpg'; // 圖像檔案的路徑
                            image.alt = '將在10日內到期';
                            image.height = 20;
                            image.width = 20;

                            // 將圖像添加到 containerDiv 中
                            containerDiv.appendChild(image);
                        }

                        // 返回包含日期和圖像的 HTML 內容
                        return containerDiv.innerHTML;
                    }
                },
                { "data": "specialOffer" },
                { "data": "usable" },
                {
                    "data": "couponId",
                    "render": function (data, type, row) {
                        return `<button class="btn btn-danger send-button" data-id="${row.couponId}" data-bs-toggle="modal" data-bs-target="#sendtoMember" >發送</button>`
                    }
                },
                {
                    "data": "couponId",
                    "render": function (data, type, row) {
                        var deleteUrl = '@Url.Action("Delete", "Bonus", new { area = "AdminCMS", id = "couponId" })';
                        deleteUrl = deleteUrl.replace('couponId', row.couponId);
                        return `<button  class="edit-button" data-id="${row.couponId}" data-bs-toggle="modal" data-bs-target="#EditModalToggle"><i class="fas fa-edit"></i></button> |
                                                                                                                                <button class="btn delete-button" data-id="${row.couponId}" ><i class="fas fa-trash-alt"></i></button>`
                    }
                }
            ],
            //類別篩選
            columnDefs: [
                { targets: 5, searchable: true },  //第6欄，索引5
            ],
        });
        //篩選功能=======================================
        $('#statusList').on('change', function () {
            var filterOption1 = $(this).val();
            table.column(5).search(filterOption1).draw();
        });
        //編輯按鈕========================================
        $('#Bonus-table').on('click', '.edit-button', function () {
            let id = $(this).data('id')
            $.ajax({
                url: '/AdminCMS/Bonus/EditCoupon?id=' + id,
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        $('#edit-id').val(response.data.couponId);
                        $('#edit-name').val(response.data.couponName);
                        $('#edit-content').val(response.data.couponContent);

                        //日期轉換：use Moment.js
                        var date = moment(response.data.expiryDate);
                        // 格式化日期為 yyyy-MM-dd 格式
                        var formattedDate = date.format("YYYY-MM-DD");
                        $('#edit-expirydate').val(formattedDate);


                        $('#edit-offer').val(response.data.specialOffer);
                        // 將布林值轉換成字串，匹配<select>的選項值
                        var usableValue = response.data.usable ? "true" : "false";
                        $('#edit-usable').val(usableValue);
                        console.log(response.data)

                    } else {
                        alert(response.message);
                    }
                }
            });
        });

        //編輯中的儲存按鈕==============================
        $('#edit-submitButton').click(function () {
            const id = $('#edit-id').val();
            const name = $('#edit-name').val();
            const content = $('#edit-content').val();
            const expirydate = $('#edit-expirydate').val();
            const specialoffer = $('#edit-offer').val();
            const usable = $('#edit-usable').val();

            //驗證非空值
            if (!name || !content || !expirydate || !specialoffer || !usable) {
                showErrorMessage("錯誤", "名稱、內容、到期日、折數、是否可使用為必填欄位，請再次檢查。");
                return;
            }


            // 驗證必為數字
            if (!isDecimal(specialoffer)) {
                showErrorMessage("錯誤", "折數僅可輸入數字，請再次檢查。");
                return;
            }

            function isDecimal(value) {
                return /^(\d+\.\d+|\.\d+|\d+)$/.test(value);
            }



            var formData = new FormData();
            formData.append("CouponId", id);
            formData.append("CouponName", name);
            formData.append("CouponContent", content);
            formData.append("ExpiryDate", expirydate);
            formData.append("SpecialOffer", specialoffer);
            formData.append("Usable", usable);


            $.ajax({
                url: "@Url.Action("EditCoupon","Bonus" , new { area="AdminCMS" })",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        showSuccessMessage("編輯成功", "優惠券內容已儲存");
                        closeModalAndReloadTable();
                    } else {
                        showErrorMessage("編輯失敗", "請再次確認");
                    }
                },
                error: function (error) {
                    console.error("AJAX Request Error:", error);
                }
            });

            function showSuccessMessage(title, message) {
                Swal.fire({
                    icon: 'success',
                    title: title,
                    text: message
                });
            }

            function showErrorMessage(title, message) {
                Swal.fire({
                    icon: 'error',
                    title: title,
                    text: message
                });
            }

            function closeModalAndReloadTable() {
                $('#EditModalToggle').modal('hide');
                $('#Bonus-table').DataTable().ajax.reload();
            }
        });
        //新增商品的儲存按鈕===========================
        $('.create-submitButton').click(function () {
            const id = $('#create-id').val();
            const name = $('#create-name').val();
            const content = $('#create-content').val();
            const expirydate = $('#create-expirydate').val();
            const specialOffer = $('#create-offer').val();
            const usable = $('#create-usable').val();

            //驗證非空值
            if (!name || !content || !expirydate || !specialOffer || !usable) {
                showErrorMessage("錯誤", "名稱、內容、到期日、折數、是否可使用為必填欄位，請再次檢查。");
                return;
            }


            // 驗證必為數字
            if (!isDecimal(specialOffer)) {
                showErrorMessage("錯誤", "折數僅可輸入數字，請再次檢查。");
                return;
            }

            function isDecimal(value) {
                return /^(\d+\.\d+|\.\d+|\d+)$/.test(value);
            }


            var formData = new FormData();
            formData.append("CouponId", id);
            formData.append("CouponName", name);
            formData.append("CouponContent", content);
            formData.append("ExpiryDate", expirydate);
            formData.append("SpecialOffer", specialOffer);
            formData.append("Usable", usable);


            // 新增-Ajax=============================
            $.ajax({
                url: "@Url.Action("CreateCoupon","Bonus" , new { area="AdminCMS" })",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        showSuccessMessage("新增成功", "優惠券已新增");
                        closeModalAndReloadTable();
                    } else {
                        showErrorMessage("新增失敗", "優惠券新增失敗");
                    }
                },
                error: function (error) {
                    console.error("AJAX Request Error:", error);
                }
            });

            function showSuccessMessage(title, message) {
                Swal.fire({
                    icon: 'success',
                    title: title,
                    text: message
                });
            }

            function showErrorMessage(title, message) {
                Swal.fire({
                    icon: 'error',
                    title: title,
                    text: message
                });
            }

            function closeModalAndReloadTable() {
                $('#addModalToggle').modal('hide');
                $('#Bonus-table').DataTable().ajax.reload();
            }
        });


        //刪除==========================================

        $(document).ready(function () {
            $(document).on("click", ".delete-button", function () {
                var couponId = $(this).data("id");

                Swal.fire({
                    title: '確定要刪除嗎?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '確認刪除',
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var deleteButton = $(this);
                        $.ajax({
                            url: "/AdminCMS/Bonus/Delete",
                            type: "POST",
                            data: { id: couponId },
                            success: function (response) {
                                if (response.success) {
                                    console.log("優惠券已成功刪除");
                                    deleteButton.closest("tr").remove();
                                    $('#Bonus-table').DataTable().ajax.reload();
                                    showSuccessMessage("刪除成功", "優惠券已刪除");
                                } else {
                                    console.log("優惠券刪除失敗。");
                                    showErrorMessage("刪除失敗", "已發送的優惠券無法刪除");
                                }
                            },
                            error: function (error) {
                                console.log("刪除項目時發生錯誤：", error);
                                showErrorMessage("刪除時發生錯誤", "請稍後再試。");
                            }
                        });
                        function showSuccessMessage(title, message) {
                            Swal.fire({
                                icon: 'success',
                                title: title,
                                text: message
                            });
                        }

                        function showErrorMessage(title, message) {
                            Swal.fire({
                                icon: 'error',
                                title: title,
                                text: message
                            });
                        }
                    }
                });
            });
        });


        // 發送按鈕
        var couponIdToSend;
        $('#Bonus-table').on('click', '.send-button', function () {
            couponIdToSend = $(this).data('id');
            $('#sendtoMember').modal('show');
            clearMemberIDInput();
            // 再次點選發送時清空表單輸入值
            function clearMemberIDInput() {
                $('#send-memberID').val('');
            }
        });

        // 發送至所有會員=======================
        $(document).ready(function () {
            $(document).on('click', '#SendCouponToAllMembers', function () {
                console.log("couponId:", couponIdToSend);

                Swal.fire({
                    title: '確定要發送優惠券嗎?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '確認發送',
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/AdminCMS/Bonus/SendCouponToMembers",
                            type: "POST",
                            data: { id: couponIdToSend },
                            success: function (response) {
                                if (response.success) {
                                    console.log("發送成功");
                                    Swal.fire({
                                        title: '發送成功',
                                        text: '優惠券已成功發送',
                                        icon: 'success',
                                    });
                                    $('#sendtoMember').modal('hide');
                                } else {
                                    console.log("發送失敗");
                                }
                            },
                            error: function (error) {
                                console.log("發生錯誤：", error);
                            }
                        });
                    }
                });
            });
        });

        // 發送至會員-依MemberID
        $(document).ready(function () {
            $(document).on('click', '#SendToMemberByID', function () {
                var memberId = $("#send-memberID").val();
                console.log("couponId:", couponIdToSend);
                console.log("memberId:", memberId);

                // 檢查 memberId 是否為空值或不是整數
                if (!memberId ) {
                    Swal.fire({
                        title: '請輸入會員ID',
                        icon: 'error',
                    });
                    return;
                }

                if ( isNaN(parseInt(memberId))) {
                    Swal.fire({
                        title: '會員編號僅可輸入數字',
                        icon: 'error',
                    });
                    return;
                }

                // 透過 AJAX 向後端檢查會員是否存在
                $.ajax({
                    url: "/AdminCMS/Bonus/SendCouponToMembersByID",
                    type: "POST",
                    data: { id: couponIdToSend, memberId: memberId },
                    success: function (response) {
                        if (response.success) {
                            console.log("發送成功");
                            Swal.fire({
                                title: '發送成功',
                                text: '優惠券已成功發送',
                                icon: 'success',
                            });
                            $('#sendtoMember').modal('hide');
                        } else {
                            console.log("發送失敗");
                            Swal.fire({
                                title: '會員不存在',
                                text: '發送失敗',
                                icon: 'error',
                            });
                        }
                    },
                    error: function (error) {
                        console.log("發生錯誤：", error);
                        Swal.fire({
                            title: '發生錯誤',
                            text: '發生錯誤，請重試',
                            icon: 'error',
                        });
                    }
                });
            });
        });

        //發送到期提醒

        $(document).ready(function () {
            $(document).on('click', '#SendNotify', function () {
                console.log("Notify-couponId:", couponIdToSend);

                Swal.fire({
                    title: '確定要發送到期提醒嗎?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '確認發送',
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {

                        Swal.fire({
                            title: '請稍候...',
                            html: '正在發送提醒...',
                            icon: 'info',
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            willOpen: () => {
                                Swal.showLoading();
                            }
                        });

                        $.ajax({
                            url: "/AdminCMS/Bonus/SendCouponExpirationEmail",
                            type: "POST",
                            data: { id: couponIdToSend },
                            success: function (response) {
                                if (response.success) {
                                    console.log("發送成功");
                                    Swal.close();
                                    Swal.fire({
                                        title: '發送成功',
                                        text: '到期提醒已成功發送',
                                        icon: 'success',
                                    });
                                    $('#sendtoMember').modal('hide');
                                } else {
                                    console.log("發送失敗");
                                    Swal.fire({
                                        title: '發送失敗',
                                        text: '該優惠券未發送過，無法發送提醒',
                                        icon: 'error',
                                    });
                                }
                            },
                            error: function (error) {
                                console.log("發生錯誤：", error);
                            }
                        });
                    }
                });
            });
        });
        //新增Demo按鍵
        function setCreateCouponValue() {
            $('#create-name').val("延遲出貨補償優惠券");
            $('#create-content').val("補償用的9折折價券");
            $('#create-expirydate').val("2023-11-30");
            $('#create-offer').val("0.9");
            $('#create-usable').val("true");
        }

        // 再次新增時清空表單輸入值
        function clearFormInputs() {
            $('#create-name').val('');
            $('#create-content').val('');
            $('#create-expirydate').val('');
            $('#create-offer').val('');
            $('#create-usable').val('').prop('selected', ''); // 將選項重設為預設值
        }
        
        // 點擊關閉按鈕時清空表單
        $('.create_btn').click(function () {
            clearFormInputs();
        });



    </script>
}
