@model IEnumerable<prjCatChaOnlineShop.Models.CModels.CProductItem>

@{
    ViewData["Title"] = "Home Page";
}

@section Styles{

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-fas/theme.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="~/css/review.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
        @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> *@
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/chatbox.css" />
    <link rel="stylesheet" href="~/css/custom-home-details-wishlist.css" />
    <link rel="stylesheet" href="~/css/game/IndexAnimateforGame.css" />
    <style>
        .swiper-slide {
            width: 300px;
            filter: blur(1px);
            height: 100%;
            background: #ffff;
        }

        .swiper-slide-active {
            filter: blur(0px);
        }

        .swiper-pagination-bullet,
        .swiper-pagination-bullet-active {
            background: orange;
        }

        .swiper-slide h2 {
            color: black;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.4;
            margin-bottom: 15px;
            padding: 25px 45px 0 25px;
        }

        .swiper-3d .swiper-slide-shadow-left,
        .swiper-3d .swiper-slide-shadow-right {
            background-image: none;
        }

        .checked {
            color: #ffc363;
            font-size: 35px !important;
        }

        .countTime {
            color: #fff;
            font-family: "Kanit";
            font-size: 60px;
            line-height: 1em;
            margin: 0;
            text-align: center;
            top: 50%;
            transform: translateY(-30%);
            width: 100%;
            text-shadow: 0 1px 0 #de9e4f, 0 2px 0 #de9e4f, 0 3px 0 #de9e4f, 0 4px 0 #de9e4f, 0 5px 0 #de9e4f, 0 6px 0 #de9e4f, 0 7px 0 #de9e4f, 0 8px 0 #de9e4f, 0 0 5px rgba(230, 139, 139, .05), 0 -1px 3px rgba(230, 139, 139, .2), 0 9px 9px rgba(230, 139, 139, .3), 0 12px 12px rgba(230, 139, 139, .3), 0 15px 15px rgba(230, 139, 139, .3);
        }

        .swiper-h3-text {
            color: #FFF;
            font-size: 17px;
            letter-spacing: 1px;
        }

        .swiper-productName {
            padding: 10px 15px 10px 10px;
            background-color: #ff766c;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            margin-top: 5px;
            box-shadow: rgba(17, 17, 26, .3) 2px 2px 3px, rgba(17, 17, 26, 0.1) 4px 4px 8px;
        }

        .stars-css {
            padding: 0 40px 0 40px;
        }

        .productDescription {
            font-size: 20px;
            padding: 10px 15px 10px 15px;
        }

        .fa-quote-left {
            font-size: 10px;
            margin-right: 10px;
        }

        .swiper-member-say {
            color: #818181;
        }

        .hideID {
            display: none;
        }
    </style>
}

<!-- 提示訊息 -->
<div class="toast-container position-fixed top-25 start-50 translate-middle">
    <div id="live-toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <i></i>
                <strong></strong>
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        @foreach (var banner in ViewBag.Banners)
        {
            <li class="text-center">
                <a href="/Index/Shop?categoryName=保健食品">
                    <img src="@banner.Link" alt="" style="object-fit: cover" />
                </a>
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-end mb-5">
                        <div class="col-md-12">
                            <p><a class="btn hvr-hover" asp-controller="Index" asp-action="Shop">來去逛逛</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- start 貓寵補給站區域 -->
<div class="box-add-products position-relative">
    <div class="container padding-custom">
        <div class="home-title text-center">
            <h1>貓寵補給站</h1><div class="review"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 div-center-custom">

                <div class="round-box-title">熱賣商品</div>
                <div class="round-box-custome offer-box-products">
                    <img class="text-center rounded-circle img-fluid" src="~/images/hot.png" alt="" />
                    <a href="/Index/Shop?orderBy=1">
                        <div class="mask rounded-circle">
                        </div>
                    </a>
                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 div-center-custom">
                <div class="round-box-title">貓咪玩具</div>
                <div class="round-box-custome offer-box-products">
                    <img class="text-center rounded-circle img-fluid" src="~/images/toy.png" alt="" />
                    <a href="/Index/Shop?categoryName=玩具">
                        <div class="mask rounded-circle">
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 div-center-custom">
                <div class="round-box-title">保健食品</div>
                <div class="round-box-custome offer-box-products">
                    <img class="text-center rounded-circle img-fluid" src="~/images/supplement.png" alt="" />
                    <a href="/Index/Shop?categoryName=保健食品">
                        <div class="mask rounded-circle">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end 貓寵補給站區域 -->
<!-- Start 新進商品區域  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="home-section-title">
                    <h2>新進商品!</h2>

                    <a href="/Index/Shop?orderBy=3">
                        <span>瀏覽所有新商品</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="productIndexNew" class="row special-list">
            @{
                foreach (var item in Model.OrderByDescending(p => p.p上架時間).Take(4).ToList())
                {
                    <!-- start prod  -->
                    <div class="col-lg-3 col-md-6 special-grid best-seller">
                        <div class="products-single-custom fix">
                            <a href="@Url.Action("ShopDetail", new {pId = item.pId })" class="shop-prod-click" title="@item.pName">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        @if (item.p優惠價格 != null)
                                        {
                                            <p class="sale">Sale</p>
                                        }
                                    </div>
                                    <img src="@item.p圖片路徑.ToList().FirstOrDefault()" class="index-prod-img" alt="Image" />
                                </div>
                            </a>
                            <div class="why-text">
                                <h4 class="for-quantity" data-quantity=@item.p剩餘庫存>@item.pName</h4>
                                @if (item.pDiscount != null)
                                {
                                    <h5>$ @item.p優惠價格</h5>
                                    <del>$ @item.pPrice</del>
                                }
                                else
                                {
                                    <h5>$ @item.pPrice</h5>
                                }
                                <a data-product-id=@item.pId class="add-to-cart-coustom">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </a>
                                @if (item.p是否加入收藏)
                                {
                                    <a href="#" data-product-id=@item.pId class="add-to-wishlist-coustom favorited">
                                        <i class="far fa-heart"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" data-product-id=@item.pId class="add-to-wishlist-coustom">
                                        <i class="far fa-heart"></i>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- end prod  -->
                }
            }
        </div>
    </div>
</div>
<!-- End 新進商品  -->
<!-- Start Blog  -->
<div class="container-fluid " id="sp-products">
    <div class="row justify-content-center" id="container">
    </div>
</div>
<!-- End Blog  -->
<!-- Start 熱賣商品區域  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="home-section-title">
                    <h2>熱賣商品!</h2>
                    <a href="/Index/Shop?orderBy=1">
                        <span>瀏覽所有熱賣商品</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="productIndexSale" class="row special-list">
            @{
                foreach (var item in Model.OrderBy(p => p.p剩餘庫存).Take(4).ToList())
                {
                    <div class="col-lg-3 col-md-6 special-grid best-seller">
                        <div class="products-single-custom fix">
                            <a href="@Url.Action("ShopDetail", new {pId =  item.pId })" class="shop-prod-click" title="@item.pName">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        @if (item.p優惠價格 != null)
                                        {
                                            <p class="sale">Sale</p>
                                        }
                                    </div>
                                    <img src="@item.p圖片路徑.ToList().FirstOrDefault()" class="index-prod-img" alt="Image" />
                                </div>
                            </a>
                            <div class="why-text">
                                <h4 class="for-quantity" data-quantity=@item.p剩餘庫存>@item.pName</h4>
                                @if (item.pDiscount != null)
                                {
                                    <h5>$ @item.p優惠價格</h5>
                                    <del>$ @item.pPrice</del>
                                }
                                else
                                {
                                    <h5>$ @item.pPrice</h5>
                                }
                                <a href="#" data-product-id=@item.pId class="add-to-cart-coustom">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </a>

                                @if (item.p是否加入收藏)
                                {
                                    <a href="#" data-product-id=@item.pId class="add-to-wishlist-coustom favorited">
                                        <i class="far fa-heart"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" data-product-id=@item.pId class="add-to-wishlist-coustom">
                                        <i class="far fa-heart"></i>
                                    </a>
                                }

                            </div>
                        </div>
                    </div>
                    <!-- end prod1  -->
                }
            }

        </div>
    </div>
</div>
<!-- End 熱賣商品  -->
<!-- 開始評論輪播 -->

<div class="container mt-3">
    <div class="home-title text-center">
        <h1>推薦好評</h1>
    </div>
    <div class="swiper pt-3 pb-3">
        <div class="swiper-wrapper pb-4" id="swipers">
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="hideID">
    <div>用户名称：<label id="userName"></label>(<label id="conId"></label>)</div>
</div>



<!-- 結束評論輪播 -->
<!-- start側邊 -->
<div class="body-font-style" id="go-to-game" title="進入遊戲">
    <a asp-controller="Game" asp-action="Index">貓貓大進擊<i class="fa-solid fa-gamepad"></i></a>
</div>

<div id="body">
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="fa-solid fa-headset"></i>
    </div>

    <div class="chat-box">
        <div class="chat-box-header">
            即時客服
            <span class="chat-box-toggle"><i class="material-icons">X</i></span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <div class="chat-logs" id="chating">
            </div>
        </div>
        <div class="chat-input">
            <input type="text" id="chat-input" placeholder="輸入訊息" />

        </div>
    </div>
</div>

<!-- end 側邊 -->
<!-- 小動畫-->
<div id="fullScreenContainer">
    <div class="containers position-relative">
        <div class="position-absolute top-0 start-0">
            <div class="animate animate01">
                <div class="catAnimate"></div>
            </div>
        </div>
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="popup" id="my-popup">
                <img src="https://i.imgur.com/z3dc846.png" alt="Popup Image" class="popup-image">
            </div>
            <div class="animate animate02">
                <div class="catAnimate "></div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0">
            <div class="animate animate03">
                <div class="catAnimate "></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <!-- ALL JS FILES -->
    <!-- 首頁跑版 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<script src="~/js/jquery-3.2.1.min.js"></script>-->
    <script src="~/js/popper.min.js"></script>

    <script src="~/js/review.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/rating.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.10/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js"></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>

    <script>
        //所有頁面上不可有相同id
        var productIndexNew = $('#productIndexNew');
        var productIndexSale = $('#productIndexSale');

        //加入購物車:獲取id---------------------------------------------------------

        productIndexNew.on('click', '.add-to-cart-coustom', function (e) {
            e.preventDefault(); // 阻止<a>標籤的點擊預設行為

            var productId = $(this).data('product-id');
            var count = parseInt($(".for-quantity").data('quantity'));
            console.log(count);
            //缺貨
            if (isNaN(count) || count == 0) {
                
                $('.toast-body i').removeClass();
                $('.toast-body i').addClass('toast-err fa-solid fa-circle-xmark fa-fade fa-lg');
                $('.toast-body strong').text('缺貨中');
                $('#live-toast').toast('show');
            }
            else {
                // 透過 Ajax 將商品 ID 傳送到後端，加入購物車
                $.ajax({
                    url: '/ProductApi/AddToCart',
                    type: 'POST',
                    data: { pId: productId },
                    dataType: 'json',
                    success: function (response) {
                        //成功加入
                        if (response.success) {
                            $('.toast-body i').removeClass();
                            $('.toast-body i').addClass('toast-added fa-regular fa-circle-check fa-beat fa-lg');
                            $('.toast-body strong').text(response.message);
                            $('#live-toast').toast('show');
                            showCartBouble();
                        }
                        else {
                            //購物車商品將超過可購買數量
                            if (response.messageNoQuantity) {
                                $('.toast-body i').removeClass();
                                $('.toast-body i').addClass('toast-err fa-solid fa-circle-xmark fa-fade fa-lg');
                                $('.toast-body strong').text(response.messageNoQuantity);
                                $('#live-toast').toast('show');
                            }
                            //未登入
                            else {
                                $('.toast-body i').removeClass();
                                $('.toast-body i').addClass('toast-warn fa-solid fa-triangle-exclamation fa-fade fa-lg');
                                $('.toast-body strong').text(response.message);
                                $('#live-toast').toast('show');
                            }
                        }
                    },
                    error: function (error) {
                        console.error('Ajax Error:', error);
                    }
                });

            }
        });

        productIndexSale.on('click', '.add-to-cart-coustom', function (e) {
            e.preventDefault(); // 阻止<a>標籤的點擊預設行為

            var productId = $(this).data('product-id');
            var count = parseInt($(".for-quantity").data('quantity'));
            console.log(count);
            if (isNaN(count) || count == 0) {
                //缺貨
                $('.toast-body i').removeClass();
                $('.toast-body i').addClass('toast-err fa-solid fa-circle-xmark fa-fade fa-lg');
                $('.toast-body strong').text('缺貨中');
                $('#live-toast').toast('show');
            }
            else {
                // 透過 Ajax 將商品 ID 傳送到後端，加入購物車
                $.ajax({
                    url: '/ProductApi/AddToCart',
                    type: 'POST',
                    data: { pId: productId },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            $('.toast-body i').removeClass();
                            $('.toast-body i').addClass('toast-added fa-regular fa-circle-check fa-beat fa-lg');
                            $('.toast-body strong').text(response.message);
                            $('#live-toast').toast('show');
                            showCartBouble();

                        }
                        else {
                            if (response.messageNoQuantity) {
                                $('.toast-body i').removeClass();
                                $('.toast-body i').addClass('toast-err fa-solid fa-circle-xmark fa-fade fa-lg');
                                $('.toast-body strong').text(response.messageNoQuantity);
                                $('#live-toast').toast('show');
                            }
                            else {
                                $('.toast-body i').removeClass();
                                $('.toast-body i').addClass('toast-warn fa-solid fa-triangle-exclamation fa-fade fa-lg');
                                $('.toast-body strong').text(response.message);
                                $('#live-toast').toast('show');
                            }
                        }
                    },
                    error: function (error) {
                    }
                });

            }
        });
        //加入收藏:獲取id--------------------------------------------------------

        productIndexNew.on('click', '.add-to-wishlist-coustom', function (e) {
            e.preventDefault(); // 阻止<a>標籤的點擊預設行為
            var button = $(this);
            var productId = $(this).data('product-id');
            console.log('Clicked Add to Cart, Product ID:', productId);
            // 透過 Ajax 將商品 ID 傳送到後端，加入收藏
            $.ajax({
                url: '/ProductApi/AddToWishlist',
                type: 'POST',
                data: { pId: productId },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        if (response.message == "favorited") {
                            button.addClass('favorited');
                        }
                        else {
                            button.removeClass('favorited');
                        }

                    }
                    else {
                        $('.toast-body i').removeClass();
                        $('.toast-body i').addClass('toast-warn fa-solid fa-triangle-exclamation fa-fade fa-lg');
                        $('.toast-body strong').text(response.message);
                        $('#live-toast').toast('show');
                    }
                },
                error: function (error) {
                    console.error('Ajax Error:', error);
                }
            });
        });
        productIndexSale.on('click', '.add-to-wishlist-coustom', function (e) {
            e.preventDefault(); // 阻止<a>標籤的點擊預設行為
            console.log(productIndexSale);
            var button = $(this);
            var productId = $(this).data('product-id');
            console.log('Clicked Add to Cart, Product ID:', productId);
            // 透過 Ajax 將商品 ID 傳送到後端，加入收藏
            $.ajax({
                url: '/ProductApi/AddToWishlist',
                type: 'POST',
                data: { pId: productId },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        if (response.message == "favorited") {
                            button.addClass('favorited');
                        }
                        else {
                            button.removeClass('favorited');
                        }
                    }
                    else {
                        $('.toast-body i').removeClass();
                        $('.toast-body i').addClass('toast-warn fa-solid fa-triangle-exclamation fa-fade fa-lg');
                        $('.toast-body strong').text(response.message);
                        $('#live-toast').toast('show');
                    }

                },
                error: function (error) {
                }
            });
        });

        //小動畫
        const fullScreenContainer = document.getElementById('fullScreenContainer');
        document.getElementById("go-to-game").addEventListener("click", function (event) {
            //修復遊戲側邊按鈕
            event.preventDefault();
            //動畫內容
            main();
            $("#fullScreenContainer").addClass("fullscreen")
            $(".animate01").addClass("NyanCat-container01");
            $(".animate02").addClass("NyanCat-container02");

            $(".animate03").one("animationend", function () {
                $("#my-popup").addClass("show");
                setTimeout(function () {
                    $("#my-popup").removeClass("show");
                    window.location.href = '/Game/Index';
                }, 3000);
            })
                .addClass("NyanCat-container03");

            const nyanCats = document.querySelectorAll('.animate');
            if (nyanCats.length > 0) {
                nyanCats.forEach((cat) => {
                    cat.classList.add('NyanCat-container');
                });
            }

            const catAnimate = document.querySelectorAll('.catAnimate');
            if (catAnimate.length > 0) {
                catAnimate.forEach((cat) => {
                    cat.classList.add('NyanCat');
                });
            }

            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min)) + min;
            }


            function createLine() {
                const line = document.createElement('div');
                line.classList.add('line');
                line.style.width = `${getRandomInt(20, 100)}px`
                line.style.right = `${getRandomInt(window.innerWidth, 100)}px`;
                line.style.top = `${getRandomInt(0, window.innerHeight)}px`;
                fullScreenContainer.appendChild(line);
                return line;
            }


            function updateLine(line) {
                const newX = parseInt(line.style.right) + 10;
                if (newX > window.innerWidth) {
                    line.style.right = `${getRandomInt(0, -100)}px`;
                } else {
                    line.style.right = `${newX}px`;
                }
            }

            function main() {
                const lines = [];

                for (let i = 0; i < 100; i++) {
                    lines.push(createLine());
                }

                setInterval(() => {
                    lines.forEach(updateLine);
                }, 40);
            }
        });



        //抓主打商品
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("CountDownProduct","Index")",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    var container = $("#container");
                    $.each(response.data, function (index, value) {
                        // Create a div to hold each product
                        var productDiv = $('<div class="col-md-6 d-flex position-relative"></div>');
                        var productDiscount = $('<div class="position-absolute top-0 start-0"><h1 class="ms-3 fs-1 text-secondary"></h1></div>').find('h1').text(value.discount).end();
                        var productCountTime = $('<div class="d-flex flex-column align-items-end"></div>').append('<h1 class="me-3 fs-1">倒數計時</h1>', `<h1 class="me-3 countTime fs-1">${value.offDay}</h1>`);
                        var productDivCountDownTime = $('<div class="z-1 position-absolute top-0 end-0"></div>').append(productCountTime);
                        var productInfo = $('<div class="d-flex flex-column align-items-center"></div>').append(`<h1 class="fs-1">限時特惠</h1>`, `<h1 class="fs-1">${value.productName}</h1>`, `<a class="fs-2 text-primary" href="/Index/ShopDetail?pid=${value.productId}" >點我看更多!</a> `);
                        var productDivProductName = $('<div class="position-absolute top-50 start-50 translate-middle"></div>').append(productInfo);
                        var img = $('<img class="z-0 w-100">').attr('src', "https://lh3.googleusercontent.com/pw/AIL4fc_EZtvazZta8E3dQDkDsLgRbKyZw6DYqDBCTjtypGTt2rEpp-8H7rTiNY3flHpe_TrzMXApKBWi6KDA67JGwfc6TYzhc_Ji3HXCDQtV1BErpFVrSmA=w1200");

                        productDiv.append(img, productDiscount, productDivCountDownTime, productDivProductName);
                        container.append(productDiv);
                    });
                    handleCountdown()
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });

        });
        //抓評論
        $.ajax({
            url: "@Url.Action("GetReivews","Index")",
            type: "GET",
            dataType: "json",
            success: function (response) {

                var swipers = $("#swipers")
                $.each(response.data, function (index, value) {
                    var reviewsDiv = $('<div class="swiper-slide swiper-slide--one position-relative shadow rounded"></div>')
                    const img = $(`<img src="${value.productPhoto}" class="img-thumbnail border-0">`)
                    const productName = $('<div class="position-absolute position-absolute top-0 start-0 swiper-productName"></div>').append(`<h3 class="p-0 swiper-h3-text">${value.productName}</h3>`)
                    let stars = $('<div class="d-flex justify-content-around align-self-center mt-2 mb-3 stars-css"></div>');
                    if (value.productRating == 5) {
                        for (let i = 0; i < value.productRating; i++) {
                            stars.append('<span class="fs-1 fa fa-star checked "></span>');
                        }
                    }
                    const productdescription = $('<div class="d-flex justify-content-center align-self-center productDescription"></div>').append(`<i class="fas fa-quote-left"></i>${value.productdescription}`)
                    const member = $('<div class="d-flex justify-content-around align-self-center mb-1 swiper-member-say"></div>').append(`<p>from 桃園 ${value.member}</p>`)
                    reviewsDiv.append(img, productName, stars, productdescription, member)
                    swipers.append(reviewsDiv)
                    console.log(response.data)
                })
                var swiper = new Swiper(".swiper", {
                    effect: "coverflow",
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: "auto",
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 0,
                        depth: 100,
                        modifier: 2,
                        slideShadows: true
                    },
                    keyboard: {
                        enabled: true
                    },
                    mousewheel: {
                        thresholdDelta: 70
                    },
                    spaceBetween: 60,
                    loop: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true
                    }
                });
            },
            error: function (error) {
                console.log("Error:", error)
            }
        })



        //倒數計時
        function handleCountdown() {
            const times = $(".countTime").map(function () {
                return new Date($(this).text()).getTime();
            }).get();
            const countTimes = setInterval(function () {
                const now = new Date().getTime();
                $(".countTime").each(function (index) {
                    const distance = times[index] - now;
                    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    if (distance < 0) {
                        clearInterval(countTimes);
                        $(this).html("截止");
                    } else {
                        $(this).html(days + "天" + hours + "時" + minutes + "分" + seconds + "秒");
                    }
                });
            }, 1000);
        }
        //客服

        let saveName = "";

        $('body').on('click', '#chat-circle', function () {
            $('#chat-circle').hide();
            $('.chat-box').show();
            connection.start().then(function () {
                Swal.fire({
                    title: '請問您怎麼稱呼',
                    input: 'text',
                    inputPlaceholder: '輸入您的名字',
                    showCancelButton: true,
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let userName = result.value;
                        saveName = userName;
                        document.getElementById("userName").textContent = userName;
                        connection.invoke("GetName", userName);
                    } else if (result.isDismissed) {
                        Swal.fire({
                            title: '未啟用即時客服',
                            icon: 'warning',
                        })
                        $('.chat-box').hide();
                        $('#chat-circle').show();
                    }
                });
            }).catch(function (err) {
                console.error(err.toString());
            });
        });


        $('body').on('click', '.chat-box-toggle', function () {
            $('.chat-box').hide();
            $('#chat-circle').show();
        });


        var clients = [];

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/OneToOneHub")
            .build();
        connection.on("showMessage", function (message) {
            Swal.fire('Message', message, 'info');
        });

        connection.on("addMessage", function (message, connectionId) {
            if (clients.indexOf(connectionId) === -1) {
                showWin(connectionId);
            }
            const chatWindow = $("#chating");
            let messages = message.slice(0, 3);
            const userClass = (messages.includes("客服")) ? "other-message" : "own-message";

            const newMessage = $(`<div class="message ${userClass}">
                                                            <span class="username"><strong></strong></span> ${message}
                                                  </div>`);

            chatWindow.prepend(newMessage);
        });
        connection.on("GetUsers", function (data) {
            var users = JSON.parse(data);
            console.log(users)
            var admiin = $('.chat-input');
            var chat = $('#chating')
            chat.html("")
            var hasAdminOnline = false;
            $.each(users, function (index, value) {
                if (value.Name == "客服人員") {
                    hasAdminOnline = true;
                    var btn = $(`<button class="chat-submit" connectionId="${value.ConnectionID}" id="chat-submit" onclick="sendMessages(this)"><i class="material-icons">送出</i></button>`);
                    admiin.append(btn);
                    return false;
                }
            });
            if (hasAdminOnline !== true) {
                const word = $(`<p>客服人員不在線上</p>`);
                chat.append(word);
            }
        });


        connection.on("showId", function (data) {
            document.getElementById("conId").textContent = data;
            clients.push(data);
        });




        function userChat(obj) {
            var connectionId = $(obj).attr('connectionId');
            showWin(connectionId);
        }

        function showWin(connectionId) {
            clients.push(connectionId);
            var html = '<div style="float:left;margin-top:5px;margin-right: 5px;margin-bottom: 5px;border:1px solid #ff0000" id="' + connectionId + '" connectionId="' + connectionId + '">' + connectionId + '"的房间聊天记录如下:<button onclick="exitChat(this)">退出</button><ul id="messages' + connectionId + '"></ul><input type="text" /> <button onclick="sendMessage(this)">发送</button></div>';
            $("#userBox").append(html);
        }

        function exitChat(btnObj) {
            $(btnObj).parent().remove();
            connection.invoke("ExitChat", connectionId); // 修改為使用invoke
        }

        //发送消息
        function sendMessage(data) {
            var message = $(data).prev().val();
            var userObj = $(data).parent();
            var username = $("#userName").html();
            message = username + ":" + message;
            var targetConnectionId = $(userObj).attr("connectionId");
            connection.invoke("SendMessage", targetConnectionId, message); // 修改為使用invoke
            $(data).prev().val("");
        }

        function sendMessages(data) {
            var message = $(data).prev().val();
            var username = $("#userName").html();
            message = username + ":" + message;
            console.log(message)
            var targetConnectionId = $(data).attr("connectionId");
            connection.invoke("SendMessage", targetConnectionId, message); // 修改為使用invoke
            $(data).prev().val("");
        }

    </script>

}
