@model IEnumerable<prjCatChaOnlineShop.Models.CModels.CProductItem>
@{
    ViewData["Title"] = "Shop";
}

@section Styles{
    <!-- Site Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/shop.css">
    <link rel="stylesheet" href="~/css/custom-home-details-wishlist.css" />
}
<!--提示訊息-->
<div class="toast-container position-fixed top-25 start-50 translate-middle">
    <div id="shop-toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <i></i>
                <strong></strong>
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- Start All Title Box -->
<div class="categories-shop">
    <div class="container">
        <div class="title-all text-left">
            <!--增加:Start當前分類-->
            <h1 id="categoryTitle" data-category-name="@ViewBag.CategoryName" data-order-by="@ViewBag.OrderBy"></h1>
        </div>
        <!--增加:End當前分類-->
        <div id="categoryList" class="row">
            @{

                @foreach (var item in Model.DistinctBy(item => item.pCategoryId))
                {

                    <div class="col-md-2 col-4">
                        <div class="shop-cat-boxs">
                            <a class="for-ajax" href="/Index/Shop?categoryName=@item.pCategoryName" data-category-name="@item.pCategoryName">
                                <img class="img-fluid" src="~/images/category_@{
                                        @item.pCategoryName
    }.jpg" alt="" />
                                <span>@item.pCategoryName</span>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- End Categories -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="shop-content-right">
                <div class="right-product-box">
                    <div class="d-flex text-center align-items-center flex-wrap justify-content-between mb-4">
                        <h3>篩選 <i class="fa-solid fa-grip-lines-vertical"></i></h3>


                        <div class="w-25" style="text-align:end">商品排序</div>
                        <div class="shop-filter-select ">
                            <select id="selOrder" class="form-select form-select-md" aria-label="排序方式">
                                <option value="0" selected>無</option>
                                <option value="1">熱賣程度:高到低</option>
                                <option value="2">熱賣程度:低到高</option>
                                <option value="3">上架時間:新到舊</option>
                                <option value="4">上架時間:舊到新</option>
                                <option value="5">價格:高至低</option>
                                <option value="6">價格:低至高</option>
                            </select>
                        </div>

                        <div>以品牌篩選</div>
                        <div class="shop-filter-select">

                            <select id="selBrand" class="form-select form-select-md" aria-label="品牌篩選">

                                <option value="" selected>無</option>
                                @foreach (var p in Model.DistinctBy(p => p.pBrandName).OrderBy(p => p.pBrandName))
                                {
                                    <option value="@p.pBrandName">@p.pBrandName</option>
                                }
                            </select>
                        </div>
                        <div class="filter-btn">
                            <button id="filter-submit" class="btn hvr-hover item-d" type="button">篩選</button>
                        </div>
                    </div>
                    <div class="d-flex text-center align-items-center justify-content-between">
                        <span>共<span style="font-size:large;color:red"> @ViewBag.ProductCount </span>項商品</span>
                        <div class="filter">
                            <span>顯示</span>
                            <div class="shop-filter-select">
                                <select id="itemPerPageSelect" class="form-select" aria-label="顯示多少筆數">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                </select>
                            </div>
                            <span>筆</span>
                        </div>
                    </div>
                    <!-- start 商品圖示 -->
                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                @* start 商品 *@
                                <div id=productList class="row ">
                                </div>
                                @* end 商品 *@
                            </div>
                            <!-- end 商品圖示 -->
                            <div class="text-center ">
                                <button id="showMore" class="btn-custom btn hvr-hover">
                                    顯示更多<i class="fas fa-angle-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- ALL JS FILES -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/inewsticker.js"></script>
    <script src="~/js/bootsnav.js."></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/forshop.js"></script>
}

